# NOTE: This I2P config file must use UTF-8 encoding
logger.consoleBufferSize=20
logger.dateFormat=
logger.defaultLevel=DEBUG
logger.displayOnScreen=true
logger.dropDuplicates=true
logger.dropOnOverflow=false
logger.flushInterval=29
logger.format=d p [t] c: m
logger.logBufferSize=1024
logger.logFileName=logs/log-router-@.txt
logger.logFileSize=10m
logger.logRotationLimit=2
logger.minimumOnScreenLevel=CRIT
