/* I2P Theme: Classic (aka corporat) */
/* I2P Description: Light blue "classic" I2P theme; optimized for less capable browsers and system specifications. */
/* Author: dr|z3d */


body {
     margin: 5px 3px 5px 6px;
     padding: 0;
     text-align: left;
     background: #bbf;
     color: #000;
     font: 9pt/140% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
}

.hide {
     display: none;
}

img {
     border: none;
}

pre {
     overflow: auto;
     font-size: 8pt !important;
     width: 95%;
     padding-top: 10px;
}

/* Sidepanel for proxy errors */

div.logo {
     float: left;
     position-relative: top 20px ;
     width: 200px;
     margin: 0 0 0 20px;
     padding: 10px 5px;
     text-align: center;
     border: 5px solid #ddf;
     background-color: #eef;
     -moz-box-shadow: inset 0px 0px 0px 2px #99f;
     -khtml-box-shadow: inset 0px 0px 0px 2px #99f;
}

div.logo hr {
     color: #ddf;
     background: #ddf;
     height: 5px;
     border: 0px solid #ddf;
     margin: 8px -3px;
}

div.logo a:link, div.logo a:visited {
     text-shadow: 0px 0px 1px rgba(0, 0, 32, 0.5);
}

div.logo a:active {
     text-shadow: 0px 0px 1px rgba(255, 96, 0, 0.7);
     color: #f60;
}

div.logo a:hover {
     text-shadow: 0px 0px 1px rgba(128, 0, 0, 0.7);
     color: #900;
}

/* HTTP Proxy warning Main box */

div.warning {
     margin: 25px 20px 15px 260px;
     padding: 0px 20px 20px 75px;
     background: #ffd;
     border: 5px solid #fb7;
     text-align: left;
     color: inherit;
     background-image:url("../images/itoopie_sm.png");     
     background-position: 12px center;
     background-repeat:no-repeat;
     -moz-box-shadow: inset 0px 0px 0px 2px #f60;
     -khtml-box-shadow: inset 0px 0px 0px 2px #f60;
}

div.warning a:link {
     color: #f60;
     text-shadow: 0px 0px 1px rgba(255, 96, 0, 0.5);
}

div.warning a:visited{
     color: #f90;
}

div.warning a:hover{
     color: #d30;
     text-shadow: 0px 0px 1px rgba(255, 96, 0, 0.7);
}

div.warning a:active{
     color: #900;
}

div.warning hr {
     color: #fb7;
     background: #fb7;
     height: 5px;
     border: 0px solid #fb7;
     margin: 5px 0;
}

div.warning h3 {
     border: 0;
     border-bottom: 5px solid #fb7;
     padding-bottom: 10px;
     background:none #FFFFDD !important;
     padding-left: 0;
}

/* console error messages */

div.sorry {
     padding: 20px;
     background: #ddf;
     margin: -1px 1px 0 200px;
     border: 1px solid #89f;
     text-align: justify;
     word-wrap: break-word;
     font-weight: bold;
     color: #001;
}

div.sorry hr {
     color: #89f;
     background: #89f;
     height: 1px;
     border: 0px solid #89f;
     margin: 10px 0;
}

div.toolbar {
     margin: 0em 0em 2em 0em;
     font-weight: bold;
     display: none !important;
}

/* Side panel */

div.routersummaryouter {
     float: left; 
     width: 193px;
     margin: 0;
     padding: 0;
     border: 0;
     clear: left; /* fixes a bug in Opera */
}

div.routersummary {
     background: #eef;
     width: 193px;
     color: inherit;
     margin: 0 0 5px;
     padding: 9px 1px 7px 1px;
     text-align: center !important;
     border: 1px solid #89f;
     border-bottom: 1px solid #89f;
     border-right: 1px solid #89f;
     word-wrap: break-word;
     font: 9pt/125% !important;
     -moz-border-radius: 3px 0 0 3px;
     -khtml-border-radius: 3px 0 0 3px;
     border-radius: 3px 0 0 3px;
}

div.routersummary input[type=text] {
     text-align: right !important;
}

div.routersummary hr {
     color: #89f;
     background: #89f;
     height: 0px;
     border-bottom: 1px solid #89f;
     margin: 8px -1px 7px -1px;
}

div.routersummary h3 {
     border: 0px solid #f00;
     font-size: 9.5pt;
     letter-spacing: 0.05em;
     margin: -7px -1px -8px -1px;
     padding: 3px 0;
     background: #f;
     text-transform: uppercase;
}

div.routersummary h4 {
     border: 0;
     border-bottom: 0 !important;
     font-size: 8.5pt;
     letter-spacing: 0.05em;
     margin: -7px -1px -8px -1px !important;
     padding: 8px 0;
     text-transform: capitalize;
     text-decoration: none !important;
     color: #2b2;
     line-height: 90%;
     background: #fff url(../light/images/magic.png);
}

div.routersummary h3 a, div.routersummary h4 a {
     text-decoration: none;
}

div.routersummary table {
     border: 0;
     text-align: center !important;
     margin: -5px 0px -5px 0px;
     width: 193px !important;
     overflow: hidden;
     font-size: 8pt;
     padding: 0 -12px;
     background-image: none !important;
     background-color: transparent !important;
}

div.routersummary tr {
     background-image: none !important;
     background-color: transparent !important; 
     border: 0 !important;
}

div.tunnels table {
     margin: 0 -7px !important;
     width: 193px;
}

div.tunnels table{
     margin: -2px 0px -4px 0px !important;
     text-align: center !important;
     width: 190px;
}

.tunnels tr {
     padding: 2px 0 !important;
}

.tunnels a {
     text-transform: capitalize;
}

.tunnels td:first-child {
     width: 16px !important;
     padding-right: 0px;
     text-align: left;
}

.tunnels td:last-child {
     width: 12px;
     text-align: right;
     margin-right: -2px;
}    
     
div.refresh {
     margin-top: 10px !important;
     margin-bottom: 10px !important;
     padding: 2px 0 !important;
}

div.routersummary p {
     padding: 0;
}     

div.routersummary a:link, div.routersummary a:visited {
     text-shadow: 0px 0px 1px rgba(0, 0, 32, 0.3);
}

div.routersummary a:hover {
     text-shadow: 0px 0px 1px rgba(255, 96, 0, 0.7);
     color: #f60;
}

div.routersummary td {
     padding: 0 4px;
     background-image: none !important;
     border: 0 !important;
}

div.main {
     margin: 0px 1px 0px 200px;
     padding: 15px 15px 10px 15px;
     background: #eef;
     border: 1px solid #89f;
     border-bottom: 1px solid #89f;
     border-right: 1px solid #89f;
     border-top: 0;
     text-align: left;
     color: #001;
     min-width: 510px;
     -moz-border-radius: 0 0 3px 0;
     -khtml-border-radius: 0 0 3px 0;
     border-radius: 0 0 3px 0;
     background: #eef url("/themes/snark/ubergine/images/hat.png") no-repeat scroll right bottom !important;
}

div.main ul {
     margin: -10px 0 10px -10px;
}

div.main li {
     padding: 0 0 5px 0;
     list-style: square;
     word-wrap: break-word;
     margin-right: 20px;
}

div.main li:first-child {
     padding-top: 15px;
}

div.main li b {
     color: #161!important;
     letter-spacing: 0.01em;
     font-size: 9.5pt;
     line-height: 170%;
}

div.main hr:last-child {
     margin: 15px 0 10px 0;
}

div.main textarea {
     width: 98% !important; 
     margin: 2px 0 2px 5px;
     min-height: 96px;
}

div.main h2 {
     margin-top: 20px;
     margin-bottom: 10px !important;
     -moz-border-radius: 0 3px 0 0;
     -khtml-border-radius: 0 3px 0 0;
     border-radius: 0 3px 0 0;
}

div.welcome {
     margin-top: 5px;
}

div.main h2:first-child, div.main h3:first-child {
     margin-top: 0px; 
     margin-bottom: -5px;
}

div.wideload h2 {
     margin-bottom: 0px !important;
}

div.wideload h3:first-child {
     margin-top: 0 !important;
}

div.wideload h3 {
     margin-top: 15px !important;      
     margin-bottom: 0px !important;
}

div.wideload p !important {
     margin-top: 5px;
}

div.news {
     margin: -1px 1px 0 200px;
     background: #ffffc0;
     border: 1px solid #89f;
     border-bottom: 1px solid #89f;
     border-right: 1px solid #89f;
     text-align: right;
     color: #770;
     min-width: 500px;
     padding-bottom: 8px;
     padding-left: 10px;
     padding-right: 10px;
     padding: 0 10px 3px 10px;
     font-size: 7pt;
}

/* convert the list entry to our title */

div.news li {
     text-align: justify;
     list-style: none;
     margin: 15px 15px -10px -20px;
     padding: 0px 0 15px 0;
     border-bottom: 2px dotted #cc7;
     border-top: 0px solid #cc7;     
     padding: 3px 5px 5px 0;
     font-size: 10pt;
     color: #540;
     text-transform: capitalize;
}

div.news h3 {
     background: none !important;
     text-align: left;
     border: none !important;
     border-bottom: 1px dotted !important;
     -moz-box-shadow: none;
     -hktml-box-shadow: none;
     box-shadow: none;
     font-size: 10pt !important;
     letter-spacing: 0.05em;
     text-transform: capitalize !important;
     text-shadow: none !important;
     padding: 5px 10px 3px;
     margin: 10px 10px -7px !important;
}

div.news p {
     color: #330;
     font-size: 9pt;
     margin-bottom: -10px;
}
/*
div.news p:first-child {
     padding-top: 15px !important;
}

 
div.news p:nth-child(2n) {
     padding-top: 15px !important;
}
*/
div.news p:last-child {
     margin-bottom: 10px;
}

div.news a:link {
     color: #663;
     text-shadow: 0px 0px 1px rgba(128, 128, 48, 0.3);
}

div.news a:visited {
     color: #773 !important;
     text-shadow: 0px 0px 1px rgba(128, 128, 48, 0.3);
}

div.news hr {
     color: #cc7;
     background: #cc7;
     height: 1px;
     border: 0px solid #cc7;
     margin: 10px 0 2px 0;
}

div.confignav {
     padding: 15px 0;
     margin: -16px -16px 0 -16px;
     border: 1px solid #89f;
     font-size: 9.5pt;
}

div.confignav a {
}

div.configure {
     margin: 1px -20px 0 -20px;
     padding: 0px 20px 0px 20px;
}

div.configure hr {
     margin: 15px 0;
}

div.configure table {
     font-size: 9pt;
     font-weight: bold;
     border: 1px solid #89f;
}

div.configure tr, div.configure td {
     padding: 10px 2px;
}

div.configure tr {
}

div.configure li:first-child, div.main li:first-child {
     margin-top: -10px;
}

div.configure li:last-child {
     margin-bottom: -5px;
}

div.configure h2:first-child {
     margin-top: 15px;
}

.topshimten {
     margin-top: 15px;
     margin-bottom: 15px;
} 

div.messages {
     padding: 0px 10px;
     background: #fff;
     border: 1px solid #89f;
     border-right: 0;
     margin: -1px -15px 10px -16px;
     text-align: center;
     font-size: 9pt;
     font-weight: bold;
     color: #474;
}

div.messages li, div.messages ul {
     padding: 10px 0 0 5px;
     margin: -10px 0 0 0;
}

div.messages span.error {
     color: #d00000;
}

div.messages span.notice {
     font-style: italic;
}

h1 {
     font-size: 18pt;
     text-shadow: 0px 0px 1px rgba(0, 0, 32, 0.7);
     text-align: left;
     border: 1px solid #89f;
     border-bottom: 1px solid #89f;
     border-right: 1px solid #89f;
     padding: 19px 20px;
     margin: 0 1px 0 200px;
     line-height: 93%;
     text-transform: uppercase;
     letter-spacing: 0.3em;
     background: #fff;
     min-width: 500px;
     -moz-border-radius: 0 3px 0 0;
     -khtml-border-radius: 0 3px 0 0;
     border-radius: 0 3px 0 0;
}

h2 {
     font-size: 14pt;
     padding: 10px;
     border: 1px solid #89f;
     letter-spacing: 0.04em;
/*     font-variant: small-caps; */
     text-transform: uppercase; 
     background: #fff;
     text-shadow: 0px 1px 1px #99f;
}

h3 {
     font-size: 12pt;
     padding: 6px 10px 8px;
     border: 1px solid #89f;
     letter-spacing: 0.04em;
     margin-bottom: 10px;
     background: #fff;
     text-transform: uppercase;
     text-shadow: 0px 1px 1px #99f;
}

h2, h3 {
     background-image: url("images/titlebg.png") !important; 
     background-repeat: no-repeat; 
     background-position: center right;
     -moz-border-radius: 0 3px 0 0;
     -khtml-border-radius: 0 3px 0 0;
     border-radius: 0 3px 0 0;
}

.routersummary h2, .routersummary h3, div.confignav, th {
     background-image: url("images/tinytitle.png") !important; 
     background-repeat: repeat-x; 
     background-position: center right;
}


.proxyfooter{
     font-size: 7pt;
     display: none !important;
}

table {
     border-collapse: collapse; 
     border: 1px solid #89f;
     margin: 0 0 5px 0;
     cell-padding: 1px;
     font-size: 7.5pt;
     background: #fff;
     width: 100%;
}

table hr {
     padding: 0;
     color: #89f;
     background: #89f;
     border: 0px solid #89f;
     margin: -5px -5px -10px -5px !important;
     height: 1px;
}

table tt {
     font-size: 7.5pt;
}

table code {
     font-size: 120%;
}

th {
     background-color: #fff;
     padding: 8px 2px;
     text-align: center;
     border-bottom: 1px solid #89f;
}

tt {
     font-size: 8pt;
}

tt, pre {
     font: 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
}
     
td {
     padding: 4px;
}

tr:nth-child(even) {
     background: #fff url(../light/images/magic.png);
}

tr:nth-child(odd) {
     background: #eef url(../light/images/magic.png);
}

hr {
     color: #89f;
     background: #89f;
     height: 2px;
     border: 0px solid #89f;
     margin: 3px 0;
}

.statusnotes {
     font-style: italic;
     font-size: 8pt;
     color: #001;
     text-align: center;
     margin: -5px 0 7px 0; 
     background: #fff;
     border: 1px solid #bbf;
     border-top: 0;
     padding: 4px 0 2px 0;
     background-image: url("images/tinytitle.png") !important; 
     background-repeat: repeat-x; 
     background-position: center right;
}

div.joblog {
     margin: 10px 0;
     line-height: 130% !important;
}

div.joblog:li {
     word-wrap: break-word !important;
     text-align: justify !important;
     line-height: 80% !important;
}

div.joblog:ul {
     word-wrap: break-word !important;
     text-align: justify;
}

div.joblog li:first-child {
     margin-top: -10px;
}

div.joblog li:last-child {
     margin-bottom: -10px;
}

div.joblog form:first-child {
     margin-top: 10px;
}

div.joblog table {
     margin-top: 15px;
}

div.joblog p {
     line-height: 130%;
}

div.joblog h3 {
     margin: 10px 0 20px 0;
}

div.joblog h3:first-child {
     margin: -10px 0 15px 0;
}

div.joblog hr {
     margin: 15px 0 15px;
}

div.joblog ol {
     margin-bottom: 0px;
}
 
input {
     margin: 3px 5px 3px 0;
     vertical-align: middle;
}

input[type=text], input[type=password] {
     margin: 3px 5px 3px 5px;
     vertical-align: middle;
}
select {
     margin: 3px 5px 3px 5px;
     vertical-align: middle;
}

submit {
     margin: 3px 5px 3px 5px;
     padding 2px 0;
     font: 8pt/140% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
}

p {
     padding: 5px 20px 0px 20px;
     text-align: justify;
}

.formaction {
     text-align: right;
     margin: -10px -5px;
}

.langbox {
     margin: 5px -20px 0px 5px;
     color: #001;
     font-size: 7pt;
     width: 280px;
     text-align: center;
     float: right;
     valign: middle;
}

.langbox img {
     padding: 0 2px; /* Ignored by IE8 */
}

.links {
     padding-bottom: -2px;
     text-align: justify;
     margin-top: 5px !important;
}

.links li {
     list-style-image: url("images/link.png") !important;
     padding: 5px 10px 0 !important;
}

.links li:first-child {
     padding: 14px 10px 5px !important;
}

.links li:last-child {
     margin-bottom: 0px !important;
     margin-top: 0px;
}

.links b {
     font-size: 10pt;
     line-height: 150%;
     letter-spacing: 0.02em;
}

a:link{
     color: #006;
     text-decoration: none;
     font-weight: bold;
     word-wrap: break-word;
}

a:visited{
     color: #448;
     text-decoration: none;
     font-weight: bold;
}

a:hover{
     color: #f60;
     text-decoration: underline;
     font-weight: bold;
     text-shadow: 0px 0px 1px rgba(255, 96, 0, 0.7);
}

a:active{
     color: #f93;
     text-decoration: underline;
     font-weight: bold;
}

pre {
     font-size: 9pt;
     margin: 0px 20px;
}

tt {
     font-size: 9pt;
     font-weight: bold;
     color: darkgreen;
}
 
.tablefooter {
     border: 1px solid #a8f;
}

.tablefooter tr, .tablefooter td {
     background: #fff;
     background-image: url("images/tinytitle.png") !important; 
     background-repeat: repeat-x; 
     background-position: center right;
     font-size: 8pt;
     font-weight: bold;
     line-height: 150%;
     word-wrap: nowrap;
     padding: 8px 1px;
     border-top: 2px solid #89f;
}

.tidylist {
     text-align: justify;
     padding-right: 25px;
     margin-right: 15px !important;
     margin-left: 15px;
}

.tidylist code {
     text-align: left;
     font: 9pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     color: #723;
     padding: 2px 3px;
/*     background: #fff;*/
     font-weight: bold;
}

div.graphspanel {
     padding: 10px 5px 20px 5px;
     margin: -16px -16px -11px -16px;
/*     border: 1px solid #89f;*/
     text-align: center !important;   
}

div.graphspanel img {
     border: 1px solid #77f;
     padding: 2px;
     margin: 6px;
     background: #ccf;
     -moz-box-shadow: inset 0px 0px 0px 0px #002;
     opacity: 0.9;
}

div.graphspanel img:hover {
     border: 1px solid #89f;
     padding: 2px;
     margin: 6px;
     text-align: center !important;
     background: #001;
     -moz-box-shadow: inset 0px 0px 2px 1px #f60;
     opacity: 1;
}

div.graphspanel hr {
     margin: 10px 0;
}

div.graphspanel form:last-child {
     text-align: left;
     margin: 0 20px;
}

div.graphspanel h3 {
     text-align: left;
     margin: 10px 20px 10px 20px;
}

div.footnote {
     text-align: right;
     color: #339;
     font-size: 7pt;
     margin-bottom: -4px !Important;
}

div.footnote hr{
     margin: 10px 0 5px 0 !important;
     color: #99f;
     background: #99f;
     height: 1px;
     border: 0px solid #99f;
}

.topness {
     font-size: 7.5pt;
     text-align: right;
     margin-top: -8px;
     margin-bottom: -5px;
     margin-right: 5px;
}
