/* Classic & Midnight Themes */
/* Larger fontsize override for sidepanel to accomodate foreign charactersets */

/* sidepanel */

div.routersummary {
     font: 9.5pt/125%;
}

div.routersummary h3 {
     font-size: 12.5pt;
}

div.routersummary h4 {
     font-size: 11.5pt;
}

div.routersummary table {
     font-size: 8.5pt;
}

div.routersummary table a:link, div.routersummary table a:visited {
     font-size: 10.5pt;
}     

div.tunnels a{
     font-size: 8pt !important;
}

/* global overrides */

a, b {
    font-weight: normal !important;
}

body {
     font: 10pt/140% "Bitstream Vera Sans", Verdana, Helvetica, Sans, sans-serif;
}