body {
     margin: 15px 0;
     padding: 0;
     text-align: left;
     background: #FFF;
     color: #000;
/*
     font: 10pt/140% Verdana, Tahoma, Helvetica, sans-serif;
*/
     font: 10pt/140% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
}

.hide {
     display: none;
}

img {
     border: none;
}

pre {
     overflow: auto;
     font-size: 8pt !important;
     width: 100%;
}

div.logo {
     float: left;
     width: 200px;
     left: 1em;
     top: 1em;
     margin: 0em;
     padding: .5em;
     text-align: center;
}

div.toolbar {
     margin: 0em 0em 2em 0em;
     font-weight: bold;
     display: none !important;
}

div.routersummaryouter {
     float: left; 
     width: 200px;
     margin: 0;
     padding: 0;
     border: 0;
     clear: left; /*  fixes a bug in Opera */
}

div.routersummary {
     background: #fafaff;
     width: 180px;
     color: inherit;
     margin: 0;
     padding: 5px 0 0 10px;
     text-align: left !important;
     border: 5px solid #efefff;
     font-size: 9pt;
     word-wrap: break-word;
     font: 9pt/125%;
}

div.routersummary hr {
     color: #ccf;
     background: #ccf;
     height: 2px;
     border: 0px solid #ccf;
     margin: 4px 0;
}

div.routersummary p {
     padding: 0;
}     

div.warning {
     margin: 0 10px 10px 205px;
     padding: 5px 10px;
     background: #ffefef;
     border: medium solid #ffafaf;
     text-align: left;
     color: inherit;
}

div.main {
     margin: 0 20px 10px 205px;
     padding: 5px 15px 15px 15px;
     background: #ffffef;
     border: 5px solid #ffffd0;
     text-align: left;
     color: inherit;
}


div.main textarea {
     width: 100% !important; 

}

div.news {
     margin: 0 20px 0 205px;
     padding: -10px 15px 5px 15px;
     background: #ffffc0;
     border: 5px solid #ffffa0;
     text-align: justify;
     color: inherit;
}

div.news li {
     text-align: justify;
     list-style: none;
     margin: -10px 20px -20px -20px;
     padding: 8px 0;
     border: 1px solid #330;
     border-left: 5px solid #330;
     padding: 3px 5px 3px 5px;
     background: #fe7;
     font-size: 12pt;
}

div.news a:link {

}

div.confignav {
     padding: 12px 0 15px 0;
     background: #cfc;
     margin: -10px -20px 0 -10px;
     border: 5px solid #9f9;
}

div.configure {
     margin: 0 -20px 0 -10px;
     padding: 10px 20px 5px 20px;
     background: #ffffc0;
}

div.messages {
     padding: 10px;
     background: #fafaff;
     border: 5px solid #fdd;
     margin: 0px -20px 0px -10px;
}

div.messages span.error {
     color: #d00000;
}

div.messages span.notice {
     font-style: italic;
}

h1 {
     font-size: 18pt;
     text-align: center;
     border: 5px solid #efefff;
     border-bottom: 5px solid #efefff;
     padding: 10px;
     margin: 0 20px 0 205px;
     line-height: 93%;
     text-transform: uppercase;
     letter-spacing: 0.3em;
     background: #fff;
}

h2 {
     font-size: 14pt;
     padding: 10px;
     border-bottom: 2px solid #001;
     border-top: 2px solid #001;
     letter-spacing: 0.04em;
}

h3 {
     font-size: 12pt;
     padding: 10px;
     border-bottom: 2px solid #001;
     border-top: 2px solid #001;
     letter-spacing: 0.04em;
}

.proxyfooter{
     font-size: 7pt;
     display: none !important;
}

table {
/*     border-collapse: collapse; */
     border: 5px solid #dfd;
     margin: 5px 0px;
     cell-padding: 1px;
     font-size: 7pt;
     background: #fff;
     width: 100%;
}

th {
     background-color: #ccf;
     padding: 5px 2px;
     text-align: center;
}

tt {
     font-size: 8pt;
}

td {
     padding: 2px;
}

tr:nth-child(even) {
     background-color: #eef;
}

tr:nth-child(odd) {
     background-color: #ddf;
}

hr {
     color: #dd9;
     background: #dd9;
     height: 2px;
     border: 0px solid #dd5;
     margin: 5px 0;
}

.statusnotes {
     font-style: italic;
     font-size: 8pt;
     color: #001;
     text-align: center;
     margin: -3px 0 0 0; 
     background: #fff;
 }
 
input {
     margin: 3px 5px 3px 0;
     vertical-align: middle;
}

select {
     margin: 3px 5px 3px 0;
     vertical-align: middle;
}

submit {
     padding 0 2px;
}

p {
     padding: 5px 20px 0px 20px;
     text-align: justify;
}

.formaction {
     text-align: right;
}

.langbox {
     margin: 30px 0 0px 5px;
     color: #001;
     font-size: 7pt;
     width: 180px;
     text-align: center;
     float: right;
     valign: middle;
}

.langbox img {
     padding: 0 2px; /* Ignored by IE8 */
}

a:link{
     color: #006;
     text-decoration: none;
     font-weight: bold;
     word-wrap: break-word;
}

a:visited{
     color: #448;
     text-decoration: none;
     font-weight: bold;
}

a:hover{
     color: #f60;
     text-decoration: underline;
     font-weight: bold;
}

a:active{
     color: #f93;
     text-decoration: underline;
     font-weight: bold;
}

pre {
     font-size: 9pt;
     margin: 0px 20px;
}

tt {
     font-size: 9pt;
     font-weight: bold;
     color: darkgreen;
}

.tablefooter {
     border: 1px solid #f00;
}

.tablefooter tr, .tablefooter td {
     background: #aaf;
     font-size: 8pt;
     font-weight: bold;
     line-height: 150%;
}

.tidylist {
     text-align: justify;
}