body {
     margin: 1em 0em;
     padding: 0em;
     text-align: center;
     background: #FFF;
     color: #000;
     font: 10pt/120% Verdana, Tahoma, Helvetica, sans-serif;
}

.hide {
     display: none;
}

img {
     border: none;
}

pre {
     width: 100%;
     overflow-x: scroll;
}

div.logo {
     float: left;
     width: 200px;
     left: 1em;
     top: 1em;
     margin: 0em;
     padding: .5em;
     text-align: center;
}

div.toolbar {
     margin: 0em 0em 2em 0em;
     font-weight: bold;
     display: none !important;
}

div.routersummaryouter {
     float: left;
     width: 200px;
     margin: 0;
     padding: 0;
     border: 0;
     clear: left;/* fixes a bug in Opera */
     overflow: auto;
}

div.routersummary {
     background: #fafaff;
     width: 175px;
     color: inherit;
     margin: 0em;
     padding: 5px;
     text-align: left;
     border: medium solid #efefff;
     font-size: 9pt;
     word-wrap: break-word;
}

div.routersummary hr {
     color: #ccf;
     background: #ccf;
     height: 2px;
     border: 0px solid #ccf;
     margin: 10px 0;
}
div.warning {
     margin: 0em 1em 1em 224px;
     padding: .5em 1em;
     background: #ffefef;
     border: medium solid #ffafaf;
     text-align: left;
     color: inherit;
}

div.main {
     margin: 0em 1em 1em 224px;
     padding: .5em 1em;
     background: #ffffef;
     border: medium solid #ffffd0;
     text-align: left;
     color: inherit;
}

div.main textarea {
     width: 100% !important;
}

div.news {
     margin: 0em 1em 1em 224px;
     padding: .5em 1em;
     background: #ffffc0;
     border: medium solid #ffffa0;
     text-align: justify;
     color: inherit;
}

div.confignav {
     padding: 1em;
     background: #efefff;
}

div.configure {
     padding: 1em;
     background: #ffffc0;
}

div.messages {
     padding: 1em;
     background: #fafaff;
}

div.messages span.error {
     color: #d00000;
}

div.messages span.notice {
     font-style: italic;
}

h1 {
     font-size: 18pt;
}

.proxyfooter{
     font-size: 7pt;
     display: none !important;
}

table {
     border-collapse: collapse;
     width: 100%;
     border: 5px solid #dfd;
     margin: 5px 0px;
     cell-padding: 1px;
     font-size: 7pt;
     background: #fff;
}

th {
     background-color: #ccf;
     padding: 5px 2px;
}

tt {
     font-size: 8pt;
}

td {
     padding: 2px;
}

tr:nth-child(even) {
     background-color: #eef;
}

tr:nth-child(odd) {
     background-color: #ddf;
}

hr {
     color: #ff9;
     background: #ff9;
     height: 2px;
     border: 0px solid #ff9;
     margin: 10px 0;
}