/* Optimised for less capable browers and system specifications */

body {
     margin: 0;
     padding: 0;
     text-align: left;
     background: #FFF;
     color: #000;
/*
     font: 10pt/140% Verdana, Tahoma, Helvetica, sans-serif;
*/
     font: 9pt/140% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
}

.hide {
     display: none;
}

img {
     border: none;
}

pre {
     overflow: auto;
     font-size: 8pt !important;
     width: 100%;
}

div.logo {
     float: left;
     width: 175px;
     margin: 0 0 0 20px;
     padding: 10px;
     text-align: center;
     border: 5px solid #dedeff;
     background-color: #eef;
}

div.toolbar {
     margin: 0em 0em 2em 0em;
     font-weight: bold;
     display: none !important;
}

div.routersummaryouter {
     float: left; 
     width: 200px;
     margin: 0;
     padding: 0;
     border: 0;
     clear: left; /*  fixes a bug in Opera */
}

div.routersummary {
     background: #ddf;
     width: 190px;
     color: inherit;
     margin: 0;
     padding: 7px 0 0 0px;
     text-align: center !important;
     border: 5px solid #bbf;
     font-size: 9pt;
     word-wrap: break-word;
     font: 9pt/125%;
}

div.routersummary hr {
     color: #bbf;
     background: #bbf;
     height: 5px;
     border: 0px solid #bbf;
     margin: 4px 0;
}

div.routersummary p {
     padding: 0;
}     

div.warning {
     margin: 20px 20px 10px 240px;
     padding: 10px 20px 20px 75px;
     background: #ffefef;
     border: 5px solid #ffafaf;
     text-align: left;
     color: inherit;
     background-image:url("../images/errortriangle.png");
     background-position:15px center;
     background-repeat:no-repeat;
}

div.main {
     margin: 0px 0px 10px 195px;
     padding: 15px 15px 15px 15px;
     background: #eef;
     border: 5px solid #bbf;
     border-top: 0;
     text-align: left;
     color: #001;
     min-width: 570px;
}

div.main li {
     padding-bottom: 10px;
}

div.main textarea {
     width: 100% !important; 

}

div.news {
     margin: -5px 0px 0 195px;
     padding: -10px 15px 15px 15px;
     background: #ffffc0;
     border: 5px solid #bbf;
     text-align: justify;
     color: inherit;
     min-width: 600px;
}

div.news li {
     text-align: justify;
     list-style: none;
     margin: -10px 20px -20px -20px;
     padding: 8px 0;
     border: 1px solid #330;
     border-left: 5px solid #330;
     padding: 3px 5px 3px 5px;
     background: #fe7;
     font-size: 12pt;
}

div.news a:link {

}

div.confignav {
     padding: 12px 0 15px 0;
     background: #cfc;
     margin: -20px -20px 0 -23px;
     border: 5px solid #bbf;
}

div.configure {
     margin: 0 -20px 0 -20px;
     padding: 0px 20px 0px 20px;
/*     background: #eeffee;*/
}

div.messages {
     padding: 10px;
     background: #fafaff;
     border: 5px solid #fdd;
     border-right: 0;
     margin: 0px -15px 0px -20px;
     text-align: center;
     font-size: 9pt;
     font-weight: bold;
     color: #444455;
}

div.messages span.error {
     color: #d00000;
}

div.messages span.notice {
     font-style: italic;
}

h1 {
     font-size: 18pt;
     text-align: center;
     border: 5px solid #bbf;
     padding: 13px 10px 12px 10px;
     margin: 0 0px 0 175px;
     line-height: 93%;
     text-transform: uppercase;
     letter-spacing: 0.3em;
     background: #fff;
     min-width: 600px;
}

h2 {
     font-size: 14pt;
     padding: 10px;
     border-bottom: 5px solid #bbf;
     border-top: 0px solid #bbf;
     letter-spacing: 0.04em;
}

h3 {
     font-size: 12pt;
     padding: 0 10px 10px 10px;
     border-bottom: 5px solid #bbf;
     border-top: 0px solid #bbf;
     letter-spacing: 0.04em;
}

.proxyfooter{
     font-size: 7pt;
     display: none !important;
}

table {
     border-collapse: collapse; 
     border: 5px solid #bbf;
     margin: 5px 0px;
     cell-padding: 1px;
     font-size: 7pt;
     background: #fff;
     width: 100%;
}

table hr {
     padding: 1px 0;
}

th {
     background-color: #def;
     padding: 8px 2px;
     text-align: center;
     border-bottom: 1px solid #88f;
}

tt {
     font-size: 8pt;
}

td {
     padding: 4px;
}

tr:nth-child(even) {
     background-color: #eef;
}

tr:nth-child(odd) {
     background-color: #ddf;
}

hr {
     color: #bbf;
     background: #bbf;
     height: 5px;
     border: 0px solid #bbf;
     margin: 5px 0;
}

.statusnotes {
     font-style: italic;
     font-size: 8pt;
     color: #001;
     text-align: center;
     margin: -7px 0 7px 0; 
     background: #bbf;
     border: 5px solid #bbf;
     border-top: 0;
     padding: 4px 0 2px 0;
}
 
input {
     margin: 3px 5px 3px 0;
     vertical-align: middle;
}

select {
     margin: 3px 5px 3px 5px;
     vertical-align: middle;
}

submit {
     margin: 3px 5px 3px 5px;
     padding 0 2px;
}

p {
     padding: 5px 20px 0px 20px;
     text-align: justify;
}

.formaction {
     text-align: right;
}

.langbox {
     margin: 30px 0 0px 5px;
     color: #001;
     font-size: 7pt;
     width: 180px;
     text-align: center;
     float: right;
     valign: middle;
}

.langbox img {
     padding: 0 2px; /* Ignored by IE8 */
}

a:link{
     color: #006;
     text-decoration: none;
     font-weight: bold;
     word-wrap: break-word;
}

a:visited{
     color: #448;
     text-decoration: none;
     font-weight: bold;
}

a:hover{
     color: #f60;
     text-decoration: underline;
     font-weight: bold;
}

a:active{
     color: #f93;
     text-decoration: underline;
     font-weight: bold;
}

pre {
     font-size: 9pt;
     margin: 0px 20px;
}

tt {
     font-size: 9pt;
     font-weight: bold;
     color: darkgreen;
}

.tablefooter {
     border: 1px solid #88f;
}

.tablefooter tr, .tablefooter td {
     background: #bbf;
     font-size: 8pt;
     font-weight: bold;
     line-height: 150%;
     word-wrap: nowrap;
     padding: 8px 1px;
}

.tidylist {
     text-align: justify;
}
