/* I2P Theme: I2P Classic Theme Override */
/* I2P Description: Larger fontsize override for console to accomodate foreign charactersets */
/* Author: dr|z3d */

* {
     text-shadow: none !important;
     font-weight: normal !important;
     font-size: 11pt !important;
     letter-spacing: normal !important;
     word-spacing: normal !important;
     line-height: 140% !important;
}

b {
     font-weight: normal !important;
}

input[type="submit"], input[type="cancel"], input[type="file"], button, button.search, input.cancel {
     font-size: 11pt !important;
     padding-top: 3px;
     padding-bottom: 3px;
     line-height: 140% !important;
     display: inline-block;
     letter-spacing: 0.05em;
}

input[type="submit"], input[type="cancel"], input[type="file"], button, button.search, input.cancel, div.app, .themelabel, .ui_lang, .tab a, label, a, li {
     letter-spacing: 0.05em !important;
}

.routersummary button {
     min-width: 100px !important;
     padding-top: 3px !important;
     padding-bottom: 3px !important;
}

/* sidepanel */

.routersummary h3, .routersummary h3 a  {
     font-size: 13pt !important;
}

.routersummary h4, .routersummary h4 a {
     font-size: 13pt !important;
     letter-spacing: 0;
}

.routersummary td {
     font-size: 11pt;
}

.routersummary {
     width: 220px;
}

.routersummary table {
     width: 219px !important;
}

#sb_bandwidth td:first-child {
     width: 20px !important;
     white-space: nowrap;
}

#sb_bandwidth td:last-child {
     width: 80% !important;
}

#sb_bandwidth td:last-child, #sb_peers td:last-child, #sb_peersadvanced td:last-child, #sb_queue td:last-child,  #sb_tunnels td:last-child, #sb_general td:last-child, #sb_shortgeneral td:last-child, #sb_advancedgeneral td:last-child {
     font-size: 10pt !important;
}

.routersummary table a:link, .routersummary table a:visited {
     font-size: 12pt;
     font-weight: normal;
     text-shadow: none;
}

#sb_bandwidthgraph {
     width: 218px !important;
     margin: -25px 0 -6px !important;
}

#sb_graphstats {
     font-size: 9pt !important;
}

#sb_graphcontainer {
     background-position: left -66px top -30px !important;
     background-size: 340px 80px !important;
}

.percentBarOuter {
     width: 212px !important;
     margin: -3px 0 -4px 3px;
}

.percentBarText {
     font-size: 9pt !important;
     padding: 0 !important;
     margin-top: -1px;
}

/* end sidepanel */

/* global overrides */

a, b, .routersummary h3 a, .routersummary h4 {
    font-weight: normal !important;
    font-size: 100%;
}

b, a, input, button, submit, i, th, thead, tfoot, h1, h2, h3, h4, .messages {
     font-weight: normal !important;
     font-style: normal !important;
     text-shadow: none;
}

body, .main {
     font: 12pt "Noto Sans", "Droid Sans", "Segoe UI", "Lucida Grande", Verdana, "Bitstream Vera Sans", Helvetica, Sans, sans-serif;
}

h1 {
     font-size: 18pt !important;
     padding: 14px 20px 12px;
}

h2 {
     font-size: 16pt !important;
}

h3, .configtable th {
     font-size: 14pt !important;
}

h3 a {
     display: inline-block;
     padding: 3px 2px;
}

h4 {
     font-size: 13pt !important;
}

h1, h2, h3, h4 {
     letter-spacing: 0.08em !important;
     word-spacing: 0.1em !important;
}

.infohelp, .infowarn, .infowarn b, #helptranslate {
     letter-spacing: 0.1em !important;
     word-spacing: 0.2em !important;
}

.suboption {
     display: inline-block;
     margin-bottom: 5px !important;
}

/* end global overrides */

div.tunnels a {
     font-size: 12pt !important;
}

div.tunnels td:first-child, div.tunnels td:last-child  {
     width: 16px;
}

div.tunnels td:last-child {
     text-align: left;
}

div.tunnels td {
     padding: 0 2px;
}

div.main, div.main p, div.news p {
     line-height: 140%;
}

div.main, div.news, h1, .sorry {
     margin-left: 227px;
}

.langbox {
     width: 400px;
     margin-top: 5px;
     margin-right: 8px;
}

.joblog li i {
     font-weight: normal;
}

.joblog b {
    color: #003;
    font-size: 110%;
}

table code {
     font-size: 120%;
}

.tab, .tab2 {
     font-size: 11pt;
}

.applabel a {
     padding: 0 2px 6px !important;
}

.themelabel, .ui_lang {
     font-size: 12pt !important;
     font-weight: normal !important;
     overflow: hidden;
     text-overflow: hidden;
     padding-bottom: 4px !important;
}

.ui_lang {
     font-size: 9pt !important;
}

#themeui.formaction {
     margin-top: 8px !important;
}

div.themechoice, div.langselect {
     width: 140px;
}

h3.ptitle, h3#i2pclientconfig {
     margin-bottom: -17px !important;
}

h3#systray, h3#servicedebug, h3#browseronstart {
     margin-bottom: -17px !important;
}

h3#pluginmanage {
     margin-bottom: -22px !important;
}

.formaction, #consolepass + .formaction, #sidebardefaults, #webappconfigactions.formaction, #clientsconfig.formaction, #homesites, #homeapps {
     margin-top: -6px !important;
}

table + .formaction {
     margin-top: -1px !important;
}

hr + .formaction {
     margin-top: 0 !important;
}

h4#updateplugins {
     margin-top: -16px;
}

 #tunnelconfigsave {
     margin-top: -6px !important;
}

#resetreseed input.reload {
     margin-top: 20px;
     margin-bottom: 0;
}

p#keyringhelp, #tunnelconfig + .infohelp {
     margin-bottom: 15px !important;
}

h3.stats {
     margin-top: -1px !important;
}

.main#stats form {
     margin-top: 0;
     margin-bottom: -1px;
}
input[type="text"], input[type="password"] {
     min-width: 0;
}

input[type="radio"], input[type="checkbox"] {
     margin-top: 6px;
     margin-bottom: 6px;
}

input[name="pluginURL"] {
     max-width: 250px !important;
     width: 250px !important;
}

button.control {
     font-size: 0 !important;
}

.infohelp, .infowarn {
     line-height: 160% !important;
}

p.infohelp {
     margin-bottom: -7px;
}

#advancedsettings, .main textarea {
     font-size: 10pt !important;
}

#webappconfig {
     margin-bottom: -37px !important;
}

.formaction#webappconfigactions {
     margin-top: 36px !important;
}

p[style="margin: 0px 12px"] {
     margin-left: 5px !important;
     padding: 8px 0 !important;
}

#news hr + i {
     display: inline-block;
     margin-top: 4px !important;
}

.newsAuthor {
     background-position: left top 8px !important;
     background-size: 12px 12px !important;
     padding-left: 14px;
}

input.search[type="text"] {
     padding-left: 30px;
     background-position: 8px center;
}

.main#jardump b {
     font-size: 9pt !important;
}

#wrapperlogs pre, pre#transports {
     font-size: 10pt !important;
}

table#leasesetdebug th a:not(old), table#leasesetsummary th a:not(old), #tunnels.main h3 a:not(old), #logs h3 a:not(old), a[href^="configpeer?peer"] {
     font-size: 0 !important;
}

h3#iptransport a:not(old), h3#advancedconfig a:not(old) {
     font-size: 0 !important;
}

h3#iptransport a::after, h3#advancedconfig a::after {
     vertical-align: sub;
     margin-left: 5px;
}

#console p, #console li {
     letter-spacing: 0.15em !important;
     line-height: 160% !important;
}

#console li {
     list-style-type: none;
     margin: 10px 25px 10px 10px;
     text-align: justify;
}

.twocol {
     background: #eef;
     margin-top: 15px !important;
     margin-bottom: -20px !important;
     padding: 10px;
     border-radius: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.twocol {
     margin-top: 5px !important;
}
}

.twocol li {
     margin: 0 0 0 20px !important;
     padding: 0 0 10px !important;
}

.twocol li:first-child {
     margin-top: 5px !important;
     margin-bottom: 10px !important;
     padding-top: 0 !important;
}

div[lang="zh"] a {
     background: #ddf;
     border-radius: 2px;
     display: inline-block;
     padding: 0 4px;
}

a:hover code {
     color: #f60 !important;
}

#reseedconfig td:first-child, #loggingoptions td:first-child {
     white-space: nowrap;
}

#logs li font, #logs pre, #enviro td, #enviro td b {
     font-size: 10pt !important;
     letter-spacing: normal !important;
     word-spacing: normal !important;
}

#enviro td {
     padding-top: 3px !important;
     padding-bottom: 3px !important;
}

/* responsive layout */

@media screen and (max-width: 1200px) {
.main td, .main td b {
     font-size: 10pt !important;
}

.tab, .tab2 {
     margin-right: -2px !important;
}
}

@media screen and (max-width: 1500px) {
div.applabel {
     height: 22px !important;
     padding: 2px;
}
}

@media screen and (min-width: 0) {
.routersummary img[src$="i2plogo.png"] {
     margin-top: -1px;
     transform: none;
     width: 210px;
}

.routersummary .reload[value="restartImmediate"], .routersummary .stop[value="shutdownImmediate"],
.routersummary .reload[value="Reseed"], .routersummary button[name="updateAction"] {
     font-size: 11pt !important;
}

.tab, .tab2, .main[id^="config_"] td {
     font-size: 11pt !important;
}

.main[id^="config_"] th {
     font-size: 12pt !important;
}

.optbox, #netconfig .optbox:last-child, #netconfig .optbox[value="only"], #netconfig .optbox[name="disableUDP"], #netconfig .optbox[value="disabled"] {
     margin-top: 10px !important;
     margin-bottom: 10px !important;
}

.langselect .optbox {
     margin: -4px 0 8px -54px !important;
}

#console h2 a[name], #console h2 a[name]:hover {
     font-size: 16pt !important;
     color: #0c153d !important;
}

.welcome h2 {
     font-size: 14pt !important;
}

p#fullhistory {
     padding: 8px 10px !important;
}

div.news {
     padding-bottom: 7px !important;
}

div.news h3, .newsDate, div.news a {
     font-size: 12pt !important;
}

#sb_internals, #sb_services, #sb_advanced {
     margin-top: -5px !important;
}

.main#console code {
     font-size: 13pt !important;
}

#faq ul {
     margin-bottom: 0 !important;
}

#changelog pre {
     font-size: 10pt !important;
}

.homelinkedit th:first-child, #sidebarconf th:first-child, #consolepass th:first-child {
     font-size: 0 !important;
}

.homelinkedit td img {
     width: 24px;
     height: 24px;
}

#netdboverview th {
     font-size: 12pt !important;
}

.sb_newsheadings td, .sb_newsheadings tr:hover td {
     background-position: 4px center !important;
}

.sb_newsheadings td a {
     font-size: 9pt !important;
}

.main#tunnels td, .tunnel_cap, .tunnel_id, #tunnels .cells, #tunnels tt a {
     font-size: 10pt !important;
     letter-spacing: 0 !important;
     word-spacing: 0 !important;
}

.tunnel_peer {
     min-width: 60px !important;
}

b.tunnel_cap, .tunnel_cap b {
     min-width: 18px;
     color: #fff !important;
     font-size: 10pt !important;
     text-shadow: 0 1px 1px #555 !important;
}
}

@media screen and (min-width: 1200px) {
.tab, .tab2 {
     margin-right: -3px !important;
}

#faq th, #portfaq th, #portfaq th[colspan="3"] {
     font-size: 12pt !important;
}
}

@media screen and (min-width: 1500px) {
body, .main, .main td, .news p, #news p, .main li b, div.joblog li, .themelabel, .applabel a, .statusnotes,
#peerdefs, #profile_defs, #thresholds, #configinfo, .infohelp, .infowarn, button, input, select, textarea, code, tt, pre,
.netdbentry th, .configtable th, ul.statlist a[name], ul.statlist b, ul.statlist li b, ul.statlist a[name]:hover, div.messages, th {
     font-size: 12pt !important;
}

.routersummary td, .routersummary a, .routersummary button, .routersummary h4, .routersummary h4 a, div.news, #banlist li {
     font-size: 11pt !important;
}

.langbox {
     margin-top: 2px !important;
}

.routersummary img[src$="i2plogo.png"] {
     margin-left: 1px;
}

.routersummary table[id^="sb_"] {
     width: 225px !important;
}

.applabel {
     padding: 3px 2px 4px !important;
}

.langselect img[src^="/flags"] {
    margin-left: -92px !important;
}

.langselect input[name="lang"]:checked + img {
    margin-left: -93px !important;
}

.newsheadings {
     margin-left: -2px !important;
     margin-right: 0 !important;
}

.newsheadings ul {
     width: 178px !important;
}
}

/* end responsive layout */