/* I2P Theme: I2P Classic Theme Override */
/* I2P Description: Larger fontsize override for console to accomodate foreign charactersets */
/* Author: Dr|Z3d */

* {
     text-shadow: none !important;
     font-weight: normal !important;
     font-size: 11pt !important;
     letter-spacing: normal !important;
     word-spacing: normal !important;
     line-height: 140% !important;
}

input[type="submit"], input[type="cancel"], input[type="file"], button, button.search, input.cancel {
     font-size: 11pt !important;
     padding-top: 2px;
     padding-bottom: 2px;
}

.routersummary button {
     min-width: 100px !important;
}

/* sidepanel */

div.routersummary h3, .routersummary h3 a  {
     font-size: 13pt !important;
}

div.routersummary h4, .routersummary h4 a {
     font-size: 13pt !important;
     letter-spacing: 0;
}

div.routersummary td {
     font-size: 11pt;
}

div.routersummary {
     width: 220px;
}

div.routersummary table {
     width: 219px !important;
}

#sb_bandwidth td:first-child {
     width: 20px !important;
     white-space: nowrap;
}

#sb_bandwidth td:last-child {
     width: 80% !important;
}

#sb_bandwidth td:last-child, #sb_peers td:last-child, #sb_queue td:last-child,  #sb_tunnels td:last-child, #sb_general td:last-child, #sb_shortgeneral td:last-child {
     font-size: 10pt !important;
}

div.routersummary table a:link, div.routersummary table a:visited {
     font-size: 12pt;
     font-weight: normal;
     text-shadow: none;
}

/* end sidepanel */

/* global overrides */

a, b, div.routersummary h3 a, div.routersummary h4 {
    font-weight: normal !important;
    font-size: 100%;
}

b, a, input, button, submit, i, th, thead, tfoot, h1, h2, h3, h4, .messages {
     font-weight: normal !important;
     font-style: normal !important;
     text-shadow: none;
}

body, .main {
     font: 12pt "Droid Sans", Verdana, "Bitstream Vera Sans", Helvetica, Sans, sans-serif;
}

h1 {
     font-size: 18pt !important;
     padding: 14px 20px 12px;
}

h2 {
     font-size: 16pt !important;
}

h3, .configtable th {
     font-size: 14pt !important;
}

h3 a {
     display: inline-block;
     padding: 3px 2px;
}

h4 {
     font-size: 13pt !important;
}

/* end global overrides */

div.tunnels a {
     font-size: 12pt !important;
}

div.tunnels table {
}

div.tunnels td:first-child, div.tunnels td:last-child  {
     width: 16px;
}

div.tunnels td:last-child {
     text-align: left;
}

div.tunnels td {
     padding: 0 2px;
}

div.main, div.main p, div.news p {
     line-height: 140%;
}

div.main, div.news, h1 {
     margin-left: 226px;
}

.langbox {
     width: 400px;
     margin-top: 5px;
     margin-right: 8px;
}

div.joblog li i {
     font-weight: normaL;
}

b, div.joblog b {
    color: #003;
    font-size: 110%;
}

table code {
     font-size: 120%;
}

.tab, .tab2 {
     font-size: 11pt;
} 

.applabel a {
     padding: 0 2px 6px !important;
}

.themelabel, .ui_lang {
     font-size: 12pt !important;
     font-weight: normal !important;
     overflow: hidden;
     text-overflow: hidden;
     margin-bottom: -2px;
     padding-bottom: 4px !important;
}

div.themechoice, div.langselect {
     width: 128px;
}

h3.ptitle, h3#i2pclientconfig {
     margin-bottom: -17px !important;
}

h3#pluginmanage {
     margin-bottom: -22px !important;
}

.formaction {
     margin-top: -17px !important;
}

table + .formaction, #consolepass + .formaction {
     margin-top: -7px !important;
}

hr + .formaction {
     margin-top: 0 !important;
}

h3.stats {
     margin-top: -1px !important;
}

.main#stats form {
     margin-top: 0;
     margin-bottom: -1px;
}
input[type="text"], input[type="password"] {
     min-width: 0;
}

input[type="radio"], input[type="checkbox"] {
     margin-top: 6px;
     margin-bottom: 6px;
}

button.control {
     font-size: 0 !important;
}

.infohelp, .infowarn {
     line-height: 160% !important;
}

p.infohelp {
     margin-bottom: -7px;
}

#advancedsettings, .main textarea {
     font-size: 10pt !important;
}

#webappconfig {
     margin-bottom: -37px !important;
}

.formaction#webappconfigactions {
     margin-top: 36px !important;
}

p[style="margin: 0px 12px"] {
     margin-left: 5px !important;
     padding: 8px 0 !important;
}

#news hr + i {
     display: inline-block;
     margin-top: 4px !important;
}

input.search[type="text"] {
     padding-left: 30px;
     background-position: 8px center;
}

.main#jardump b {
     font-size: 9pt !important;
}

#wrapperlogs pre, pre#transports {
     font-size: 10pt !important;
}

table#leasesetdebug th a:not(old), table#leasesetsummary th a:not(old), #tunnels.main h3 a:not(old), #logs h3 a:not(old), a[href^="configpeer?peer"] {
     font-size: 0 !important;
}

/* responsive layout */

@media screen and (max-width: 1200px) {
.main td, .main td b {
     font-size: 10pt !important;
}
}

@media screen and (min-width: 0) {
div.routersummary img[src$="i2plogo.png"] {
     margin-top: -1px;
     transform: none;
     width: 210px;
}

.tab, .tab2 {
     font-size: 11pt !important;
     margin-right: -3px !important;
}
}

@media screen and (min-width: 1500px) {
body, .main, .main td, .news p, #news p, .main li b, div.joblog li, .themelabel, .ui_lang, .applabel a, .statusnotes,
#peerdefs, #profile_defs, #thresholds, #configinfo, .infohelp, .infowarn, button, input, select, textarea, code, tt, pre,
.netdbentry th, .configtable th, ul.statlist a[name], ul.statlist b, ul.statlist li b, ul.statlist a[name]:hover, div.messages, th {
     font-size: 12pt !important;
}

.routersummary td, .routersummary a, .routersummary button, .routersummary h4, .routersummary h4 a, div.news, #banlist li {
     font-size: 11pt !important;
}
}

/* end responsive layout */