body {
	margin :  0px;
	padding : 0px;
	text-align : center;
	font-family : Arial, Helvetica, sans-serif;
	background-color : #ffffff;
	color :  #000000;
    font-size : 100%;
    
    /* we've avoided Tantek Hacks so far,
    ** but we can't avoid using the non-w3c method of 
    ** box rendering. (and therefore one of mozilla's
    ** proprietry -moz properties (which hopefully they'll
    ** drop soon).
    */
    -moz-box-sizing : border-box;
    box-sizing :      border-box;
}

div {
    -moz-box-sizing : border-box;
    box-sizing :      border-box;
}

h4, label {
    margin :   0px;
    padding :  2px;
    float :   left;
    width :  150px;
    height :  24px;
    font-weight :  bold;
    text-align :  right;
    font-size :   1.0em;
    -moz-box-sizing: border-box;
    box-sizing :     border-box;
}

h4 {
    font-size : 1.2em;
    text-align : center;
    width : 750px;
}

a {
    text-decoration : none;
}

form {
	margin : 0px;
}

textarea, input, select, button, a {
    font-family : Arial, Helvetica, sans-serif;
    -moz-box-sizing : border-box;
    box-sizing :      border-box;
    font-size : 1.0em;
    float : left;
}

button {
    float : none;
}

textarea {
    border : 1px solid #ddddc0;
}

br {
    clear : left;
}

div.statusNotRunning {
    float : left;
    width : 82px;
    height : 24px;
	color : #dd0000;
}
div.statusRunning {
    float : left;
    width : 82px;
    height : 24px;
	color : #00dd00;
}
div.statusStarting {
    float : left;
    width : 82px;
    height : 24px;
	color : #339933;
}

hr {
    display : none;
}

.separator, .subdivider {
    clear : both;
    height : 1px;
    margin : 3px 0px 3px 0px;
    border-bottom : 1px solid #ddddc0;
}

.subdivider {
    border-bottom : 1px dashed #ddddc0;
}

.freetext {
    width : 150px;
    height : 22px;
    border : 1px solid #aaaac0;
}

.control {
    margin :  0 4px 0 0;
    padding : 0 0 4px 0;
    overflow : hidden;
    height : 20px;
    width :  60px;
    font-weight : normal;
    background-color :  #dddddd;
    color : black;
    border : 1px outset #ddddc0;
    text-align :  center;
    white-space : nowrap;
}

.control:hover {
    background-color : #ffffed;
}

.control:active {
    border : 2px inset;
}

.panel {
    width : 760px;
    margin : 16px auto 16px auto;
    overflow : hidden;
	text-align : left;
    font-size : 0.8em;
	background-color : #ffffef;
	border : 4px solid #ffffd0;
}

.panel .footer {
    float : right;
    padding : 4px;
}

.toolbox {
    float : right;
}

.rowItem {
    width : 750px;
    float :  left;
    margin :  0px;
}

.comment {
    font-style : italic;
}

.text {
    height : 24px;
    width : 150px;
    padding : 2px 0 0 2px;
    float : left;
    margin : 0;
}

.accessKey {
    text-decoration : underline;
}

#globalOperationsPanel {
    background-color : #ffefef;
	border : 4px solid #ffd0d0;
}

#globalOperationsPanel .control {
    width : 100px;
}
