/* Welcome to the wonderful world of kludgey IE fixes */

.wideload {
     overflow: auto;
     width: 100%;
}

.formaction {
     text-align: left !important;
     margin: -10px 0 10px 0;
}

div.configure {
     text-align: center;
}

div.configure p {
     text-align: justify;
}

div.main ul {
     margin-right: 20px;
}

div.configure textarea {
     width: 450px !important;
}

div.configure table {
     width: 350px !important;
     text-align: center;
}

h1 {
     padding: 15px 10px 16px 10px !important;
     border-right: 0;
}

h2 {
     padding-top: 0;
     text-align: left !important;
}

h3 {
     margin-top: 10px;
     text-align: left !important
}

div.confignav {
     padding: 15px 0 15px 0;
     border-left: 0px solid #bbf;
     margin-left: -15px;
     border-right: 0;
     border-top: 5px solid #bbf;
     margin-bottom: 10px !important;
}

div.messages {
     border-left: 0px solid #bbf;
     border-right: 0px solid #ddf;     
     margin: 0px -15px 0px -15px;
}

div.main, div.news {
     margin: -5px 0px 10px 185px;
     border: 0px solid #bbf;
     border-top: 5px solid #bbf;
     border-left: 5px solid #bbf;
     border-bottom: 5px solid #bbf;     
}

div.main hr, div.news hr {
     margin: 0;
}

div.main {
     border-top: 5px solid #bbf;
}

div.news {
     border-left: 5px solid #bbf;
     border-right: 0px solid #ffffc0; 
     margin-right: 0px;
     margin: -5px 0px 0 185px;
     padding-bottom: 8px;
}

div.news hr {
     color: #bbf;
     background: #bbf;
     height: 3px;
     border: 0px solid #bbf;
     margin: 0px 0px 0 -13px;
}     

div.routersummary {
     color: #001;
     padding-left: 0px;
     border-left: 5px solid #bbf;
}

/*
div.routersummary, div.routersummary hr {
     background: #ddf;
     height: 5px;
     border: 0px solid #ddf;
     margin: 4px 0;
}
*/

text {
     padding-left: 5px;
}

div.news li {
     padding-top: 0px	0px !important;
     margin-bottom: -23px !important;
}

div.logo {
     float: left;
     margin: 20px 0 0 20px !important;
     border: 0;
}

div.warning {
     padding: 0px 20px 20px 80px;
}

.langbox {
     margin: 22px -20px 0px 5px;
}