/* I2P Theme: Light */
/* Description: RTL Light blue highlights for Arabic locale. */
/* Author: dr|z3d */

pre {
     text-align: right;
}

div.logo {
     float:right;
}

div.routersummaryouter {
     float: right;
}


div.tunnels td:first-child {
     text-align: right;
}

/* proxy error messages */

div.warning {
     text-align: right;
}

div.main {
     margin: 10px 210px 0px 10px;
     padding: 7px 0px 30px 20px;
     text-align: right;
     }

div.news {
     margin: 10px 210px 0px 10px;
     padding: 7px 0px 30px 20px;
     text-align: right !important;
}

div.news h3 {
     text-align: right;
}

div.graphspanel form {
     text-align: right;
}

div.main li {
     text-align: right;
}

.tidylist code {
     text-align: right;
}

code {
     text-align: right;
}


h1 {
     text-align: right;
     margin: 10px 210px 0px 10px;
     padding: 7px 0px 30px 20px;
}
