/* I2P Theme Override: Light */
/* Comment: Larger text & other optimizations for Chinese & other doublebyte charactersets */
/* Author: dr|z3d */


h1, h2, h3, h4 {
     font-weight: normal !important;
     text-shadow: none;
     word-spacing: 0.1em;
}

h3 {
     font-size: 12pt;
}

b, a, input, button, input[type="submit"], input[type="reset"], i, th, thead, tfoot, .mediumtags {
     font-weight: normal !important;
     font-style: normal !important;
}

b {
     color: #111;
}

button, input[type="submit"], input[type="reset"] {
    font-size: 10.5pt !important;
    padding: 5px 5px 5px 22px !important;
}

button.control {
     padding: 12px 11px !important;
}

input.cancel {
     padding: 5px 5px 6px 20px !important;
}

#sidebarconf button {
     padding: 3px !important;
}

div.routersummary table {
    font-size: 8.5pt;
}

div.routersummary a {
    font-size: 10pt !important;
}

div.routersummary h3, div.routersummary h4, div.routersummary p, div.routersummary h3 a, div.routersummary a {
     text-shadow: none !important;
}

div.routersummary h3 a {
     font-size: 11pt !important;
}

div.routersummary h4, div.routersummary h4 a {
     font-size: 10.5pt !important;
}

div.routersummary b {
     font-size: 9.5pt;
     font-weight: normal !important;
}

div.routersummary a {
     word-spacing: 0.1em !important;
     font-size: 10pt;
     line-height: 130%;
}

div.news {
     font-size: 9pt;
}

input, input:visited, button {
     font-size: 10pt !Important;
}

.smallhead {
     font-size: 8.5pt
}

th {
     font-size: 10pt;
}

td, .mediumtags {
     font-size: 10pt !important;
     font-weight: normal !important;
}

.statusnotes {
     font-size: 10pt;
     letter-spacing: 0.2em !important;
     text-shadow: none !important;
}

.tablefooter tr, .tablefooter td {
     font-size: 10pt !important;
}

div.tunnels a {
     font-size: 9.5pt !important;
     letter-spacing: 0 !important;
     word-spacing: 0 !important;
}

code, tt, div {
     font-size: 10pt !important;
}

.messages, .messages li, .infohelp, .infowarn  {
     font-weight: normal !important;
     font-size: 11pt !important;
}

.tab, .tab2 {
     font-size: 11pt;
     font-weight: normal;
}

#config_service p.infohelp, #config_clients p.infohelp, #config_clients p.infowarn, #config_clients p#pluginconfig, #config_tunnels p.infohelp,
p#enablefullstats {
     margin-top: 12px;
}

#config_family p.infohelp {
     margin-bottom: 12px;
}

#jardump td, #jardump td tt {
     font-size: 8.5pt !important;
}


@media screen and (min-width: 1500px) {
.langbox {
     line-height: 115% !important;
}
}

