body {
     margin: 25px 10px 0 5px;
     padding: 0em;
     text-align: center;
     background: #eef;
     color: #000;
     font: 9pt/130% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
}

.hide {
     display: none;
}

img {
     border: none;
}

pre {
     width: 98%;
     overflow-x: scroll;
     text-align: left;
     font: 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     color: #333;
}

div.logo {
     float: left;
     padding: 10px;
     text-align: center;
     font-color: #fff;
     margin: 0 20px 0 20px;
     border: 1px solid #002;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     background: #ddddff url('images/lightbluetile.png');
     width: 175px;
     -moz-box-shadow: inset 0px 0px 16px 1px #eef;
}

div.toolbar {
     margin: 0;
     padding: 10px;
     font-weight: bold;
     background: #eef;
     border: 1px solid #002;
     display: none !important;
}

div.toolbar a:link {
     border: 1px outset #ddddc0;
     padding: 0px 5px 1px 5px;
     line-height: 250%;
     background: #bbf;
     text-decoration: none;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     display: none !important;
}

div.toolbar a:visited {
     background: #ddf;
}

div.toolbar a:hover{
     border: 1px solid #eeeeff;
     background: #003;
     color: #f60;
}

a:active{
     color: #900;
}

div.routersummaryouter {
     float: left;
     width: 215px;
     margin: 0 0 10px 20px;
     padding: 0px 0 0 0;
     border: 0;
     clear: left;/* fixes a bug in Opera */
     text-align: center;
     display: block;
}

div.routersummary {
/*  margin: 0px 20px 20px 0px; */
     width: auto;
     padding: 10px;
     text-align: center;
     border: 1px solid #000033;
     background: #ddddff url('images/lightbluetile.png');
     color: #000;
     font-size: 8pt;
     clear: left;/* fixes a bug in Opera */
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     float: left;
     -moz-box-shadow: inset 0px 0px 1px 0px #002;
}

div.warning {
     margin: 5px 20px 10px 240px;
     padding: 0px 25px 20px 75px;
     background: #fff;
     border: 1px solid #002;
     text-align: left;
     color: inherit;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     text-align: justify;
     background-image:url("images/errortriangle.png");
     background-position:15px center;
     background-repeat:no-repeat;
     -moz-box-shadow: inset 0px 0px 1px 0px #d00;
}

div.main {
     margin: 0px 0px 20px 220px;
     padding: 0 15px 15px 25px;
     background: #eef;
     text-align: left;
     color: #001;
     width: auto;
/*  overflow-x: scroll; */
}

div.main hr, hr {
     color: #003;
     background: #003;
     height: 1px;
     border: 0px solid #003;
     margin: 10px 0;
}

div.main textarea {
     background: #eef;
     color: #001;
     font: 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
}

div.news {
     margin: 0px 15px 20px 245px;
     padding: 20px 30px 20px 30px;
     border: 1px solid #003;
     color: #410;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     text-align: justify !important;
     line-height: 140%;
     background: #fea url('images/sandtile.png');
     -moz-box-shadow: inset 0px 0px 1px 0px #410;
}

div.news a:link{
     color: #630;
     text-decoration: none;
}

div.news a:visited{
     color: #830;
}

div.news a:hover{
     color: #a30;
     text-decoration: underline;
}

div.news a:active{
     color: #c30;
}

div.news hr{
     color: #410;
     background: #410;
     height: 1px;
     border: 0px solid #410;
     margin: 10px 0;
}

div.news li {
     text-align: justify;
     list-style: none;
     margin: 0 0 20px 0 !important;
     padding: 5px 0;
     vertical-align: bottom;
     border: 1px solid #410;
     border-left: 5px solid #410;
     padding: 3px 5px 3px 5px;
     border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
     -khtml-border-radius: 0 4px 4px 0;
     background: #fb1;
     font-size: 10pt;
     opacity: 0.8;
}

div.confignav {
     padding: 15px 10px !important;
     margin: 0 0 25px 0;
     background: #ddf url('images/lightbluetile.png');
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #000022;
     font-size: 10pt !important;
     font-weight: bold !important;
     line-height: 160% !important;
     -moz-box-shadow: inset 0px 0px 1px 0px #002;
}

div.configure {
     padding: 0 15px !important;
     margin: 10px 0px 25px 0;
     background: #ddf url('images/lightbluetile.png');
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #000022;
     -moz-box-shadow: inset 0px 0px 1px 0px #002;
}

div.messages {
     padding: 10px;
     margin: 10px 0 20px 0;
     background: #ddf;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #000033;
     background: #008 url('images/lightbluetile.png');
     font-weight: bold;
     -moz-box-shadow: inset 0px 0px 1px 0px #002;
}

div.messages span.error {
     color: #d00000;
}

div.messages span.notice {
     font-style: italic;
}

div.messages li {
     text-align: justify !important;
     font-weight: bold;
     list-style: url(images/warning.png) !important;
     margin: 0 10px 0 35px !important;
     padding: 5px 10px !important;
     border: 0px !important;
}

table {
     border-collapse: collapse;
     width: 100%;
     border: 1px solid #000022;
     margin: 5px 0px 5px 0px;
     cell-padding: 1px;
     font-size: 7pt;
     background: #b4c8ff url('images/tabletitlelight.png') repeat-x;
}

th {
     padding: 4px;
     color: #000;
     background: #b4c8ff url('images/tabletitlelight.png') repeat-x;
     text-align: center;
     font-size: 8pt;
}

tr {
     vertical-align: middle !important;
}

tr:nth-child(even) {
     background: #99f url('images/tabletile.png') !important;
}

tr:nth-child(odd) {
     background: #bbf url('images/tabletile_alt.png') !important;
}
/*
tr:last-child {
     background: #bbf url('images/tabletilelighter.png') !important;
     font-weight: bold;
     border: 1px solid #002 !important;
}
*/
td {
     padding: 5px;
     color: #000;
     text-align: left;
}

tt {
     font: bold 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     color: #008000;
     padding: 1px 5px;
}

div.main li {
     text-align: left;
     list-style: square;
     margin: 2px 5px 0px 20px;
     padding: 1px 20px 1px 10px;
     line-height: 150%;
}

.tidylist {
     text-align: justify !important;
}

ol {
/* 
     white-space: pre-wrap;
*/
     display: inline;
     margin: 1px 0 0 0;
     padding: 1px 0 0 20px;
}

ul {
     display: inline;
     margin: 5px 0;
     padding: 0;
}

code {
     text-align: left;
     font: 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
}

a:link{
     color: #007;
     text-decoration: none;
     font-weight: bold;
}

a:visited{
     color: #606;
     text-decoration: none;
     font-weight: bold;
}

a:hover{
     color: #f60;
     text-decoration: underline;
     font-weight: bold;
}

.links {
     list-style: url(images/link.png);
     margin: 10px 5px 0 0px;
     padding: 10px 20px 10px 30px;
}

p {
     text-align: justify;
     line-height: 160%;
}

h1 {
     text-align: left;
     color: #002;
     padding: 10px 15px;
     margin: 0 15px 25px 245px;
     font: normal bold 16pt/120% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     letter-spacing: 0.15em;
     text-transform: uppercase;
     text-shadow: 0px 0px 1px rgba(0, 0, 148, 0.9);
     -moz-box-shadow: inset 0px 0px 1px 0px #002;
     white-space: normal;
     background: #ddddff url('images/lightbluetile.png');
     border: 1px solid #002;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
}

h2 {
     font-size: 12pt;
     color: #001;
     letter-spacing: 0.05em;
     background: #ddf url('images/lightbluetile.png');
     text-shadow: 0px 0px 1px rgba(0, 0, 64, 0.5);
     padding: 7px 10px;
     wordwrap: none;
     border: 1px solid #002;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     margin: 25px 0 20px 0 !important;
     -moz-box-shadow: inset 0px 0px 1px 0px #002;
}

h2 a:hover {
     text-shadow: 0px 0px 1px rgba(255, 255, 72, 0.9);
     border-bottom: 1px #ff6600;
     border-bottom-style: solid;
     border-bottom-color: #002;
     padding-bottom: 5px;
}

h3 {
     border: 1px solid #002;
     border-left: 5px solid #002;
     padding: 3px 5px 3px 5px;
     margin: 20px 0 15px 0;
     border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
     -khtml-border-radius: 0 4px 4px 0;
     background: #eef;
}

h4 {
     border-bottom: 1px;
     border-bottom-style: solid;
     border-bottom-color: #001;
     padding: 0 0 10px 0;
     margin: 5px 0 10px 0;
     font-size: 11pt;
}

button {
     border: 1px outset #ddddc0;
     padding: 1px 3px;
     background: #bbf !important;
     text-decoration: none;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     font-size: 8pt;
     font-weight: bold;
     margin: 0 1px;
     text-align: center;
     min-width: 80px;
}

button:hover{
     border: 1px solid #f60;
     background: #f60 !important;
     color: #fff;
}

button:active{
     border: 1px solid #f60;
     background: #001 !important;
     color: #f60;
}

.underline {
     border-bottom: 1px solid #000022;
     padding: 5px 0px 5px 0px;
     margin: 0px 0px 10px 0px;
}

.langbox {
     margin: 4px 2px 4px 5px;
     padding: 5px 5px;
     color: #001;
     font-size: 7pt;
     width: 120px;
     text-align: center;
     float: right;
     valign: middle;
}

input {
     background: #eef;
     color: #003;
     margin: 5px 10px 5px 10px;
     padding: 4px 2px;
     font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     border: 1px solid #001;
     text-decoration: none;
     min-width: 110px;
}

input:hover {
     background: #f60;
     color: #fff;
     border: 1px solid #f60;
}

input:active {
     background: #002;
     color: #f60;
     border: 1px solid #f60;
}

submit {
     background: #f00;
     color: #eef;
     margin: 10px 2px 10px 0;
     padding: 2px;
     font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     font-weight: bold;
     border: 1px solid #001;
     text-decoration: none;
}

input checkbox {
     border: 0 !important;
}

select {
     background: #eef;
     color: #003;
     margin: 5px 10px 5px 10px;
     padding: 4px;
     border: 1px solid #001;
     min-width: 110px;
     font: 9pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
}

textarea {
     padding: 5px;
     margin: 15px 15px 5px 0px;
     background: #eef;
     color: #003;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     font: 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     min-height: 100px;
     min-width: 100%;
     border: 1px solid #001;
}

form {}

.proxyfooter {
     margin: 0 20px 10px 240px;
     padding: 20px 25px 20px 75px;
     font-color: #f00;
     font-size: 7pt;
     text-align: right !important;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border: 1px solid #001;
     display: none;
}    