/* I2P Tunnel Edit Page
*/

#tunnelEditPage input {
     width: 560px;
}

#tunnelEditPage select {
     width: 300px;
}

#tunnelEditPage option [ selected ] {
     color: green;
}

#tunnelEditPage #targetField, #tunnelEditPage #accessField, #tunnelEditPage #optionsField {
     height: 48px;
     width: 150px;
}

#tunnelEditPage #tunnelOptionsField {
     height: 96px;
     width: 150px;
}

#tunnelEditPage #targetField label, #tunnelEditPage #accessField label, #tunnelEditPage #tunnelOptionsField label, #tunnelEditPage #optionsField label{
     height: 48px;
     width: 150px;
}

#tunnelEditPage #reachField, #tunnelEditPage #hostField, #tunnelEditPage #depthField, #tunnelEditPage #countField, #tunnelEditPage #optionsHostField {
     width: 304px;
     margin-right: 4px;
}

#tunnelEditPage #portField, #tunnelEditPage #optionsPortField, #tunnelEditPage #backupField, #tunnelEditPage #varianceField {
     width: 150px;
}

#tunnelEditPage #reachField label, #tunnelEditPage #hostField label, #tunnelEditPage #portField label, #tunnelEditPage #optionsHostField label, #tunnelEditPage #optionsPortField label, #tunnelEditPage #depthField label, #tunnelEditPage #countField label, #tunnelEditPage #backupField label, #tunnelEditPage #varianceField label {
     text-align: left;
}

#tunnelEditPage #otherField label {
     width: 300px;
}

#tunnelEditPage #reachableByOther, #tunnelEditPage #tunnelDepth, #tunnelEditPage #tunnelQuantity, #tunnelEditPage #targetHost, #tunnelEditPage #clientHost {
     width: 300px;
}

#tunnelEditPage #port {
     width: 80px;
}

#tunnelEditPage #targetPort, #tunnelEditPage #clientPort, #tunnelEditPage #tunnelBackupQuantity, #tunnelEditPage #tunnelVariance {
     width: 150px;
}

#tunnelEditPage #shared, #tunnelEditPage #connectDelay, #tunnelEditPage #startOnLoad {
     width: 16px;
}

#tunnelEditPage label {
     width: 150px;
     font-weight: bold;
     text-align: right;
     float: left;
}
/* I2P Tunnel List Page
*/

#tunnelListPage .rowItem {
     width: 150px;
}

#tunnelListPage select {
     min-width: 120px;
}

#tunnelListPage textarea {
     width: 100%;
     height: 100px;
     padding: 4px;
     margin: 2px 0 12px 0;
     background-color: #005;
     color: #292;
     font-family: "Lucida Console", "DejaVu Sans Mono", "Andale Mono", "Courier New", Courier, mono;
     border: 1px solid #225;
     font-size: 8pt !important;
     font-weight: bold;
     text-align: justify !important;
     background: #efe url(images/magic.png);
     -moz-box-shadow: 0 0 0px 1px #7f7;
     -khtml-box-shadow: 0 0 0px 1px #7f7;
     box-shadow: 0 0 0px 1px #7f7;
     opacity: 0.9;
}

#tunnelListPage .footer .control {
     margin-left: 2px;
}

#tunnelListPage .footer label {
     text-align: right;
     height: 24px;
     width: 360px;
     float: left;
     margin-top: 6px;
     margin-right: 5px;
}
/* Use Leary and Langridge content replacement methods (LIR)
** to embed accessibility information into the document.
** Should allow the lists to be rendered nicely by
** screen readers. (and lynx!)
*/

#tunnelListPage label {
     height: 0;
     width: 0;
     overflow: hidden;
}

#tunnelListPage .nameHeaderField label, #tunnelListPage .portHeaderField label, #tunnelListPage .typeHeaderField label, #tunnelListPage .interfaceHeaderField label, #tunnelListPage .targetHeaderField label, #tunnelListPage .previewHeaderField label, #tunnelListPage .statusHeaderField label {
     text-align: left;
     width: 150px;
     height: 28px;
     float: left;
     padding-top: 4px;
}

#tunnelListPage .targetField, #tunnelListPage .targetField .text, #tunnelListPage .targetHeaderField, #tunnelListPage .targetHeaderField label {
     width: 300px;
}

#tunnelListPage .descriptionField, #tunnelListPage .destinationField {
     width: 800px;
}

#tunnelListPage .descriptionField .text, #tunnelListPage .destinationField input {
     width: 580px;
}

#tunnelListPage .descriptionField label, #tunnelListPage .destinationField label {
     text-align: right;
     width: 150px;
     height: 28px;
     float: left;
}