<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">
<web-app>
  <display-name>susimail</display-name>
  <servlet>
    <servlet-name>SusiMail</servlet-name>
    <servlet-class>i2p.susi.webmail.WebMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SusiMail</servlet-name>
    <url-pattern>/susimail</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>

<!--
     Jetty 6 mulipart form handling
     See http://docs.codehaus.org/display/JETTY/File+Upload+in+jetty6
     and RequestWrapper.java.
     Unused because it doesn't support content-type until Jetty 8.

    <filter>
        <filter-name>fileuploadfilter</filter-name>
        <filter-class>org.mortbay.servlet.MultiPartFilter</filter-class>
        <init-param>
            <param-name>deleteFiles</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>fileuploadfilter</filter-name>
        <url-pattern>/susimail</url-pattern>
    </filter-mapping>
-->

-</web-app>
