<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
	<servlet>
		<servlet-name>addressbook</servlet-name>
		<servlet-class>net.i2p.addressbook.Servlet</servlet-class>
		<init-param>
		    <param-name>home</param-name>
		    <param-value>./addressbook</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <servlet-mapping> 
      <servlet-name>addressbook</servlet-name>
      <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
