Source: i2p
Maintainer: zzz <zzz@i2pmail.org>
Section: net
Standards-Version: 3.9.6
Priority: optional
Bugs: mailto:killyourtv@i2pmail.org
Homepage: https://geti2p.net
Build-Depends: debhelper (>= 7.0.50~)
 ,ant (>= 1.8)
 ,debconf
 ,default-jdk | openjdk-7-jdk
 ,libtomcat8-java
 ,glassfish-javaee
 ,gettext
 ,dh-apparmor
 ,libgmp3-dev
 ,libservice-wrapper-java
 ,libcommons-logging-java
 ,po-debconf
 ,dh-systemd

Package: i2p
Architecture: all
Section: net
Priority: optional
Depends: ${java:Depends}, ${shlibs:Depends},
 adduser,
 debconf,
 i2p-router (>= 0.8.6-5),
 libjbigi-jni,
 lsb-base (>= 3.0-6),
 service-wrapper
Description: Anonymous network (I2P)
 I2P is an anonymizing network, offering a simple layer that identity-sensitive
 applications can use to securely communicate. All data is wrapped with several
 layers of encryption, and the network is both distributed and dynamic, with no
 trusted parties.
 .
 This package depends on the router, jbigi, the java service wrapper, and
 includes support to run I2P as a daemon.

Package: libjbigi-jni
Architecture: any
Section: java
Priority: optional
Depends: ${shlibs:Depends}, i2p-router
Homepage: http://www.i2p2.de/jbigi
Description: I2P libjbigi library
 This Package contains the libjbigi JNI library (and on x86 platforms, jcpuid).
 .
 libjbigi is a math library that is part of the I2P installation.  Use of this
 library greatly enhances the efficiency of cryptographic algorithms, such as
 the ones used by I2P. You can expect to see a 5-7x speed improvement on certain
 tasks, such as elGamal encryption/decryption.

Package: i2p-doc
Architecture: all
Section: doc
Priority: extra
Depends: ${misc:Depends}
Suggests: i2p, default-jdk-doc
Description: I2P developer documentation
 I2P is an anonymizing network, offering a simple layer that identity-sensitive
 applications can use to securely communicate. All data is wrapped with several
 layers of encryption, and the network is both distributed and dynamic, with no
 trusted parties.
 .
 This package contains the Javadoc files.

Package: i2p-router
Architecture: all
Section: net
Priority: optional
Depends: ${misc:Depends}, ${java:Depends}, ${shlibs:Depends},
 openjdk-8-jre-headless | openjdk-7-jre-headless | java8-runtime-headless | java7-runtime-headless,
 libtomcat8-java,
 geoip-database,
 gettext-base,
 libgetopt-java,
 glassfish-javaee
Replaces: i2p ( << 0.8.6-5)
Breaks: i2p (<< 0.8.6-5)
Recommends: libjbigi-jni, ttf-dejavu
Suggests: apparmor
 ,privoxy
 ,syndie
Description: Router for I2P
 I2P is an anonymizing network, offering a simple layer that identity-sensitive
 applications can use to securely communicate. All data is wrapped with several
 layers of encryption, and the network is both distributed and dynamic, with no
 trusted parties.
 .
 TrueType fonts (such as those provided in the package ttf-dejavu) are required
 in order to generate graphs.
