<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
    <!-- precompiled servlets -->

    <!-- yeah we could do this in a handler but this is easier -->
    <servlet-mapping>
        <servlet-name>net.i2p.i2ptunnel.jsp.index_jsp</servlet-name>
        <!-- this becomes the default so it also covers /index and /index.html -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>net.i2p.i2ptunnel.jsp.edit_jsp</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>net.i2p.i2ptunnel.jsp.wizard_jsp</servlet-name>
        <url-pattern>/wizard</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
