# eepproxy
tunnel.0.name=eepProxy
tunnel.0.description=HTTP proxy for browsing eepsites and the web
tunnel.0.type=httpclient
tunnel.0.interface=127.0.0.1
tunnel.0.listenPort=4444
tunnel.0.proxyList=squid.i2p,www1.squid.i2p
tunnel.0.i2cpHost=localhost
tunnel.0.i2cpPort=7654
tunnel.0.option.tunnels.depthInbound=2
tunnel.0.option.tunnels.numInbound=2
tunnel.0.startOnLoad=true

# irc
tunnel.1.name=ircProxy
tunnel.1.description=IRC proxy to access the anonymous irc net
tunnel.1.type=client
tunnel.1.interface=127.0.0.1
tunnel.1.listenPort=6668
tunnel.1.targetDestination=irc.duck.i2p
tunnel.1.i2cpHost=localhost
tunnel.1.i2cpPort=7654
tunnel.1.option.tunnels.depthInbound=2
tunnel.1.option.tunnels.numInbound=2
tunnel.1.startOnLoad=true

# I2P's cvs server
tunnel.2.name=cvs.i2p
tunnel.2.description=I2P CVS pserver
tunnel.2.type=client
tunnel.2.interface=127.0.0.1
tunnel.2.listenPort=2401
tunnel.2.targetDestination=cvs.i2p
tunnel.2.i2cpHost=localhost
tunnel.2.i2cpPort=7654
tunnel.2.option.tunnels.depthInbound=2
tunnel.2.option.tunnels.numInbound=2
tunnel.2.startOnLoad=false

# local eepserver
#tunnel.3.name=eepsite
#tunnel.3.description=My eepsite
#tunnel.3.type=server
#tunnel.3.targetHost=localhost
#tunnel.3.targetPort=8000
#tunnel.3.privKeyFile=eepPriv.dat
#tunnel.3.i2cpHost=localhost
#tunnel.3.i2cpPort=7654
#tunnel.3.option.tunnels.depthInbound=2
#tunnel.3.option.tunnels.numInbound=2
#tunnel.3.startOnLoad=true