#
# This is for translating the man pages.
# po4a must be installed: sudo apt install po4a
# Usage: po4a -v -d -M UTF-8 -L UTF-8 po4a.config
# See 'man po4a'
#
[po4a_paths] locale-man/man.pot $lang:locale-man/man_$lang.po
[po4a_langs] es zh
[type:man] man/eepget.1 $lang:man/eepget.$lang.1
[type:man] man/i2prouter.1 $lang:man/i2prouter.$lang.1
[type:man] man/i2prouter-nowrapper.1 $lang:man/i2prouter-nowrapper.$lang.1
