#
# This is for translating the man pages.
# po4a must be installed: sudo apt install po4a
# Usage: po4a -M UTF-8 -L UTF-8 po4a.config
# See 'man po4a'
#
[po4a_paths] locale-man/man.pot $lang:locale-man/man_$lang.po
[type:man] man/eepget.1 $lang:man/$lang/eepget.1
[type:man] man/i2prouter.1 $lang:man/$lang/i2prouter.1
