body {
	background-color: #eef;
	color:#001;
	font-family:"Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
  font-size: 9pt;
}

.snarkTitle {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}

.snarkRefresh {
  font-size: 9pt;
}

.snarkMessages {
  background-color: #fe9;
  font-family: "Lucida Console", "DejaVu Sans Mono", Courier, mono !important;
  font-size: 9pt;
  font-weight: bold;
  text-align: left;
  margin: 0 0 15px 0;
  border: 0px;
  padding: 5px;
  border-spacing: 0px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 2px inset #770;
  text-align: center; 
}

pre {
  font-family: "Lucida Console", "DejaVu Sans Mono", Courier, mono !important;
  width: 100%;
  font-size: 8pt;
  padding: 0;
}

table {
	margin: 0px 0px 20px 0px;
	border: 0px;
	padding: 0px;
	border-width: 0px;
	border-spacing: 0px;
}
th {
	background-color: #f91;
	padding: 5px;
  font-size: 9pt;
}

.SnarkTorrents {
	margin: 0;
	border: 1px solid #001;
}

td {
	padding: 5px;
}
.snarkTorrentEven {
	background-color: #fb1;
  font-size: 8pt;
}
.snarkTorrentOdd {
	background-color: #fa1;
  font-size: 8pt;
}
.snarkNewTorrent {
	font-size: 10pt;
}
.snarkAddInfo {
	font-size: 10pt;
  line-height: 130% !important;
}
.snarkConfigTitle {
	font-size: 11pt;
  font-weight: bold;
  text-decoration: underline;
}

.snarkConfig {
  font-size: 10pt;
}

.page {
	background-color: #fff;
	color:#001;
  margin: 20px;
  padding: 0 20px 5px 20px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #001;
  font-size: 9pt !important;
  line-height: 160% !important;
  -moz-box-shadow: inset 0px 0px 1px 0px #002;
  text-align: center;
}

form {
  line-height: 250%
}

p { 
  line-height: 150%
}

a:link {
  padding 5px;
}

hr {
  color: #003;
  background: #003;
  height: 1px;
  border: 0px solid #003;
  margin: 5px 0;
}

div.section {
  margin: 20px 0 0 0;
  padding: 10px;
  background: #ffe;
  border: 1px solid #001;
  text-align: left;
  color: #001;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0px 0px 1px 0px #002;
  word-wrap: break-word;
  text-align: center;
}