# where the router is located (default is localhost)
i2cpHost=localhost
# I2CP port for the router (default is 7654)
i2cpPort=7654
# How many hops we want the router to put in our tunnels (default is 2)
numHops=2
# where our private destination keys are located - if this doesn't exist,
# a new one will be created and saved there (by default, heartbeat.keys)
privateDestinationFile=heartbeat.keys
# where do we want to export the plain base64 of our destination?
publicDestinationFile=heartbeat.txt

##
# the following configures this client to send a heartbeat ping to the heartbeat
# server specified (which is being run on a fairly fast and reliable router, at
# least for the moment).  If you want to run this test, uncomment the following
# lines and run the heartbeat engine (or if the heartbeat engine is configured 
# to fire on router startup, you'll need to restart your router).
##

# full destination to the peer
peer.0.peer=8b8zBtmYGzl8pKkSJ6nYln6YEvJkKhsykwBtMaiBBizSHGsIqEG8O~oCQ62H-Yf7kw~H8292XhUOhN-hfMVPl6ulMybdV2utSPq5x2vq-1mczXWieIEBIxn3FOMguAdGb-Wu3ja2IThvwx62JgO9VSu2N5RktVkV~38XlkUmmA-f~JS5~rG~Ov-QIeFWPkyXpw-kPI2Yw6FZ5OdkXmXg0Kpb61pHXwMhAKT9YPw275Y6CvsgVKWhzHEqklwQ53jUwivn-NNXnEMWPI3jKmN3BNcJ~nGKWAHs-d5S375FDPq3pAde~-UutUWu~yEDG9xwmPyM0foS3tuUgyCkE7i4Io2VUAXAlXBKL4V7WNReHTnG2n2cC06KCebufcjUthtHzXQGi4kJBPmvKK3U7GyVDXUHeeBXKZjDcjZmOKS9Cgy2mbJ-L-ypYaUsXXWAW~2YqpMpQp22JoqNh8IIPaBmCjlw-ENfdRM0nKysWr6wULoYPaOC9Hi6GaXMPIIqMM6TAAAA
# where we'll write out the stat data
peer.0.statFile=heartbeatStat_30s_1kb.txt
# how many minutes of data we'll keep (3 hours)
peer.0.statDuration=180
# how often we'll write out the state (every 30 seconds)
peer.0.statFrequency=30
# how often we'll send the peer a ping (every 30 seconds)
peer.0.sendFrequency=30
# how large the pings and pongs will be (1KB)
peer.0.sendSize=1024
# what moving averages should we keep (1, 5, 30, and 120 minutes)
peer.0.averagePeriods=1 5 30 120
# moo
peer.0.comment=Test with localhost sending 1KB every 30 seconds
