# where the router is located (default is localhost)
i2cpHost=localhost
# I2CP port for the router (default is 7654)
i2cpPort=7654
# How many hops we want the router to put in our tunnels (default is 2)
numHops=2
# where our private destination keys are located - if this doesn't exist,
# a new one will be created and saved there (by default, heartbeat.keys)
privateDestinationFile=heartbeat.keys
# where do we want to export the plain base64 of our destination?
publicDestinationFile=heartbeat.txt

# full destination to the peer
#peer.0.peer=[base64 of the destination]
# where we'll write out the stat data
#peer.0.statFile=heartbeatStat_30s_1kb.txt
# how many minutes of data we'll keep (3 hours)
#peer.0.statDuration=180
# how often we'll write out the state (every 30 seconds)
#peer.0.statFrequency=30
# how often we'll send the peer a ping (every 30 seconds)
#peer.0.sendFrequency=30
# how large the pings and pongs will be (1KB)
#peer.0.sendSize=1024
# what moving averages should we keep (1, 5, 30, and 120 minutes)
#peer.0.averagePeriods=1 5 30 120
# moo
#peer.0.comment=Test with localhost sending 1KB every 30 seconds
