# config file for the installer

# intention for this file is that a gui installer can use the same
# settings as the cli installer

qs.count=50

qs.0001.question=General settings
    qs.0001.type=category
qs.0002.question=Installation directory 
    qs.0002.param=installDir
    qs.0002.type=directory
    qs.0002.default=.
qs.0003.question=


qs.0006.question=Network settings
    qs.0006.type=category
qs.0007.question=Currently, to use I2P you must have a publicly reachable TCP/IP address \nthat you can receive new connections on.  This means that if you're\nbehind a firewall or NAT, you will have to poke a hole in it for the \ninbound TCP port (which you'll specify in a moment), and if you have DHCP,\nyou must use a service like dyndns.org and specify that hostname as your\nexternal address.
    qs.0007.type=info
qs.0008.question=External address
    qs.0008.param=externalAddress
    qs.0008.type=string>0
qs.0009.question=Note to advanced users: the default settings bind any TCP listeners to \nall local IP addresses, but you can have it bind to a specific one if necessary\nPlease see the router.config for the options i2np.tcp.listenAddressIsValid
    qs.0009.type=info
qs.0010.question=<none>
    qs.0010.param=externalAddressIsReachable
    qs.0010.type=boolean
    qs.0010.default=false
qs.0011.question=Inbound TCP port? (any unused port will do, just pick a number)
    qs.0011.param=inTCP
    qs.0011.type=port
    qs.0011.default=8887
qs.0012.question=If you have a NAT or firewall, please be sure port ##inTCP## is open and can receive inbound connections!
    qs.0012.type=info_spliced
qs.0015.question=<none>
    qs.0015.param=phttpRegister
    qs.0015.type=string>0
    qs.0015.default=http://i2p.net:8080/phttprelay/phttpRegister
qs.0016.question=<none>
    qs.0016.param=phttpSend
    qs.0016.type=string>0
    qs.0016.default=http://i2p.net:8080/phttprelay/phttpSend
qs.0017.question=<none>
    qs.0017.param=i2cpPort
    qs.0017.type=port
    qs.0017.default=7654
qs.0018.question=
qs.0019.question=40
    qs.0019.type=skip
## leave some numbers free, for future additions

## bandwidth    questions, skipped over
qs.0030.question=Bandwidth limits
    qs.0030.type=category
qs.0031.question=These bandwidth limits are fairly hard and unforgiving.\nWe do our best to not let any data beyond these limits be transferred at all, ever.\nSo keep that in mind, and set the limits to the upper bounds of what you can handle.\n\nPlease take note that these bandwidth limits are currently very, very strict, and the network itself does not consume\nmuch bandwidth.  Everything will stop transferring data without warning if the limits are met - you really should set\nthis to -1 for now, at least until the new classed bandwidth limiter is implemented (currently planned for the 0.3.2 release)
    qs.0031.type=info
qs.0032.question=
qs.0033.question=Inbound bytes per second: (e.g. 16K, 16384, or -1 for unlimited)
    qs.0033.param=inBPS
    qs.0033.type=bandwidth
    qs.0033.default=-1
qs.0034.question=Outbound bytes per second: (e.g. 16K, 16384, or -1 for unlimited) 
    qs.0034.param=outBPS
    qs.0034.type=bandwidth
    qs.0034.default=-1
qs.0035.question=
qs.0036.question=45
    qs.0036.type=skip

qs.0040.question=<none>
    qs.0040.param=inBPS
    qs.0040.default=-1
    qs.0040.type=numeric
qs.0041.question=<none>
    qs.0041.param=outBPS
    qs.0041.default=-1
    qs.0041.type=numeric
qs.0042.question=45
    qs.0042.type=skip

qs.0045.question=<none>
#qs.0045.question=Do you want very verbose debug logs when running the router by default (y/n)
    qs.0045.param=verboseLogs
    qs.0045.default=no
    qs.0045.type=boolean

qs.0050.question=End of configuration.


libs.count=13
libs.0001.name=i2p.jar
    libs.0001.islib=true
libs.0002.name=i2ptunnel.jar
    libs.0002.islib=true
libs.0003.name=router.jar
    libs.0003.islib=true
libs.0004.name=fetchseeds.jar
    libs.0004.islib=true
libs.0005.name=COPYING
    libs.0005.islib=false
libs.0006.name=readme.txt
    libs.0006.islib=false
libs.0007.name=hosts.txt
    libs.0007.islib=false
libs.0008.name=mstreaming.jar
    libs.0008.islib=true
libs.0009.name=sam.jar
    libs.0009.islib=true
libs.0010.name=heartbeat.jar
    libs.0010.islib=true
libs.0011.name=netmonitor.jar
    libs.0011.islib=true
libs.0012.name=harvester.config
    libs.0012.islib=false
libs.0013.name=heartbeat.config
    libs.0013.islib=false