# eepproxy
tunnel.0.name=eepProxy
tunnel.0.description=HTTP proxy for browsing eepsites and the web
tunnel.0.type=httpclient
tunnel.0.sharedClient=true
tunnel.0.interface=127.0.0.1
tunnel.0.listenPort=4444
tunnel.0.proxyList=false.i2p
tunnel.0.i2cpHost=127.0.0.1
tunnel.0.i2cpPort=7654
tunnel.0.option.inbound.nickname=shared clients
tunnel.0.option.outbound.nickname=shared clients
tunnel.0.option.i2p.streaming.connectDelay=1000
tunnel.0.startOnLoad=true

# irc
tunnel.1.name=ircProxy
tunnel.1.description=IRC proxy to access the anonymous irc net
tunnel.1.type=ircclient
tunnel.1.sharedClient=true
tunnel.1.interface=127.0.0.1
tunnel.1.listenPort=6668
tunnel.1.targetDestination=irc.postman.i2p,irc.freshcoffee.i2p
tunnel.1.i2cpHost=127.0.0.1
tunnel.1.i2cpPort=7654
tunnel.1.option.inbound.nickname=shared clients
tunnel.1.option.outbound.nickname=shared clients
tunnel.1.option.i2p.streaming.connectDelay=1000
tunnel.1.option.i2p.streaming.maxWindowSize=1
tunnel.1.startOnLoad=false

# local eepserver
tunnel.2.name=eepsite
tunnel.2.description=My eepsite
tunnel.2.type=httpserver
tunnel.2.targetHost=127.0.0.1
tunnel.2.targetPort=7658
tunnel.2.spoofedHost=mysite.i2p
tunnel.2.privKeyFile=eepsite/eepPriv.dat
tunnel.2.i2cpHost=127.0.0.1
tunnel.2.i2cpPort=7654
tunnel.2.option.inbound.nickname=eepsite
tunnel.2.option.outbound.nickname=eepsite
tunnel.2.startOnLoad=false
