#
# This is for app context configuration of standalone susimail.
# Almost all configuration settings are in susimail.config.d/susimail.config
#
# Router I2CP hostname
#i2cp.tcp.host=127.0.0.1
# Router I2CP port
#i2cp.tcp.port=7654
# disable browser launch on startup
#routerconsole.browser=/bin/false
# disable browser launch on startup (Windows)
#routerconsole.browser=NUL
# change browser
#routerconsole.browser=firefox
# change language
#routerconsole.lang=en
# change theme (light or dark)
#routerconsole.theme=light
# enable/disable system tray
desktopgui.enabled=true
# disable system tray notification popups
desktopgui.showNotifications=true
