clientApp.0.main=net.i2p.router.web.RouterConsoleRunner
clientApp.0.name=I2P Router Console
clientApp.0.args=7657 127.0.0.1 ./webapps/
clientApp.0.delay=0
clientApp.0.startOnLoad=true
clientApp.1.main=net.i2p.i2ptunnel.TunnelControllerGroup
clientApp.1.name=Application tunnels
clientApp.1.args=i2ptunnel.config
clientApp.1.delay=120
clientApp.1.startOnLoad=true
clientApp.2.main=net.i2p.apps.systray.UrlLauncher
clientApp.2.name=Open Router Console in web browser at startup
clientApp.2.args=http://127.0.0.1:7657/index.jsp
clientApp.2.delay=15
clientApp.2.startOnLoad=true