tunnel.0.description=HTTP proxy for browsing eepsites and the web
tunnel.0.i2cpHost=127.0.0.1
tunnel.0.i2cpPort=7654
tunnel.0.interface=127.0.0.1
tunnel.0.listenPort=4444
tunnel.0.name=I2P HTTP Proxy
tunnel.0.option.i2cp.closeIdleTime=1800000
tunnel.0.option.i2cp.closeOnIdle=false
tunnel.0.option.i2cp.delayOpen=false
tunnel.0.option.i2cp.newDestOnResume=false
tunnel.0.option.i2cp.reduceIdleTime=900000
tunnel.0.option.i2cp.reduceOnIdle=false
tunnel.0.option.i2cp.reduceQuantity=1
tunnel.0.option.i2p.streaming.connectDelay=1000
tunnel.0.option.inbound.backupQuantity=1
tunnel.0.option.inbound.length=2
tunnel.0.option.inbound.lengthVariance=0
tunnel.0.option.inbound.nickname=shared clients
tunnel.0.option.inbound.quantity=2
tunnel.0.option.outbound.backupQuantity=1
tunnel.0.option.outbound.length=2
tunnel.0.option.outbound.lengthVariance=0
tunnel.0.option.outbound.nickname=shared clients
tunnel.0.option.outbound.quantity=2
tunnel.0.option.persistentClientKey=false
tunnel.0.proxyList=false.i2p
tunnel.0.sharedClient=true
tunnel.0.startOnLoad=true
tunnel.0.type=httpclient
tunnel.1.description=IRC proxy to access the anonymous IRC network
tunnel.1.i2cpHost=127.0.0.1
tunnel.1.i2cpPort=7654
tunnel.1.interface=127.0.0.1
tunnel.1.listenPort=6668
tunnel.1.name=IRC Proxy
tunnel.1.option.i2cp.closeIdleTime=1200000
tunnel.1.option.i2cp.closeOnIdle=false
tunnel.1.option.i2cp.delayOpen=true
tunnel.1.option.i2cp.newDestOnResume=false
tunnel.1.option.i2cp.reduceIdleTime=600000
tunnel.1.option.i2cp.reduceOnIdle=true
tunnel.1.option.i2cp.reduceQuantity=1
tunnel.1.option.i2p.streaming.connectDelay=1000
tunnel.1.option.inbound.backupQuantity=0
tunnel.1.option.inbound.length=2
tunnel.1.option.inbound.lengthVariance=0
tunnel.1.option.inbound.nickname=IRC Proxy
tunnel.1.option.inbound.quantity=2
tunnel.1.option.outbound.backupQuantity=0
tunnel.1.option.outbound.length=2
tunnel.1.option.outbound.lengthVariance=0
tunnel.1.option.outbound.nickname=IRC Proxy
tunnel.1.option.outbound.quantity=2
tunnel.1.option.persistentClientKey=false
tunnel.1.privKeyFile=i2ptunnel1-privKeys.dat
tunnel.1.sharedClient=false
tunnel.1.startOnLoad=true
tunnel.1.targetDestination=irc.postman.i2p,irc.freshcoffee.i2p
tunnel.1.type=ircclient
tunnel.2.description=smtp server
tunnel.2.i2cpHost=127.0.0.1
tunnel.2.i2cpPort=7654
tunnel.2.interface=127.0.0.1
tunnel.2.listenPort=7659
tunnel.2.name=smtp.postman.i2p
tunnel.2.option.i2cp.closeIdleTime=1800000
tunnel.2.option.i2cp.closeOnIdle=false
tunnel.2.option.i2cp.delayOpen=true
tunnel.2.option.i2cp.newDestOnResume=false
tunnel.2.option.i2cp.reduceIdleTime=900000
tunnel.2.option.i2cp.reduceOnIdle=true
tunnel.2.option.i2cp.reduceQuantity=1
tunnel.2.option.i2p.streaming.connectDelay=1000
tunnel.2.option.inbound.backupQuantity=1
tunnel.2.option.inbound.length=2
tunnel.2.option.inbound.lengthVariance=0
tunnel.2.option.inbound.nickname=shared clients
tunnel.2.option.inbound.quantity=2
tunnel.2.option.outbound.backupQuantity=1
tunnel.2.option.outbound.length=2
tunnel.2.option.outbound.lengthVariance=0
tunnel.2.option.outbound.nickname=shared clients
tunnel.2.option.outbound.quantity=2
tunnel.2.option.persistentClientKey=false
tunnel.2.privKeyFile=i2ptunnel4-privKeys.dat
tunnel.2.sharedClient=true
tunnel.2.startOnLoad=true
tunnel.2.targetDestination=smtp.postman.i2p
tunnel.2.type=client
tunnel.3.description=pop3 server
tunnel.3.i2cpHost=127.0.0.1
tunnel.3.i2cpPort=7654
tunnel.3.interface=127.0.0.1
tunnel.3.listenPort=7660
tunnel.3.name=pop3.postman.i2p
tunnel.3.option.i2cp.closeIdleTime=1800000
tunnel.3.option.i2cp.closeOnIdle=false
tunnel.3.option.i2cp.delayOpen=false
tunnel.3.option.i2cp.newDestOnResume=false
tunnel.3.option.i2cp.reduceIdleTime=900000
tunnel.3.option.i2cp.reduceOnIdle=true
tunnel.3.option.i2cp.reduceQuantity=1
tunnel.3.option.i2p.streaming.connectDelay=1000
tunnel.3.option.inbound.backupQuantity=1
tunnel.3.option.inbound.length=2
tunnel.3.option.inbound.lengthVariance=0
tunnel.3.option.inbound.nickname=shared clients
tunnel.3.option.inbound.quantity=2
tunnel.3.option.outbound.backupQuantity=1
tunnel.3.option.outbound.length=2
tunnel.3.option.outbound.lengthVariance=0
tunnel.3.option.outbound.nickname=shared clients
tunnel.3.option.outbound.quantity=2
tunnel.3.option.persistentClientKey=false
tunnel.3.privKeyFile=i2ptunnel5-privKeys.dat
tunnel.3.sharedClient=true
tunnel.3.startOnLoad=true
tunnel.3.targetDestination=pop.postman.i2p
tunnel.3.type=client
