# NOTE: The system tray control currently only works on Windows and KDE.

# The filename (with full path if needed) of the browser to be used by the
# system tray control to launch the router console. You may also append command
# line parameters like so:
#
#     browser=/usr/bin/opera -newpage
#
# If you set this value to 'default', systray will attempt to identify and use
# your system's default browser.
browser=default

# The port the router console listens on.
port=7657
