body {
	font-family:"Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
	background-color: #eef;
	color:#001;
}

p {
	color:black;
	line-height:12pt;
	margin-left:5mm;
	margin-right:5mm;
	font-size:10pt;
  text-align: justify;
}

span.addrhlpr {
	font-size:7pt;
}
	
h3 {

	color:black;
	font-size:12pt;
	letter-spacing:2pt;
	line-height:18pt;
	font-weight:bold;
}

a {
	color:#327BBF;
	text-decoration:none;
  font-weight: bold;
}

a:hover {
	text-decoration:underline;
  font-weight: bold;
}

th {

	color:black;
	line-height:12pt;
	margin-left:5mm;
	margin-right:5mm;
	font-size:10pt;
}

td {

	color:black;
	line-height:12pt;
	margin-left:5mm;
	margin-right:5mm;
	font-size:10pt;
	vertical-align:center;
}

li {

	color:black;
	line-height:12pt;
	margin-left:5mm;
	margin-right:5mm;
	font-size:10pt;
}

tr.list1 {
	background-color:#E0E0E0;
}

tr.list0 {
	background-color:white;
}

p.messages {
	background-color:#92CAFF;
	color:#327BBF;
	color:black;
	border-style:dotted;
	padding-top: 5mm;
	padding-right: 5mm;
	padding-bottom: 5mm;
	padding-left: 5mm;
}

#help {
	border-style:dotted;
	padding-top: 5mm;
	padding-right: 5mm;
	padding-bottom: 5mm;
	padding-left: 5mm;
}

p.footer {
	font-size:7pt;
  text-align: center;
}

.illustrate {
  margin: 10px;
  padding: 10px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #001;
  font-size: 10pt;
  -moz-box-shadow: inset 0px 0px 1px 0px #002;
  background: #fff;
}

.page {
	background-color: #fff;
	color:#001;
  margin: 20px;
  padding: 10px 20px 20px 20px;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #001;
  font-size: 10pt !important;
  line-height: 160% !important;
  -moz-box-shadow: inset 0px 0px 1px 0px #002;
}