Source: i2p
Maintainer: Kill Your TV <killyourtv@i2pmail.org>
Section: net
Standards-Version: 3.9.2
Priority: optional
Bugs: mailto:killyourtv@i2pmail.org
Homepage: http://www.i2p2.de/
Build-Depends: debhelper (>= 7.0.50~), 
 ant,
 debconf,
 default-jdk,
 gettext,
 libgmp3-dev, 
 po-debconf
Build-Depends-Indep: tor-geoipdb

Package: i2p
Architecture: all
Section: net
Priority: optional
Depends: ${misc:Depends}, ${java:Depends}, ${shlibs:Depends}, default-jre | java5-runtime | java6-runtime,
 adduser, 
 i2p-router (>= 0.8.6-5),
 libjbigi-jni (>= ${source:Version}),
 libjbigi-jni (<< ${source:Version}.1~),
 lsb-base (>= 3.2-14), 
 service-wrapper 
Description: Load-balanced unspoofable packet switching network
 I2P is an anonymizing network, offering a simple layer that identity-sensitive
 applications can use to securely communicate. All data is wrapped with several
 layers of encryption, and the network is both distributed and dynamic, with no
 trusted parties.
 .
 This package depends on the router, jbigi, the java service wrapper, and
 includes support to run I2P as a daemon.

Package: libjbigi-jni
Architecture: any
Section: java
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends}
Homepage: http://www.i2p2.de/jbigi
Description: Java Big Integer library
 This Package contains the libjbigi JNI library
 .
 libjbigi is a math library that is part of the I2P installation.  Use of this
 library greatly enhances the efficiency of cryptographic algorithms, such as
 the ones used by I2P. You can expect to see a 5-7x speed improvement on certain
 tasks, such as elGamal encryption/decryption.

Package: i2p-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Suggests: i2p, default-jdk-doc
Description: Documentation for I2P
 I2P is an anonymizing network, offering a simple layer that identity-sensitive
 applications can use to securely communicate. All data is wrapped with several
 layers of encryption, and the network is both distributed and dynamic, with no
 trusted parties. 
 .
 This package contains the Javadoc files.

Package: i2p-router
Architecture: all
Section: net
Priority: optional
Depends: ${misc:Depends}, ${java:Depends}, ${shlibs:Depends}, default-jre | java5-runtime | java6-runtime
Replaces: i2p ( << 0.8.6-5)
Breaks: i2p (<< 0.8.6-5)
Recommends: libjbigi-jni (>= ${source:Version}), libjbigi-jni (<< ${source:Version}.1~)
Suggests: tor,
 i2p-messenger,
 i2p-tahoe-lafs,
 imule,
 i2pfox,
 irc-client,
 jircii,
 mail-client,
 mail-reader,
 news-reader,
 polipo,
 privoxy,
 robert,
 syndie,
 www-browser,
 xul-ext-torbutton
Description: Load-balanced unspoofable packet switching network
 I2P is an anonymizing network, offering a simple layer that identity-sensitive
 applications can use to securely communicate. All data is wrapped with several
 layers of encryption, and the network is both distributed and dynamic, with no
 trusted parties.
