#!/bin/sh

set -e
# I2P package configuration script

conffile="/etc/default/i2p"

. /usr/share/debconf/confmodule

# Load config file if it exists
if [ -e $conffile ]; then
    . $conffile

    # wrapper.config always takes priority
    MEMORYLIMIT=$(awk -F= '/^wrapper\.java\.maxmemory/{print $2}' /etc/i2p/wrapper.config)

    db_set i2p/daemon "$RUN_DAEMON"
    db_set i2p/user "$I2PUSER"
    db_set i2p/memory "$MEMORYLIMIT"
    db_set i2p/aa "$CONFINE_WITH_APPARMOR"
fi

db_input medium i2p/daemon || true
db_go

db_get i2p/daemon || true
if [ "$RET" = "true" ]; then
    db_input medium i2p/user || true
    db_go
fi

db_input medium i2p/memory || true
db_go

db_input medium i2p/aa || true
db_go

# vim: tabstop=8 expandtab shiftwidth=4 softtabstop=4
