body {
	margin :  0px;
	padding : 0px;
	text-align : center;
	font-family : Arial, Helvetica, sans-serif;
	background-color : #FFFFFF;
	color :  #000000;
    font-size : 100%;
    
    /* we've avoided Tantek Hacks so far,
    ** but we can't avoid using the non-w3c method of 
    ** box rendering. (and therefore one of mozilla's
    ** proprietry -moz properties (which hopefully they'll
    ** drop soon).#F0F3FA;
    */
    -moz-box-sizing : border-box;
    box-sizing :      border-box;
}

div {
    -moz-box-sizing : border-box;
    box-sizing :      border-box;
}

h4, label {
    margin :   0px;
    padding :  2px;
    float :   left;
    width :  150px;
    height :  24px;
    font-weight :  bold;
    text-align :  right;
    font-size :   1.0em;
    -moz-box-sizing: border-box;
    box-sizing :     border-box;
}

h4 {
    font-size : 1.2em;
    text-align : center;
    width : 750px;
}

a {
    text-decoration : none;
}

form {
	margin : 0px;
}

textarea, input, select, button, a {
    font-family : Arial, Helvetica, sans-serif;
    -moz-box-sizing : border-box;
    box-sizing :      border-box;
    font-size : 1.0em;
    float : left;
}

input {
    border: 1px solid #CCCCCC;
    background-color: #F0F3FA;
}

button, .toolbox input {
    border : 0;
    float : none;
}

textarea {
    border : 1px solid #ddddc0;
}

br {
    clear : left;
}

div.statusNotRunning {
    float : left;
    width : 78px;
    height : 24px;
    overflow : hidden;
	color : #dd0000;
    padding-top: 24px;
    background: url('images/console_status_stopped.png') 0 0 no-repeat;
}
div.statusRunning {
    float : left;
    width : 78px;
    height : 24px;
    overflow : hidden;
	color : #00dd00;
    padding-top: 24px;
    background: url('images/console_status_running.png') 0 0 no-repeat;
}
div.statusStarting {
    float : left;
    width : 78px;
    height : 24px;
    overflow : hidden;
	color : #339933;
    padding-top: 24px;
    background: url('images/console_status_starting.png') 0 0 no-repeat;
}

hr,.separator {
    display : none;
}

.subdivider {
    display : block;
    clear : both;
    height : 10px;
    background : url('images/aqua_panel_hrule.png') no-repeat;
}

.freetext {
    width : 150px;
    height : 22px;
    border : 1px solid #aaaac0;
}

.control {
    margin :  0 4px 0 0;
    padding : 0 0 4px 0;
    overflow : hidden;
    height : 24px;
    width :  68px;
    font-weight : normal;
    color : black;
    text-align :  center;
    white-space : nowrap;
    background: url('images/console_button_sm.png') 0 0;
}

.control:hover {
    background: url('images/console_button_sm.png') 139px 0;
    color : white;
}

.control:active {
    background: url('images/console_button_sm.png') 69px 0;
    color : white;
}

.panel {
    width : 760px;
    margin : 16px auto 16px auto;
    overflow : hidden;
	text-align : left;
    font-size : 0.8em;
    background: url('images/aqua_panel_background.png');
}

.panel .header {
    height: 36px;
    padding-top: 4px;
    background: url('images/aqua_panel_header.png') no-repeat;
}

.panel .footer {
    float : right;
    height: 30px;
    width: 760px;
    background: url('images/aqua_panel_footer.png') no-repeat;    
}

.toolbox {
    float : right;
}

.rowItem {
    width : 760px;
    float :  left;
    margin :  0 0 0 0px;
}

.comment {
    font-style : italic;
    padding : 2px 0 0 2px;
        float : left;
}

.text {
    height : 24px;
    width : 150px;
    padding : 4px 0 0 2px;
    float : left;
    margin : 0;
}

.accessKey {
    text-decoration : underline;
}


#globalOperationsPanel .header{
    display: none;
}

#globalOperationsPanel .control {
    height : 24px;
    width :  98px;
    background: url('images/console_button_lg.png') 0 0;
}

#globalOperationsPanel .control:hover {
    background: url('images/console_button_lg.png') 204px 0;
}

#globalOperationsPanel .control:active {
    background: url('images/console_button_lg.png') 102px 0;
}