/* I2PSnark theme "Vanilla" by dr|z3d */


body {
     background: #eeb url('images/graytile.png');
     color: #001;
     font: 8pt "Lucida Sans Unicode","Bitstream Vera Sans",Verdana,Tahoma,Helvetica,sans-serif;
}

body.iframed {
     background: transparent url('../../console/dark/images/transparent.gif') !important;
     margin: 6px 0 !important;
}

.snarkTitle {
     font-size: 12pt;
     font-weight: bold;
     text-align: center;
}

.snarkRefresh:link,.snarkRefresh:visited {
     text-decoration: none !important;
     text-transform: uppercase !important;
     padding: 4px 16px 5px !important;
     margin: -5px -8px -5px 0 !important;
     letter-spacing: 0.05em;
     font-weight: bold;
     font-size: 11pt;
     color: #f60;
     text-shadow: 0px 1px #303;
     background: #fff url('images/bling.png') repeat-x scroll center center;
     -moz-border-radius: 0px;
     -khtml-border-radius: 3px;
     border-radius: 0px;
     -moz-box-shadow: inset 0 0 1px 0 #330;
     -khtml-box-shadow: inset 0 0 1px 0 #330;
     box-shadow: 0 0 1px 0 #330;
     text-shadow: 0 0 0;

}

.snarkRefresh:hover {
     text-decoration: none !important;
     text-transform: uppercase !important;
     padding: 1px 16px;
     letter-spacing: 0.05em;
     font-weight: bold;
     font-size: 11pt;
     color: #f50;
     background: #fff url('images/bling2.png') repeat-x scroll center center;*/     -moz-border-radius: 0;
     -khtml-border-radius: 0;
     border-radius: 0;
     -moz-box-shadow: inset 0 0 1px 0 #330;
     -khtml-box-shadow: inset 0 0 1px 0 #330;
     box-shadow: 0 0 1px  #330;
     text-shadow: 0 0 0;
}

.snarkRefresh:active {
     text-decoration: none !important;
     text-transform: uppercase !important;
     padding: 0 16px;
     letter-spacing: 0.05em;
     font-weight: bold;
     font-size: 11pt;
     color: #fb0;
     background: #eeb;
}

.snarkRefresh:last-child {
     -moz-border-radius: 0 3px 3px 0px;
     -khtml-border-radius: 0 3px 3px 0;
     border-radius: 0 3px 3px 0;
     -moz-box-shadow: inset 0 0 1px 0 #330;
     -khtml-box-shadow: inset 0 0 1px 0 #330;
     box-shadow: 0 0 1px 0 #330;
}

.snarkRefresh:first-child {
     -moz-border-radius: 3px 0 0 3px;
     -khtml-border-radius: 3px 0 0 3px;
     border-radius: 3px 0 0 3px;
     -moz-box-shadow: inset 0 0 1px 0 #330;
     -khtml-box-shadow: inset 0 0 1px 0 #330;
     box-shadow: 0 0 1px 0  #330;
}

.snarkRefresh img {
     margin-right: -10px !important;
}
.snarkMessages {
     font: bold 8pt "Lucida Console","DejaVu Sans Mono",Courier,mono !important;
     text-align: left;
     margin: 0 0 10px 0;
     padding: 3px 5px;
     border-spacing: 0px;
     -moz-border-radius: 4px 0 0 0;
     -khtml-border-radius: 4px 0 0 0;
     border-radius: 4px 0 0 0;
     border: 1px solid #000;
     overflow: auto;
     color: #500;
     max-height: 76px;
     min-height: 45px;
     width: auto;
     background: #eda url('/themes/snark/ubergine/images/hat.png') no-repeat scroll right center;
}

.snarkMessages a:link {
     color: #f60 !important;
}

.snarkMessages a:hover {
     color: #f90 !important;
}

.snarkMessages a:visited {
     color: #d30 !important;
}

.snarkMessages ul {
     margin: 0;
     padding: 0 0 0 16px;
}

.snarkMessages p {
     font-style: italic;
     margin: 0;
     text-align: right;
}

.snarkMessages img {
     float: right;
     margin: -3px -4px 4px 4px;
     opacity: 0.8;
}

.logshim {
     margin-top: -10px !important;
}

pre {
     width: 100%;
     font: 8pt "Lucida Console","DejaVu Sans Mono",Courier,mono !important;
     padding: 0;
     text-align: left !important;
     height: 8px;
     color: #731;
     font-weight: bold !important; 
}

table {
     margin: 0px 0px 10px 0px;
     border: 0px;
     padding: 0px;
     border-spacing: 0px;
     border-collapse: collapse;
     color: #323;
     width: 100%;
     opacity: 1 !important;
     font-size: 8.5pt !important;
}

tr { 
     opacity: 1;
}

thead, tfoot {
     background: url("images/bling2.png") repeat-x scroll center center #867;
     font-weight: bold;
     color: #503;
}

/*
thead a, tfoot a {
text-shadow: 1px 1px 1px #f00;
} 
*/

thead {
     border-bottom: 1px solid #604;
}

th {
     padding: 4px 2px 4px 4px;
     font-size: 8pt;
     border-top: 1px outset #604;
     border-bottom: 1px inset #604;
     whitespace: nowrap;
     color: #511;
}

th:first-child {
     text-align: left !important;
     padding-left: 3px;
}

tfoot td:first-child {
     text-align: left !important;
     padding-left: 0px;
}

th:first-child img {
     margin: 1px 1px 3px 1px !important;
}

th:nth-child(2) img {
     margin: 1px 7px 3px 2px !important;
}

tfoot th {
     padding-bottom: 4px !important;
}

tfoot img, tfoot:nth-child(2) img, tfoot:nth-child(1) img, tfoot:nth-child(3) img, tfoot:nth-child(4) img {
     margin: 0px 2px 3px 0px !important;
     padding-right: 0 !important;
}

tfoot tr:nth-child(n+1) {
     text-align: left;
}

.headerstatus {
     text-align: left;
     padding-left: 15px;
}

.headerpriority {
     text-align: left;
     padding-left: 10px;
}

.ParentDir {
     background: #656;
     background: #fed;
     font-size: 8pt;
     border: 0px inset #604 !important;
     border-left: 0 !important;
     border-right: 0 !important;
     text-align: left !important;
     padding: 4px 0;
}

.priority {
     font-size: 7pt;
     vertical-align: center;
}

.SnarkTorrents {
     margin: 0;
     border: 1px solid #604;
     background: #212;
}

td {
     padding: 2px 1px;
     color: #501 !important;
     opacity: 1;
     font-size: 8pt;
}

.mainsection td {
     color: #111;
}

td:first-child {
     text-align: right;
     font-size: 8pt;
}

.center {
     text-align: center !important;
}

.snarkTorrentName {
/*     text-shadow:1px 1px #540;*/
     padding: 3px 0 0;
     line-height: 100%;
}

.snarkTorrentName img {
     padding-bottom: 2px;
     text-align: left;
     vertical-align: middle;
}

.snarkTorrentAction {
     padding: 1px 1px 1px 1px !important;
     margin: 0 !important;
     text-align: center;
     width: 68px;
}

.snarkTorrentAction img {
}

.snarkTorrentAction img:hover {
     opacity: 1;
}

.snarkTorrentEven {
     font-size: 8pt;
     background: #feb;
}

.snarkTorrentNoneLoaded {
     background: #323;
     font-size: 8.5pt;
     font-weight: bold;
     text-align: center !important;
     color: #bbb !important;
}

.snarkTorrentStatus {
     padding: -1px 0 2px;
     font-size: 8pt !important;
     letter-spacing: -0.05em;
     font-weight: bold;
     line-height: 100%;
}

.snarkTorrentStatus:first-child {
     text-align: left !important;
     padding-left: 0px;
     min-width: 48px;
     font-weight: bold;
     color: #402 !important;
     font-size: 8pt;
}

.snarkTorrentStatus:first-child img {
     margin-right: 12px !important;
     margin-left: 6px !important;
}

.snarkTorrentRateUp, .snarkTorrentRateDown, .snarkTorrentDownloaded, .snarkTorrentUploaded {
     font-size: 8pt;
     font-weight: bold;
     padding: 0 3px;
}

.snarkTorrentDownloaded {
     color: #439 !important;
}

.snarkTorrentUploaded {
     color: #626 !important;
}

.snarkTorrentRateUp {
     color: #626 !important;

}

.snarkTorrentRateDown {
     color: #439 !important;

}

.snarkTorrentOdd {
     background: #fed;
     font-size: 8pt;
     border: 0px inset #fff !important;
     border-left: 0 !important;
     border-right: 0 !important;
}
.snarkTorrentOdd td, .snarkTorrentEven td {
     border-top: 1px dotted #313 !important;
}

.snarkFileIcon {
     width: 16px;
}

.snarkFileName {
     padding: 4px 0px !important; 
     text-align: left !important;
     font-size: 8pt !important;
}

.snarkFileSize {
     padding: 4px 2px;
     font-weight: bold;
     color: #727 !important;
}

.snarkFileStatus {
     padding: 4px 5px 4px 15px;
     text-align: center;
     font-style: italic;
     font-size: 8pt;
     text-align: left;
}

.snarkTorrentETA {
     font-weight: bold;
     font-style: italic;
     color: #505 !important;
}

.snarkTorrentInfo img {
     max-height: 16px !important;
     margin: 1px 0 1px 2px !important;    
}

.snarkTorrentInfo td {
     text-align: left !important;
     padding: 0 1px !important;
}

table.SnarkTorrentInfo {
     margin-bottom: 3 !important;
     border: 1px solid #604;
}

table.SnarkDirInfo {
     margin-top: -3px !important;
     margin-bottom: 0;   
}

.snarkDirInfo thead img {
     margin: 0 -1px 0 0 !important;
}

.SnarkDirInfo td {
     min-width: 0px !important;     
}

.SnarkDirInfo td:nth-child(n+1) {
}

.SnarkDirInfo .headerpriority {
     text-align: center !important;
     vertical-align: middle;    
}

.choked {
     color: #a00000 !important;
}

.unchoked {
     color: #008000 !important;
}

.thumb {
     max-height: 64px;
     max-width: 96px;
}

.snarkNewTorrent {
     font-size: 9pt;
}

.snarkAddInfo {
     font-size: 8pt;
     line-height: 130% !important;
}

.snarkConfigTitle {
     font-size: 11pt;
     font-weight: bold;
     padding: 0 15px 3px 12px;
     margin: 5px 0 10px 0 !important;
     letter-spacing: 0.05em;
     border: 1px solid #111;
     -moz-border-radius: 0 0 5px 5px;
     -khtml-border-radius: 0 0 5px 5px;
     border-radius: 0 0 5px 5px;
     border-top: 0;
     text-shadow: 0px 1px 1px #777;
     background: #ffb url('images/bling.png') repeat-x scroll center center !important;
     font-variant: small-caps !important;
     color: #503;
     box-shadow: 0 1px 1px #777;
}

.snarkConfigTitle img {
     margin-right: -3px;    
} 
.snarkConfig {
     font-size: 8pt;
     width: 100%;
}

.page {
     background: #fff url('images/tile2.png');
     color: #310;
     min-width: 800px !important;
     margin: 5px 0 0 0;
     padding: 10px 10px 0px 10px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #101;
     font-size: 9pt !important;
     line-height: 160% !important;
     -moz-box-shadow: inset 0px 0px 1px 0px #212;
     -khtml-box-shadow: inset 0px 0px 1px 0px #002;
     box-shadow: inset 0px 0px 1px 0px #002;
     text-align: center;
     opacity: 1;
}

form {
     margin-bottom: 0;
}

p {
     line-height: 150%;
}

hr {
     color: #444;
     background: #444;
     height: 1px;
     border: 0px solid #444;
     width: 0%;
     margin: 5px 0 7px 0;
     text-align: center;
}

a:link {
     color: #d30;
     text-decoration: none;
     font-weight: bold;
     word-wrap: break-word;
}

a:visited {
     color: #a60;
     text-decoration: none;
     font-weight: bold;
}

a:hover {
     color: #fa0;
     font-weight: bold;
}

input {
     font-size: 9pt;
     font-weight: bold;
     text-align: left;
     padding: 3px 4px !important;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px inset #000;
     background: #fff /*url('/themes/snark/ubergine/images/graytile.png')*/;	 
     color: #000;
     margin: 2px 4px;
}

input.r {
     text-align: right;
}

input[type=submit] {
     text-shadow: 0px 0px #410;
     color: #f30;
     background: #fff;
     border: 1px outset #bbb;
     padding: 2px;
     background: #fef url('images/bling.png') repeat-x scroll center center;
}

input[type=submit]:hover {
     border: 1px inset #bbb;
     text-shadow: 0 0;	 
     background-color: #fef;
     color: #f60;
     background: #fef url('images/bling2.png') repeat-x scroll center center;

}

input[type=submit]:active {
     background: #000 !important;
     color: #f60 !important;
     text-shadow: 0 !important;
}

input[type=image] {
     padding: 0 !important;
     -moz-border-radius: 0px;
     -khtml-border-radius: 0px;
     border-radius: 0px;
     border: medium none;
     margin: 0 2px;
     opacity: 0.8 !important;
}

input[type=image]:hover {
     opacity: 1 !important;
}

input[type=text]:active, input[type=text]:hover, input.r:hover {
     background: #fef;
     color: #500;
}

input[type=radio] {
     padding: 2px;
     margin: 0 3px 0 8px;
     vertical-align: bottom;
}

input.default { width: 1px; height: 1px; visibility: hidden; }

input.accept {
     background: #f3efc7 url('../../console/images/accept.png') no-repeat 2px center;
     padding: 2px 3px 2px 20px !important;
     min-height: 22px;
}

input.add {
     background: #f3efc7 url('../../console/images/add.png') no-repeat 2px center !important;
     padding: 2px 3px 2px 20px !important;
     min-height: 22px;
}

input.cancel {
     background: #f3efc7 url('../../console/images/cancel.png') no-repeat 2px center;
     padding: 2px 3px 2px 20px !important;
     min-height: 22px;
}

input.create {
     background: #f3efc7 url('images/create.png') no-repeat 2px center;
     padding: 2px 3px 2px 20px !important;
     min-height: 22px;
}

input.delete {
     background: #f3efc7 url('../../console/images/delete.png') no-repeat 2px center;
     padding: 2px 3px 2px 20px !important;
     min-height: 22px;
}

input.reload {
     background: #f3efc7 url('../../console/images/arrow_refresh.png') no-repeat 2px center;
     padding: 2px 3px 2px 20px !important;
     min-height: 22px;
}

select {
     background: #fff;
/*     background: url('/themes/snark/ubergine/images/graytile.png') !important;*/
     color: #101;
     font: 8pt "Lucida Sans Unicode","Bitstream Vera Sans",Verdana,Tahoma,Helvetica,sans-serif;
     font-weight: bold;
     padding: 2px 2px 2px 3px;
     -moz-border-radius: 4px 0 0 4px;
     -khtml-border-radius: 4px 0 0 4px;
     border-radius: 4px 0 0 4px;
     border: 1px solid #000;
     margin-left: 5px;
}

select:hover, textarea:hover {
     background: #fff !important;
     color: #101 !important;
}

textarea {
     background: #fff; /*url('/themes/snark/ubergine/images/graytile.png');*/
     color: #f60;
     font-weight: bold;
     padding: 1px 4px 0px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px inset #000;
     font-size: 8pt;
     margin-left: 5px;
}

img {
     border: none;
     margin: 0 3px 1px 3px;
     vertical-align: middle;
     opacity: 1.0;
     line-height: 100%;
}

img:hover {
     border: none;
     opacity: 1;
     line-height: 100%;
}

.infoz {
     margin: 0 -1px 0 0 !important;
     padding: 0 !important;
     lineheight: 100%;
     float: left;
}

.infoz img {
     border: none;
     opacity: 0.8 !important;
}

.infoz img:hover {
     opacity: 1 !important;
}


div.section,div.mainsection {
     margin: 0 0 10px 0;
     padding: 10px;
     border: 1px solid #001;
     color: #001;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     -moz-box-shadow: inset 0px 0px 1px 0px #212;
     word-wrap: break-word;
     text-align: center;
     background: #fef;
     opacity: 1 !important;
}

div.newtorrentsection {
     margin: 0 0 10px 0;
     padding: 0 10px 0px 10px;
     border: 1px solid #001;
     text-align: center;
     color: #ddd;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     -moz-box-shadow: inset 0px 0px 1px 0px #fff;
     -khtml-box-shadow: inset 0px 0px 1px 0px #fff;
     box-shadow: inset 0px 0px 1px 0px #fff;
     word-wrap: break-word;
     background: #ffd url('images/snark_create.png') no-repeat scroll right center;
     opacity: 1.0;
}

div.addtorrentsection {
     margin: 0 0 10px 0;
     padding: 0 10px 0px 10px;
     border: 1px solid #001;
     text-align: center;
     color: #ddd;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     -moz-box-shadow: inset 0px 0px 1px 0px #fff;
     -khtml-box-shadow: inset 0px 0px 1px 0px #fff;
     box-shadow: inset 0px 0px 1px 0px #fff;
     word-wrap: break-word;
     background: #ffd url('images/snark_add.png') no-repeat scroll right center;
     opacity: 1.0;
}

div.configsection {
     margin: 0 0 10px 0;
     padding: 0 10px 15px 10px;
     border: 1px solid #000;
     color: #ddd;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     -moz-box-shadow: inset 0px 0px 1px 0px #fff;
     -khtml-box-shadow: inset 0px 0px 1px 0px #fff;
     box-shadow: inset 0px 0px 1px 0px #fff;
     word-wrap: break-word;
     text-align: center;
     background: #ffd;
     font-weight: bold;
}

div.configsectionpanel {
     margin: 0 0 10px 0;
     padding: 0 10px;
     border: 1px solid #000;
     color: #ddd;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     -moz-box-shadow: inset 0px 0px 1px 0px #fff;
     -khtml-box-shadow: inset 0px 0px 1px 0px #fff;
     box-shadow: inset 0px 0px 1px 0px #fff;
     word-wrap: break-word;
     text-align: center;
     background: #ffd url('/themes/snark/ubergine/images/configuration.png') no-repeat scroll right center;
     font-weight: bold;
}

.newtorrentsection form, .configsection form, .addtorrentsection form {
     color: #ddd !important;
}

div.configsection table{
     color: #ffb;
     opacity: 1;
}

div.configsection a {
     color: #f30;
     text-shadow: 1px 1px #777;
}

div.configsection a:hover {
     color: #f90;
     text-decoration: none;
}

code {
     font-size: 9pt;
     color: #930;
     padding: 0 2px;
     font-weight: bold;
     font-family: "Lucida Console", "DejaVu Sans Mono", Courier, mono;
}
.snarknavbar {
     margin: -10px 0 5px 0 !important;
     padding: 11px 10px 12px;
     border: 1px solid #101;
     -moz-border-radius: 0 0 8px 8px;
     -khtml-border-radius: 0 0 8px 8px;
     border-radius: 0 0 8px 8px;
     -moz-box-shadow: inset 0px 0px 1px 0px #212;
     -khtml-box-shadow: inset 0px 0px 1px 0px #212;
     box-shadow: inset 0px 0px 1px 0px #212;
     background: #fef url('images/bling2.png') repeat-x scroll center center;
     text-transform: uppercase !important;
     letter-spacing: 0.065em !important;
     font-weight: bold;
     font-size: 11.5pt;
     color: #001;
     min-width: 700px;
     width: 70%;
     text-align: center;
 }

 .snarknavbar img {
     border: 0;
     margin: 0 -6px 0 -2px;
     padding: 1px 0 0px !important;
     vertical-align: top;
}


.routerdown {
     color: #900;
}

.trackerconfig {
     text-align: left !important;
}

.trackerconfig th:nth-child(n+4), .trackerconfig th:nth-child(n+5), .trackerconfig td:nth-child(n+4), .trackerconfig td:nth-child(n+5) {
     text-align: center !important;
}

.trackerconfig th, .trackerconfig td, .trackerconfig th:last-child, .trackerconfig td:last-child {
     text-align: left !important;     
}

.trackerconfig td:first-child {
     text-align: right !important;     
}

input.trackername {
     width: 100px;
}

input.trackerhome {
     width: 200px;
}

input.trackerannounce {
     width: 230px;
}
