body {
     margin: 25px 10px 0 5px;
     padding: 0;
     text-align: center;
     background: #002;
     color: #FFF;
     font: 9pt/130% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
}

.hide {
     display: none;
}

img {
     border: none;
}

pre {
     width: 98%;
     overflow-x: scroll;
     text-align: left;
     font: 9pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     color: #fff;
}

div.logo {
     float: left;
     left: 10px;
     top: 0px;
     padding: 10px 10px 10px 14px;
     text-align: left;
     font-color: #fff;
     border: 0px solid #f00;
     margin: 0px;
     background: #003;
     display: none;
     border-bottom: 1px solid #eef;
}

div.toolbar {
     margin: 0;
     padding: 10px;
     font-weight: bold;
     background: #eef;
     border: 1px solid #002;
     display: none;
}

div.toolbar a:link {
     border: 1px outset #ddddc0;
     padding: 0px 5px 1px 5px;
     background: #bbf;
     text-decoration: none;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     color: #002;
}

div.toolbar a:visited {
     background: #ddf;
}

div.toolbar a:hover, button:hover{
     border: 1px solid #eeeeff;
     background: #003;
     color: #f60;
}

a:active{
     color: #900;
}

div.routersummaryouter {
     float: left;
     width: 200px;
     margin: 0 0 10px 20px;
     padding: 0;
     border: 0;
     clear: left;/* fixes a bug in Opera */
     text-align: center;
     display: block;
}

div.routersummary {
     width: 175px;
     padding: 10px;
     text-align: center;
     border: 1px solid #9999ff;
     background: #003;
     background: url(images/darkbluebg.png);
     color: #eef;
     font-size: 8pt;
     clear: left;/* fixes a bug in Opera */
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     border-radius: 4px;
     float: left;
     -moz-box-shadow: inset 0px 0px 16px 0px #009;
}

div.warning {
     margin: 0em 1em 1em 224px;
     padding: .5em 1em;
     background: #ffefef;
     border: medium solid #ffafaf;
     text-align: left;
     color: inherit;
}

div.main {
     margin: 0px 0px 20px 215px;
     padding: 0 15px 15px 25px;
     background: #002;
     text-align: left;
     color: #eef;
     width: auto;
/*  overflow-x: scroll; */
}

div.main textarea {
     background: #002;
     color: #fff;
     font: 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
}

div.news {
     margin: 0px 15px 20px 240px;
     padding: 20px 30px 20px 30px;
     border: 1px solid #99f;
     background: #004;
     background: url("images/darkbluetile.png");
     color: #eef;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     text-align: justify;
}

div.news li {
     text-align: justify;
     font-weight: bold;
     list-style: url('images/info_dark.png');
     margin: 0 10px 0 30px;
     padding: 5px;
     vertical-align: middle;
}

div.confignav {
     padding: 0 15px;
     margin: 0 0px 25px 0;
     background: #004 url('images/darkbluebg.png');
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     border: 1px solid #99f;
     font-size: 8pt !important;
}

div.configure {
     padding: 15px;
     margin: 10px 0px;
     background: #005;
     -moz-border-radius: 4px;
     border: 1px solid #99f;
}

div.messages {
     padding: 0 10px;
     margin: 10px 0 20px 0;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     border: 1px solid #99f;
     background: #008 url('images/lightbluetile.png');
}

div.messages span.error {
     color: #dd0;
}

div.messages span.notice {
     font-style: italic;
}

div.messages li {
     text-align: justify !important;
     font-weight: bold;
     list-style: url(images/warning_dark.png) !important;
     margin: 0 10px 0 35px !important;
     padding: 5px 10px !important;
     border: 0px !important;
}

table {
     border-collapse: collapse;
     width: 100%;
     border: 1px solid #99f;
     margin: 5px 0px 5px 0px;
     cell-padding: 1px;
     font-size: 7pt;
     background: #003;
}

th {
     padding: 4px;
     color: #eef;
     text-align: center;
     font-size: 8pt;
     background: #004 url('images/tabletitledark.png') repeat-x;
}

tr {
     vertical-align: middle;
}

tr:nth-child(even) {
     background: #002 url('images/darkerbluetile.png') !important;
     vertical-align: middle;
}

tr:nth-child(odd) {
     background: #003 url('images/darkbluetile.png') !important;
     vertical-align: middle;
}

td {
     padding: 5px 10px;
     color: #eef;
     text-align: left;
     vertical-align: middle;
}

tt {
     font: bold 9pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     color: #FF0;
     padding: 10px;
}

div.main li {
     text-align: left;
     list-style: square;
     margin: 2px 0px 2px 30px;
     padding: 1px 20px 1px 0px;
     line-height: 150%;
}

.tidylist {
     text-align: justify !important;
}

ol {
     display: inline;
     margin: 1px 0 0 0;
     padding: 1px 0 0 20px;
}

ul {
     display: inline;
     margin: 0;
     padding: 0;
}

code {
     text-align: left;
     font: 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
}

a:link, h2 a:link{
     color: #99f;
}

a:visited{
     color: #7bb;
}

a:hover{
     color: #f60;
}

.links {
     list-style-image: url("images/link_dark.png");
     margin: 0 5px 0 0px;
     padding: 0px 5px;
     text-align: justify;
}

p {
     text-align: justify;
     line-height: 160%;
}

h1 {
     text-align: left;
     color: #fff;
     padding: 10px 15px;
     margin: 0 15px 25px 240px;
     font-size: 16pt;
     font-weight: bold;
     font-style: normal;
     text-transform: uppercase;
     letter-spacing: 0.15em;
     text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
     white-space: normal;
     background: #004 url('images/darkbluebg.png');
     -moz-box-shadow: inset 0px 0px 16px 0px #009;
     border: 1px solid #99f;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     line-height: 120%;
}

h2 {
     font-size: 12pt;
     color: #fff;
     text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
     letter-spacing: 0.05em;
     background: #003 url('images/darkbluebg.png');
     padding: 5px 10px 8px 10px;
     wordwrap: none;
     border: 1px solid #99f;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     vertical-align: middle;
     margin: 25px 0 20px 0 !important;
}

h2 a:visited {
     color: #44f;
}

h2 a:hover {
     color: #f60;
     text-shadow: 0px 0px 1px rgba(255, 255, 72, 0.9);
}

h3 {
     border-bottom: 1px;
     border-bottom-style: solid;
     border-bottom-color: #99f;
     padding: 5px 0;
}

button {
     border: 1px outset #ddddc0;
     padding: 1px 3px;
     background: #bbf;
     text-decoration: none;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     font-size: 8pt;
     font-weight: bold;
     margin: 2px 3px;
     text-align: center;
     vertical-align: middle;
     min-width: 76px;
}

button:active {
     border: 1px inset #f60;
     background: #f60;
     color: #fff;
}

.underline {
     border-bottom: 1px solid #eeeeff;
     padding: 5px 0px 5px 0px;
     margin: 0px 0px 10px 0px;
     -moz-border-radius: 4px;
}

.langbox {
     margin: 2px 2px 2px 5px;
     padding: 7px 10px 5px 10px;
     color: #eef;
     font-size: 7pt;
     width: 140px;
     text-align: right;
     float: right;
     vertical-align: middle;
}

hr {
     color: #99f;
     background: #99f;
     height: 1px;
     border: 0px solid #99f;
     margin: 10px 0;
}

sidebarlogo {
     text-align: center;
}

input {
     background: #bbf;
     color: #002;
     margin: 5px;
     font: bold 9pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     border: 1px solid #99f;
     padding: 1px 2px;
     text-decoration: none;
     min-width: 110px;
}

input:hover {
     background: #eef;
     color: #001;
     border: 1px solid #f60;
}

input:active {
     background: #002;
     color: #fff;
     border: 1px solid #f60;
}

select {
     background: #002;
     color: #eef;
     margin: 5px;
     border: 1px solid #99f;
     border-radius: 0;
     -moz-border-radius: 0;
     -webkit-border-radius: 0;
     min-width: 110px;
     font: 9pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     padding: 2px;
}

textarea {
     background: #001;
     color: #eef;
     padding: 5px;
     margin: 0 5px 5px 0px;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     font: 9pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     min-height: 100px;
     min-width: 100%;
     text-align: left;
     border: 1px solid #99f;
}

form {}