/* I2P Theme Override: Dark */
/* Comment: Larger text (and other tweaks) for Chinese & other doublebyte charactersets */
/* Author: dr|z3d */

h1, h2, h3, h4 {
     text-shadow: none !important;
     font-weight: normal !important;
}

h1 {
     font-size: 20pt;
     padding: 11px 15px;
}

h3 {
     font-size: 14pt !important;
}

body {
     font-family: "Droid Sans", "Noto Sans", Verdana, "Bitstream Vera Sans", Tahoma, Helvetica, sans-serif;
     font-size: 12pt;
     line-height: 130%;
}

div.news {
     font-size: 10pt;
     font-style: normal !important;
}

div.main, div.news, h1 {
     margin-left: 232px !important;
}

div.routersummary {
     width: 200px;
}

div.routersummary table, table#sb_localtunnels {
    font-size: 10pt;
    width: 215px !important;
}

div.routersummary table td {
     padding: 2px 1px;
}

div.routersummary h3, div.routersummary h4, div.routersummary p, div.routersummary h3 a, div.routersummary a {
     text-shadow: none !important;
}

div.routersummary h3 a {
     font-size: 14pt !important;
     text-transform: uppercase !important;
     letter-spacing: 0.15em !important;
}

div.routersummary h4, .routersummary h4 a {
     font-size: 11pt !important;
     font-weight: normal;
}

div.routersummary b {
     font-size: 10pt;
     font-weight: normal;
}

div.routersummary a {
     font-size: 10pt;
     font-weight: normal;
}

#sb_warning {
     padding-top: 10px;
     padding-bottom: 10px;
}

div.messages, div.error, .error ul li {
     font-size: 11pt;
     font-weight: normal !important;
}

b, a, a:link, a:hover, a:visited {
     font-weight: normal;
     font-size: 11pt !important;
}

h2 {
     font-size: 16pt;
     text-shadow: none;
     font-weight: normal;
}

h3 {
     font-size: 15pt;
}

h4, h4.app, h4.app2 {
     font-size: 14pt;
}

p, div.main {
     font-size: 11pt;
}

button, button:visited {
    font: normal 10pt "Droid Sans", "Noto Sans", Verdana, "Bitstream Vera Sans", Tahoma, Helvetica, sans-serif !important;
}

button.reload, button.stop {
     padding: 2px !important;
     font-size: 12pt !important;
     min-width: 100px;
}

code, pre, tt {
     font-size: 12pt;
     font-weight: normal;
}

.smallhead, th {
     font-size: 8.5pt;
     font-weight: normal;
}

table {
     font: 10pt/130% "Droid Sans", Verdana, "Bitstream Vera Sans", Tahoma, Helvetica, sans-serif;
}

div.applabel {
     font-size: 10pt;
     width: 134px;
}

div.app {
     height: 64px;
     width: 138px;
}

div.confignav {
     font-size: 13pt;
}

input[type="submit"], input[type="reset"] {
     padding: 3px 2px;
     font-size: 12pt;
     min-width: 80px;
     font-weight: normal;
}

.langselect, .themechoice {
     font-size: 11pt !important;
}

.langselect .optbox {
     min-height: 68px;
}

table#leasesetdebug th a:not(old), table#leasesetsummary th a:not(old), #tunnels.main h3 a:not(old), #logs h3 a:not(old),
a[href^="configpeer?peer"], h3#iptransport a:not(old), h3#iptransport a:not(old) {
     font-size: 0 !important;
}

h3#webappconfig, h3#i2pclientconfig {
    margin-bottom: -15px !important;
}

td.optionsave {
     border-top: 1px solid #494;
}

/* responsive layout */

@media screen and (min-width: 0) {
p, .main {
     font-size: 11pt !important;
}

.tab, .tab2, .confignav a {
     font-size: 11pt !important;
     margin-right: -2px !important;
}

.news p, .news a {
     font-size: 10pt !important;
}
}

@media screen and (max-width: 1500px) {
.tab, .tab2 {
     font-size: 10.5pt !important;
     margin-right: -3px !important;
}

h3#webappconfig, h3#i2pclientconfig {
    margin-bottom: -16px !important;
}
}

