/* I2P Theme: Camo aka Dark */
/* Description: Military Grade. */
/* Comment: Thanks to Florian Kuhlmann for the hatface images. [ http://www.flickr.com/photos/floriankuhlmann/]
/* Author: dr|z3d */

body {
     margin: 5px 0px 0 0px;
     padding: 0;
     text-align: center;
     background: #010 url('images/camotile.png') center bottom;
     color: #EE9;
     font: 9pt/130% "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     
}

.hide {
     display: none;
}

img {
     border: none;
}

pre {
     width: 98%;
     overflow-x: scroll;
     text-align: left;
     font: 9pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     color: #EE9;
}

div.logo {
     float: left;
     padding: 10px;
     text-align: center;
     font-color: #EE9;
     margin: 0 20px 0 20px;
     border: 1px solid #494;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
 background: #000; /*url("images/camotile2.png");*/
     width: 185px;
     -moz-box-shadow: inset 0px 0px 1px 0px #009;
     -khtml-box-shadow: inset 0px 0px 1px 0px #009;
     box-shadow: inset 0px 0px 1px 0px #009;
}

div.logo hr {
     color: #494;
     background: #494;
     height: 1px;
     border: 0px solid #494;
     margin: 10px 0 5px;
}

div.toolbar {
     margin: 0;
     padding: 10px;
     font-weight: bold;
     background: #000;
     border: 1px solid #000;
     display: none;
}

div.toolbar a:link {
     border: 1px outset #ddddc0;
     padding: 0px 5px 1px 5px;
     background: #bbf;
     text-decoration: none;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     color: #000;
}

div.toolbar a:visited {
     background: #ddf;
}

div.toolbar a:hover, button:hover{
     border: 1px solid #f60;
     background: #030;
     color: #f60;
}

a:active{
     color: #900;
}

div.routersummaryouter {
     float: left;
     width: 200px;
     margin: 0 0 10px 5px;
     padding: 0;
     border: 0;
     clear: left;/* fixes a bug in Opera */
     text-align: center;
     display: block;
}

div.routersummary {
     width: 173px;
     padding: 10px;
     text-align: center;
     border: 1px solid #494;
     background: #000 url(images/camotile2.png);
     color: #EE9;
     font-size: 8pt;
     clear: left;/* fixes a bug in Opera */
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     float: left;
     -moz-box-shadow: 0 1px 5px #000;
     -khtml-box-shadow: 0 1px 5px #000;
     box-shadow: 0 1px 5px #000;
}

div.routersummary input[type=text] {
     text-align: right !important;
     -moz-box-shadow: inset 1px 1px 1px 0px #000;
     -khtml-box-shadow: inset 1px 1px 1px 0px #000;     
     box-shadow: inset 1px 1px 1px 0px #000;     
}

div.routersummary hr {
     color: #494;
     background: #494;
     height: 2px;
     border-bottom: 1px solid #494;
     margin: 8px -10px 7px -10px;
     -moz-box-shadow: inset 0px 1px 1px 1px #000;
     -khtml-box-shadow: inset 0px 1px 1px 1px #000;
     box-shadow: inset 0px 1px 1px 1px #000;
}

div.routersummary h3 {
     border: 0;
     font-size: 9.5pt;
     letter-spacing: 0.04em;
     margin: -7px -10px -8px -10px;
     padding: 3px 0 4px 0 !important;
     text-transform: uppercase;
     -moz-border-radius: 0;
     -khtml-border-radius: 0;
     border-radius: 0;
     background: #000 url('images/header.png') center center ;
     background-image: -moz-linear-gradient(top, bottom, from(#050), to(#030), color-stop(7%, #000), color-stop(100%, #050));
}

div.routersummary h4 {
     border: 0;
     border-bottom: 0 !important;
     font-size: 8.5pt;
     letter-spacing: 0.02em;
     margin: -7px -9px -10px -9px !important;
     padding: 6px 3px 9px 3px;
     background: #000;
     text-transform: capitalize;
     text-decoration: none !important;
     color: #2b2;
     background-image: -moz-linear-gradient(top, bottom, from(#000), to(#050), color-stop(10%, #050), color-stop(100%, #004));
     line-height: 100%;
}

div.routersummary table {
     border: 0;
     text-align: center !important;
     margin: -5px -7px -5px -8px !important;
     width: 188px !important;
     overflow: hidden;
     font-size: 8pt;
     padding: 0 -10px;
     background-image: none !important;
     background-color: transparent !important;
}

div.routersummary tr {
     background-image: none !important;
     background-color: transparent !important;
     border: 0 !important;
}

div.routersummary form {
     margin: -6px 0 -7px;
}

div.routersummary form:first-child {
     margin: 6px 0 -4px 0 !important;
}

div.routersummary p {
     padding: 0;
}     

div.refresh {
     margin-top: -10px !important;
     margin-bottom: -4px !important;
     padding: 2px 0 0px 0 !important;
}

div.routersummary a:link, div.routersummary a:visited {
     text-shadow: 1px 1px 1px rgba(0, 16, 0, 0.8);
     text-shadow: 0px 0px 2px #101 !important;
}

div.routersummary a:hover {
     text-shadow: 0px 0px 1px rgba(255, 96, 0, 0.7);
     color: #f60;
}

div.routersummary td {
     padding: 0px 2px 0px 2px;
     background-image: none !important;
     border: 0 !important;
}

div routersummary hr:last-child {
     margin-top: 5px;
     margin-bottom: -5px !important;
}

div.tunnels {
     padding-top: 3px !important;
     margin-left: -4px;
     text-align: center;
}

div.tunnels table {
     margin: -5px 0 -5px -3px !important;
}

div.tunnels td {
     padding: 1px 0px 1px 0px;
}

div.tunnels td:first-child {
     width: 16px;
     text-align: left;
     padding-right: 2px;
}

div.tunnels td:last-child {
     text-align: right;
     padding-right: 1px;
}

div.tunnels tr {
/*     border: 1px solid #494 !important;*/
}

div.warning {
     margin: 20px 20px 20px 245px;
     padding: 5px 25px 20px 75px;
     background: #000;
     border: 1px solid #494;
     text-align: left;
     color: #EE9;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     text-align: justify;
     background-image:url("../images/itoopie_sm.png");
     background-position:10px center;
     background-repeat:no-repeat;
     -moz-box-shadow: inset 0px 0px 0px 1px #f00;
     -khtml-box-shadow: inset 0px 0px 0px 1px #f00;
     box-shadow: inset 0px 0px 0px 1px #f00;          
     word-wrap: break-word;
}

/* console error messages */

div.sorry {
     margin: 15px 15px 10px 215px;
     padding: 20px 20px 20px 75px;
     background: #020;
     border: 1px solid #494;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     text-align: justify;
     background-image:url("images/errortriangle.png");
     background-position:15px center;
     background-repeat:no-repeat;
     -moz-box-shadow: inset 0px 0px 0px 1px #d00;
     word-wrap: break-word;
     font-weight: bold;
     color: #EE9;
}

div.sorry hr {
     color: #EE9;
     background: #EE9;
     height: 1px;
     border: 1px solid #EE9;
     margin: 10px 0;
}     

div.main {
     margin: -1px 5px 5px 205px;
     padding: 0 15px 15px 15px;
     text-align: left;
     color: #EE9;
     width: auto;
/*  overflow-x: scroll; */
     border: 1px solid #494;
     -moz-border-radius: 0 0 4px 4px;
     -khtml-border-radius: 0 0 4px 4px;
     border-radius: 0 0 4px 4px;
     background: #000 url(images/scarface.jpg) right bottom no-repeat !important;
     min-width: 620px;
     -moz-box-shadow: 0 1px 5px #000;
}

div.main textarea {
     background: #000;
     color: #EE9;
     font: 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
}

div.news {
     margin: -1px 5px 0px 205px;
     padding: 5px 30px 5px 30px;
     border: 1px solid #494;
     background: #000;
     background: #000 url("images/news.png")no-repeat scroll bottom right;
     color: #7b7;
/*     border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
     -khtml-border-radius: 4px 4px 0 0;*/
     font-size: 7.5pt;
     text-align: right;
     -moz-box-shadow: 0 1px 5px #000;
     -khtml-box-shadow: 0 1px 5px #000;
     box-shadow: 0 1px 5px #000;
     min-width: 580px;
/*     height: 164px;
     overflow-y: auto;*/
}

div.news li {
     text-align: justify;
     list-style: url('images/info_dark.png');
     list-style: none;
     margin: 0 10px 0 0px;
     padding: 5px 5px 5px 0;
     vertical-align: middle;
     word-wrap: break-word;
     color: #494;
     font-weight: bold;
     font-size: 9pt;
     border-bottom: 1px dotted #494;
     margin-bottom: 8px;
}

div.news h4 {
     border-bottom: 1px;
     border-bottom-style: dotted;
     border-bottom-color: #494;
     padding: 0 0 0px 0;
     margin: 5px 0 10px 0;
     font-size: 10pt;
     opacity: 0.8;
     text-transform: capitalize;
}

div.news h4:first-child {
     background: url('../images/itoopbullet.png');
     background-repeat: no-repeat;
     background-position: right;   
}

div.news p {
     margin-top: -5px;
     font-size: 8.5pt;
     color: #EE9;
     margin-bottom: 0;
}

div.news hr {
     margin: 5px 0 3px 0;
}     

div.confignav {
     padding: 15px 10px !important;
     margin: 15px 0;
     background: #000 url('images/header.png') center center repeat-x ;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #494;
     font-size: 9.5pt !important;
     font-weight: bold !important;
     line-height: 160% !important;

}

div.configure {
/*     padding: 5px 15px 0 15px;
     margin: 10px 0px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #494; */
     background: none;/* url(images/camotile2.png);*/
}

div.messages {
     padding: 10px;
     margin: 10px 0 15px 0;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #494;
     background: #000  /*url('images/infotile.png') center left no-repeat;*/
     font-weight: bold;
     font-size: 9pt;
     color: #4f4;
}

div.messages span.error {
     color: #d90;
}

div.messages span.notice {
     font-style: italic;
}

div.messages li {
     text-align: justify !important;
     font-weight: bold;
     list-style: url(images/warning_dark.png) !important;
     margin: 0 5px 0 50px !important;
     padding: 0 10px 0 0 !important;
     border: 0px !important;
}

div.graphspanel {
     padding: 0;
     margin: 15px 0px -15px 0;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
/*     border: 1px solid #494;*/
     background: none;/* url(images/camotile.png);*/
     text-align: center;
}

div.widepanel h3 {
     text-align: left !important;
}

div.graphspanel form {
     text-align: left;
     padding: 0 15px 0px 15px;
}

div.graphspanel hr {
     margin: 10px -15px 10px -15px;
}

div.graphspanel img {
     border: 1px solid #494;
     padding: 3px;
     margin: 5px;
     text-align: center !important;
     background: #000;

     opacity: 0.8;
}

div.graphspanel img:hover {
     border: 1px solid #000;
     padding: 3px;
     margin: 5px;
     text-align: center !important;
     background: #000;
     -moz-box-shadow: inset 0px 0px 1px 1px #f60;
     -khtml-box-shadow: inset 0px 0px 1px 1px #f60;
     box-shadow: inset 0px 0px 1px 1px #f60;
     opacity: 1;
}

table {
     border-collapse: collapse;
     width: 100%;
     border: 1px solid #494;
     cell-padding: 1px;
     font-size: 7pt;
     background: #030;
     margin: 1px 0;
}

table hr {
     padding: 0px 0;
     color: #494;
     background: #494;
     border: 0px solid #494;
     margin: 0px 0px;
     height: 1px;
     display: none;
}

th {
     padding: 6px 2px;
     color: #EE9;
     text-align: center;
     font-size: 9pt;
     background: #000; /*url('images/tabletitledark.png') repeat-x;*/
     background: #000 url('images/header.png') center center repeat-x ;
     border-top: 1px solid #494;
     border-bottom: 1px solid #494 !important;     
     line-height: 110%;
}

tr {
     vertical-align: middle;
}

tr:nth-child(even) {
     background: #010;/* url('images/darkerbluetile.png') !important;*/
     vertical-align: middle;
}

tr:nth-child(odd) {
     background: #000800;/* url('images/darkbluetile.png') !important;*/
     vertical-align: middle;
}
/*
tr:last-child {
     background: #004 url('images/lightbluetile.png') !important;
     font-weight: bold;
     border: 1px solid #494 !important;
}
*/
td {
     padding: 4px 6px;
     color: #EE9;
     vertical-align: middle;
     border-top: 1px inset #494;
     border-bottom: 1px outset #494;   
}

td img {
     padding: 0 1px 0 2px;
}

tt {
     font: bold 8pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     color: #FF0;
     padding: 0 5px 2px 0;
}

div.main li {
     text-align: left;
     list-style: square;
     margin: 2px 0px 2px 30px;
     padding: 2px 20px 2px 0px;
/*     line-height: 150%;*/
     word-wrap: break-word;
}

div.main li b {
     color: #b70 !important;
     letter-spacing: 0.07em;
     font-size: 9.5pt;
     line-height: 200%;
     text-shadow: 0 1px 1px #700;
}

.tidylist {
     text-align: justify !important;
     line-height: 150%;
}

.tidylist:first-child {
/*     padding-top: 5px;*/
}

.tidylist:last-child {
     padding-bottom: 15px;
}

.tidylist code {
     text-align: left;
     font: 9pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     color: #dd0;
     padding: 1px 2px;
     background: #030;
     margin: 0 2px;
}

ol {
     display: inline;
     margin: 1px 0 0 0;
     padding: 1px 0 0 20px;
}

ul {
/*     display: inline; */
     margin: 0;
     padding: 0;
}

code {
     text-align: left;
     font: 9pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     color: #dd0;
     padding: 1px 2px;
}

a:link, h2 a:link{
     color: #494;
     text-decoration: none;
     font-weight: bold;     
     word-wrap: break-word;
}

a:visited{
     color: #7b7;
     text-decoration: none;
     font-weight: bold;     
     word-wrap: break-word;
}

a:hover{
     color: #f60;
     text-decoration: underline;
     font-weight: bold;     
     word-wrap: break-word;
}

.links {
     padding-bottom: -2px;
     text-align: justify;
     margin-top: 10px;
     margin-bottom: -10px;
}

.links li {
     list-style-image: url("images/link.png") !important;
}

p {
     text-align: justify;
     line-height: 160%;
}

h1 {
     text-align: left;
     color: #EE9;
     padding: 15px 15px 14px;
     margin: 0 5px 0px 205px !important;
     font-size: 17pt;
     font-weight: bold;
     font-style: normal;
     text-transform: uppercase;
     letter-spacing: 0.15em;
     text-shadow: 0px 0px 2px #010;
     white-space: normal;
     background: #000 url("images/scope.png")no-repeat scroll right top;
     background: #000 url("images/bg2.png")no-repeat scroll top right;
     background: #000 url('images/header.png') center center;
     background-image: -moz-linear-gradient(top, bottom, from(#000), to(#030), color-stop(30%, #000), color-stop(100%, #000));
     border: 1px solid #494;
     border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
     -khtml-border-radius: 4px 4px 0 0;
     line-height: 120%;
     min-width: 620px;
     -moz-box-shadow: 0 1px 5px #000;
     -khtml-box-shadow: 0 1px 5px #000;
     box-shadow: 0 1px 5px #000;
}

h2 {
     font-size: 12pt;
     color: #EE9;
     text-shadow: 0px 0px 2px #010;
     letter-spacing: 0.05em;
     background: #000 url(images/camotile2.png);
     background-image: -moz-linear-gradient(top, bottom, from(#000), to(#030), color-stop(30%, #000), color-stop(100%, #000));
     background: #000 url('images/header.png') center center ;
     padding: 10px;
     wordwrap: none;
     border: 1px solid #494;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     vertical-align: middle;
     margin: 15px 0 12px 0 !important;
    text-transform: uppercase;
     word-wrap: break-word;
}

h2 a:visited {
     color: #191;
}

h2 a:hover {
     color: #f60;
     text-shadow: 0px 0px 1px rgba(255, 64, 0, 0.7);
}

h3 {
     border: 1px solid #494;
     border-left: 5px solid #494;
     padding: 5px 6px;
     margin: 12px 0 10px 0;
     border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
     -khtml-border-radius: 0 4px 4px 0;
     background: #000 url(images/camotile.png);
     background: #000 url('images/header.png') center center ;
     text-transform: uppercase;
     text-shadow: 0px 0px 2px #010;
}

h4 {
     border-bottom: 1px;
     border-bottom-style: solid;
     border-bottom-color: #494;
     padding: 0 0 10px 0;
     margin: 5px 0 10px 0;
     font-size: 11pt;
}

button, button:visited {
     font: bold 9pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     border: 1px outset #191;
     padding: 1px 3px;
     text-decoration: none;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     font-size: 8pt;
     font-weight: bold;
     margin: 2px 3px;
     text-align: center;
     vertical-align: middle;
     min-width: 76px;
     -moz-box-shadow: inset 0px 1px 1px 0px #494;
     -khtml-box-shadow: inset 0px 1px 1px 0px #191;
     box-shadow: inset 0px 1px 1px 0px #191;
     background: #000;
     color: #494;
}

button:hover {
     border: 1px solid #f60;
     -moz-box-shadow: inset 0px 1px 1px 0px #EE9;
     -khtml-box-shadow: inset 0px 1px 1px 0px #EE9;
     box-shadow: inset 0px 1px 1px 0px #EE9;
     background: #000;
     color: #f60;
}     
          
button:active {
     border: 1px inset #f60;
     background: #f60;
     color: #EE9;
     -moz-box-shadow: inset 0px 0px 0px 0px #f60;
     -khtml-box-shadow: inset 0px 0px 0px 0px #f60;
     box-shadow: inset 0px 0px 0px 0px #f60;
}

.underline {
     border-bottom: 1px solid #eeeeff;
     padding: 5px 0px 5px 0px;
     margin: 0px 0px 10px 0px;
}

.langbox {
     margin: 21px 2px 2px 5px;
     padding: 7px 10px 5px 10px;
     color: #EE9;
     font-size: 7pt;
     width: 220px;
     text-align: right;
     float: right;
     vertical-align: middle;
}

.langbox img {
     opacity: 0.5;
     -moz-box-shadow: 0 0 1px #000;
}

.langbox img:hover {
     opacity: 1;
     -moz-box-shadow: 0 0 1px #f60;
}

hr {
     color: #494;
     background: #494;
     height: 1px;
     border: 0px solid #494;
     margin: 20px 0 10px;
}

hr:last-child {
     margin-top: 20px;
     margin-bottom: 20px;
}

sidebarlogo {
     text-align: center;
}

input {
     border: 1px outset #5f5;
     -moz-box-shadow: inset 0px 1px 1px 0px #373;
     -khtml-box-shadow: inset 0px 1px 1px 0px #373;
     box-shadow: inset 0px 1px 1px 0px #373;
     background: #000;
     color: #494;
     margin: 5px;
     font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     padding: 1px 2px;
     text-decoration: none;
     min-width: 110px;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
}

input:hover {
     background: #000;
     color: #f60;
     border: 1px solid #f60;
     -moz-box-shadow: inset 0px 1px 1px 0px #9e9;
     -khtml-box-shadow: inset 0px 1px 1px 0px #9e9;
     box-shadow: inset 0px 1px 1px 0px #9e9;
}

input:active {
     background: #000;
     color: #f30;
     border: 1px solid #f30;
}

input:active {
     border: 1px inset #f60;
     background: #f60;
     color: #EE9;
}

input[type=text] {
     background: #000;
     color: #EE9;
     margin: 5px 10px;
     padding: 4px 2px;
     font: bold 8pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     border: 1px solid #494 !important;
     text-decoration: none;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     -moz-box-shadow: inset 1px 1px 1px 0px #000;
     -khtml-box-shadow: inset 1px 1px 1px 0px #000;
     box-shadow: inset 1px 1px 1px 0px #000;
}

input[type=text]:active, input[type=text]:hover {
     background: #000;
}

fieldset {
overflow: hidden;
position: relative;
}

select {
     background: #000;
     color: #EE9;
     margin: 5px 10px;
     border: 1px solid #494;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     min-width: 110px;
     font: 9pt "Lucida Sans Unicode", "Bitstream Vera Sans", Verdana, Tahoma, Helvetica, sans-serif;
     padding: 2px;
}

textarea {
     background: #000;
     color: #EE9;
     padding: 5px;
     margin: 10px;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     font: 9pt "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     min-height: 100px;
     min-width: 97%;
     text-align: left;
     border: 1px solid #494;
}

form {}

.proxyfooter {
     margin: 0 20px 10px 240px;
     padding: 20px 25px 20px 75px;
     font-color: #f00;
     font-size: 7pt;
     text-align: right !important;
     border-radius: 4px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border: 1px solid #000;
     display: none;
}        

.statusnotes {
     font-style: italic;
     font-size: 8pt;
     color: #EE9;
     text-align: center;
     border: 1px solid #494 !important;
/*     border-top: 0px !important;*/
     margin: -3px 0 5px 0; 
     padding: 7px;
     background: #010;
     -moz-box-shadow: inset 0px 0px 0px 1px #090;
     -khtml-box-shadow: inset 0px 0px 0px 1px #090;
     box-shadow: inset 0px 0px 0px 1px #090;
/*     background: #000 url('images/header.png') repeat-x center center !important;*/
}

div.joblog {
/*     margin: 	15px 0 15px 0;
     padding: 5px 20px 10px 20px !important;
     border: 1px solid #494;
     background-color: #000;
     background: #000; url("images/camotile.png");*/
/*     color: #dfd;*/
     border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
     -khtml-border-radius: 4px 4px 0 0;
     text-align: justify !important;
     overflow-x: auto; /* Opera fix */
 }

div.main li {
     text-align: left;
     list-style: square;
     margin: 2px 0px 2px 30px;
     padding: 2px 20px 2px 0px;
/*     line-height: 150%;*/
     word-wrap: break-word;
}
 
div.joblog li {
     word-wrap: break-word !important;
     text-align: justify !important;
     line-height: 120% !important;
     margin: 2px 0px 2px 30px;
     padding: 2px 20px 2px 0px;
}

div.joblog ul {
     word-wrap: break-word !important;
     text-align: justify;
     margin: 0px 0 10px;
}

div.joblog li:first-child {
     margin-top: 0px;
}

div.joblog li:last-child {
/*     margin-bottom: -25px;*/
}

div.joblog form:first-child {
     margin-top: 10px;
}

div.joblog table {
     margin-top: 15px;
}

div.joblog p {
     line-height: 130%;
}

.smallhead {
     font-size: 7pt
}

.mediumtags {
     font-size: 9pt;
}

.optbox {
     min-width: 16px !important;
     max-width: 16px !important;     
     width: 16px !important;
     min-height: 16px;
     max-height: 16px;     
     height: 16px;
     opacity: 1.0;
     border: 0;
     margin: 5px 5px 5px 10px;
     padding: 2px;
     overflow: hidden;
     position: relative;
}

.optbox:hover {
     min-width: 16px !important;
     max-width: 16px !important;     
     width: 16px !important;
     min-height: 16px;
     max-height: 16px;     
     height: 16px;
     opacity: 1.0;
     border: 0;
     margin: 5px 5px 5px 10px;
     padding: 2px;
}

.cells {
     border: 1px inset #494;
     border-left: 1px outset #494;     
}

.tablefooter tr, .tablefooter td {
     background: #000 url('images/header.png') repeat-x center center !important;
     border-top: 1px solid #494;
     border-bottom: 1px solid #494 !important;     
     font-size: 7pt;
     line-height: 110%;
}

.formaction {
     text-align: right;
}

div.footnote {
     text-align: right;
     color: #494;
     font-size: 7pt;
     margin-bottom: -8px !important; 
}

div.footnote hr{
     margin: 10px 0 5px 0 !important;
     color: #494;
     background: #494;
     height: 1px;
     border: 0px solid #494;
}

.topness {
     font-size: 7.5pt;
     text-align: right;
     margin-top: -5px;
     margin-bottom: -5px;
     margin-right: 5px;
}