/* I2P TunnelManager theme: "Midnight" */
/* Author: dr|z3d.  */

body {
     margin: 0;
     padding: 0;
     text-align: center;
     font-family: "Droid Sans", "Noto Sans", "Bitstream Vera Sans", "Lucida Grande", "DejaVu Sans", "Segoe UI", Verdana, Helvetica, sans-serif;
     background: #000;
     color: #c9ceff;
     font-size: 9pt;
}

body.iframed {
     background: transparent url(/themes/console/images/transparent.gif) !important;
     padding: 0;
     overflow: hidden;
}

:-moz-focusring {
     outline: none !important;
}

div {
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

a {
     text-decoration: none;
     font-weight: bold;
}

a:link {
     color: #443da0;
     outline: none;
}

a:visited {
     color: #7670c2;
}

a:hover, a:focus {
     color: #652787;
}

a:active {
     color: #4f0519;
}

.accesskey {
     display: none !important;
     text-decoration: underline;
}

form {
     margin: 0;
}

br {
     clear: left;
}

div.statusNotRunning {
     height: 24px;
     overflow: hidden;
     color: #d00;
     background: url('images/console_status_stopped.png') center center no-repeat;
}

div.statusRunning {
     height: 24px;
     overflow: hidden;
     color: #0b0;
     background: url('images/console_status_running.png') center center no-repeat;
}

div.statusStarting {
     height: 24px;
     overflow: hidden;
     color: #393;
     background: url('images/console_status_starting.png') center center no-repeat;
}

div[class^="status"] {
     font-size: 0 !important;
     background-position: center center;
     text-align: center;
     margin: 0;
     padding: 0;
     width: 100%;
     background-size: auto 16px;
}

hr {
     display: none;
}

#clientHost {
     width: 300px;
}

#clientPort {
     width: 100px;
}

.panel {
     margin: 8px auto;
     padding: 5px 3px !important;
     width: calc(100% - 14px);
     min-width: 450px;
     max-width: 1400px;
     overflow: hidden;
     text-align: left;
     color: #c9ceff;
     background: none;
}

.panel:first-child {
     margin-top: 0;
}

.panel:last-child {
     margin-bottom: 5px;
}

.iframed .panel.iframed {
     margin: 0 auto -8px auto !important;
}

.iframed .panel {
     margin: 16px auto -8px auto !important;
     width: 100%;
}

#globalTunnelControl {
     margin: -13px auto;
}

.iframed #globalTunnelControl {
     margin: 6px auto -26px !important;
}

#serverTunnels {
     margin: -1px 0 10px;
}

h2, h3 {
     padding: 7px 10px;
     border: 1px solid #2d295f;
     background: linear-gradient(to bottom, #191729 0%, #191729 50%, #000 50%, #000 100%) !important;
     font-size: 11pt;
     text-transform: uppercase;
     letter-spacing: 0.08em;
     word-spacing: 0.1em;
     margin: 5px 0 -1px;
     color: #c9ceff;
     box-shadow: inset 0 0 0 1px #000;
}

h3 {
     margin-top: 10px;
}

.iframed h2 {
     margin: 10px 0 -1px;
}

.iframed #globalTunnelControl h2 {
     margin-top: 2px;
}

.panel table {
     width: 100%;
     border-collapse: collapse;
     border: 1px solid #443da0;
     border: 1px solid #2d295f;
     margin: 0;
}

th {
     background: #000;
     background: linear-gradient(to bottom, #191729 0%, #201f33 7%, #1f1e32 9%, #161525 21%, #090812 49%, #05050e 50%, #020206 51%, #010103 53%, #000000 56%, #000000 100%) !important;
     padding: 6px 5px;
     border-top: 1px solid #2d295f;
     border-bottom: 1px solid #2d295f;
     font-size: 10pt;
     color: #c9ceff;
     letter-spacing: 0.08em;
     word-spacing: 0.1em;
}

td {
     border-top: 1px solid #2d295f;
     vertical-align: middle;
     padding: 5px;
     font-size: 9pt;
}

td > input {
     margin-left: 0;
}

td > b {
     margin-right: 5px;
     display: inline-block;
     min-width: 30px;
}

td.infohelp {
     background: url(/themes/console/images/info/infohelp.png) 10px center no-repeat;
     background-size: 24px 24px;
     background-position: 10px center;
     padding: 10px 10px 10px 40px !important;
}

.tunnelConfig td {
     width: 50%;
}

#clientTunnels tr, #serverTunnels tr, .tunnelConfig tr {
     background: rgba(0,0,0,0.4);
}

.tunnelProperties {
     background: #000 !important;
     overflow: hidden;
     text-align: left;
     border: 1px solid #2d295f;
}

#serverTunnels {
     margin: -1px 0 10px;
}

.tunnelProperties:hover {
     background: #002 !important;
}

.newTunnel {
     text-align: right;
     border-top: 1px solid #2d295f !important;
     padding: 5px !important;
     background: #fff;
}

.newTunnel select, .newTunnel input, .newTunnel .control {
     margin: 2px !important;
}

.newtunnel form {
     width: 100%;
     text-align: right;
}

.tunnelName {
     width: 25%;
     min-width: 150px;
}

.tunnelName a {
     background: url(/themes/console/images/buttons/configure.png) left center no-repeat;
     padding: 3px 3px 3px 20px !important;
}

.tunnelName a {
     font-weight: bold;
}

.tunnelType {
     width: 25%;
}

.tunnelPreview, .tunnelPort {
     width: 15%;
     text-align: center;
}

.tunnelLocation, .tunnelInterface {
     width: 20%;
}

.tunnelLocation font[color="red"] {
     margin-left: 2px;
}

.tunnelStatus {
     text-align: center;
     width: 10%;
     min-width: 48px;
}

.tunnelControl {
     width: 5%;
     text-align: right;
     white-space: nowrap;
}

th.tunnelControl {
     text-align: center;
}

textarea {
     border: 1px solid #443da0;
     background: #000;
     margin-left: 4px;
     margin-right: 4px;
     font: 9pt "Droid Sans Mono", "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     resize: none;
     box-sizing: border-box;
     border-radius: 2px;
}

textarea:focus {
     color: #c9ceff;
     background: #000 !important;
     filter: drop-shadow(0 0 1px #880);
     -webkit-filter: drop-shadow(0 0 1px #880);
     transition: ease filter 0.3s 0s;
}

textarea#statusMessages, textarea#statusMessages:active, textarea#statusMessages:focus  {
     margin: 0;
     border: 0;
     box-shadow: none;
     height: 80px;
     font-size: 9pt;
     width: 100%;
     border-radius: 0;
     padding: 2px 4px;
     color: #69f;
     background: linear-gradient(to bottom, #000 0%, #000019 100%) !important;
}

.freetext {
     width: 150px;
     border: 1px solid #443da0;
     padding: 4px;
     font: 9pt "Droid Sans Mono", "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     background: #fff;
     color: #7670c2;
     border-radius: 2px;
     box-shadow: inset 2px 2px 1px #ccc;
     cursor: text;
}

.freetext:focus {
     box-shadow: 0 0 1px #99f;
     color: #111;
}

.freetext[readonly], .freetext[readonly]:focus {
     background: #000 !important;
     box-shadow: inset 2px 2px 1px #000;
     color: #558;
     cursor: default;
     border: 1px solid #443da0 !important;
     opacity: 0.8;
}

input[type="hidden"], input.default {
     display: none;
}

input, select, button, .control {
     font-family: "Droid Sans", "Noto Sans", "Bitstream Vera Sans", "Lucida Grande", "DejaVu Sans", Lato, "Segoe UI", Verdana, Helvetica, sans-serif;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     font-size: 9pt;
     border-radius: 2px;
     color: #c9ceff;
     resize: none;
     cursor: pointer;
     filter: drop-shadow(0 0 1px #115);
     -webkit-filter: drop-shadow(0 0 1px #115);
}

input {
     background-color: #002;
     color: #c9ceff;
     margin: 0 2px 0 2px;
     font-family: "Droid Sans", Verdana, Helvetica, sans-serif;
     border: 1px solid #443da0;
     text-decoration: none;
}

input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, button::-moz-focus-inner {
     border: none;
     outline: none;
}

input[type="file"] {
     background: none;
     border: none;
}

input[type="checkbox"], input[type="radio"] {
     vertical-align: middle;
     min-width: 16px;
     min-height: 16px;
     margin: 0;
     background: none;
     filter: invert(100%) sepia(100%) hue-rotate(200deg) saturate(200%); /* colorize radios and checkboxes */
     -webkit-filter: invert(100%) sepia(100%) hue-rotate(200deg) saturate(200%);
}

input[type="checkbox"]:hover, input[type="radio"]:hover, input[type="checkbox"]:focus, input[type="radio"]:focus {
     filter: invert(100%) sepia(100%) hue-rotate(200deg) saturate(200%) drop-shadow(0 0 2px #c9ceff); /* colorize radios and checkboxes */
     -webkit-filter: invert(100%) sepia(100%) hue-rotate(200deg) saturate(200%) drop-shadow(0 0 2px #c9ceff);
}

input[type="password"] {
     cursor: text;
}

input[type="text"], input[type="password"], textarea, textarea[readonly="readonly"]:focus  {
     background: #000;
     background: linear-gradient(to bottom, #000 0%, #000019 100%);
     box-shadow: inset 0 0 3px 3px #000;
     filter: none;
     color: #7670c2;
}

input[type="text"]:focus, input[type="password"]:focus {
     color: #c9ceff;
     background: #000;
     filter: drop-shadow(0 0 1px #99f);
     -webkit-filter: drop-shadow(0 0 1px #99f);
     transition: ease filter 0.3s 0s;
}

input[readonly="readonly"]:focus {
     filter: none;
     background: linear-gradient(to bottom, #000 0%, #010 100%) !important;
}

a.control, input.control {
     white-space: nowrap;
     vertical-align: middle;
}

.control, .control:link, .control:visited {
     overflow: hidden;
     margin: 2px !important;
     text-align: center;
     white-space: nowrap;
     text-decoration: none;
     font-style: normal;
     border: 1px solid #3e3f8f;
     border-bottom: 1px solid #14144f;
     border-right: 1px solid #14144f;
     border-radius: 2px;
     min-width: 78px;
     font-size: 8pt;
     font-weight: bold;
     box-sizing: border-box;
     min-width: 70px !important;
     padding: 5px 8px !important;
     color: #443da0 !important;
     background: #000 !important;
     background: linear-gradient(to bottom, #1f1e32, #090812 50%, #000 50%) !important;
}

.control:hover, .control:focus {
     text-decoration: none;
     color: #652787 !important;
     border: 1px solid #652787 !important;
     box-shadow: inset 0 1px 1px 0 #ddf;
     background: #000 !important;
}

.control:active {
     background: #652787 !important;
     color: #c9ceff !important;
     text-decoration: none;
     box-shadow: inset 0 0 0 1px #000 !important;
     box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px #000 !important;
}

a.control {
     display: inline-block;
}

button.control {
     box-sizing: border-box;
     -moz-box-sizing: border-box;
}

button, input[type="submit"], input[type="reset"], .control, select {
     box-shadow: inset 0 0 0 1px #000020;
}

select {
     color: #443da0;
     font: 8pt "Droid Sans", "Noto Sans", "Bitstream Vera Sans", "Lucida Grande", "DejaVu Sans", Lato, "Segoe UI", Verdana, Helvetica, sans-serif;
     font-weight: bold;
     padding: 3px 16px 3px 3px;
     background: #000;
     border-radius: 2px;
     cursor: pointer;
     border: 1px solid #3e3f8f;
     border-bottom: 1px solid #14144f;
     border-right: 1px solid #14144f;
     min-width: 120px;
     text-overflow: ellipsis;
}

select option { /* dropdown menu reverts to normal font-weight */
     font-weight: normal;
     font-size: 9.5pt;
}

select option:hover, select option:focus, select option:checked {
     box-shadow: inset 0 0 20px 20px #652787;
}

select:focus, select:hover {
     color: #652787;
     border: 1px solid #652787;
}

select:hover {
     box-shadow: inset 0 1px 1px 0 #c9ceff;
}

@-moz-document url-prefix() { /* target firefox and derivatives only */

select {
     -moz-appearance: none;
     background: #000 url(images/dropdown.png) right center no-repeat !important;
}

select:hover, select:active {
     background: #000 url(images/dropdown_hover.png) right center no-repeat !important;
}

select:focus {
     background: #000 url(images/dropdown_hover.png) right center no-repeat !important;
}
}

input, select, button {
     font-size: 8pt;
     vertical-align: middle;
}

button, input[type="submit"], input[type="reset"], a.control {
     font-family: "Droid Sans", "Noto Sans", "Ubuntu", "Segoe UI", Verdana, Helvetica, sans-serif;
     font-weight: bold;
}

.buttons, .newTunnel {
     text-align: right !important;
     padding: 7px 5px !important;
     background: #000;
     background: linear-gradient(to bottom, #001, #000);
     border-top: 1px inset #2d295f !important;
}

.tunnelDescriptionLabel, .tunnelDestinationLabel {
     text-align: right;
     min-width: 150px;
     display: inline-block;
     margin-right: 3px;
     white-space: nowrap;
}

input {
     float: none;
     vertical-align: middle;
}

#hostField, #leasesetKey, #userAgents {
     width: 90% !important;
     margin: 0 !important;
     text-align: left !important;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
     -o-text-overflow: ellipsis;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity,
#localDestination, #customOptions, #leasesetKey, #name, #description, textarea[name="accessList"] {
     width: 100% !important;
     margin: 0 !important;
     text-align: left !important;
}

#oldName, #targetDestination, select#profile, select#connectionProfile {
     min-width: 280px;
     width: 30%;
}

select#profile, select#connectionProfile {
    width: 70%;
}

#customOptions, #userAgents {
     width: calc(100% - 10px) !important;
     width: 100% !important;
}

#localDestination, textarea[name="accessList"], #hostField {
     width: calc(100% - 5px) !important;
     width: 100% !important;
     margin: 3px 0 !important;
}

textarea[name="accessList"] {
     margin: 0 !important;
     height: 80px !important;
}

#localDestination, .authentication {
     height: 32px !important;
     margin: 0 !important;
}

#localDestination:focus, .authentication:focus {
     filter: drop-shadow(0 0 1px #c9ceff);
     -webkit-filter: drop-shadow(0 0 1px #c9ceff);
}

#leasesetKey {
     height: 24px !important;
     padding: 3px;
}

.multiOption {
     display: inline-block;
     margin: 5px 10px 5px 0;
     padding: 0;
     vertical-align: middle;
}

.multiOption#isServer {
     background: url(/themes/console/images/server.png) left center no-repeat;
     padding-left: 20px;
}

.multiOption#isClient {
     background: url(/themes/console/images/client.png) left center no-repeat;
     padding-left: 21px;
}

td#throttle {
     padding: 0;
}

#throttler {
     border: none;
}

#throttler th {
     padding-left: 20px;
}

#throttler td {
     width: 20%;
}

#throttler td:first-child {
     text-align: right;
     width: 20%;
     white-space: nowrap;
}

#throttler tr:first-child th {
     border-top: none;
}

td.blankColumn {
     width: 20% !important;
}

#throttler tr:nth-child(odd) {
     background: #000010;
}

#throttler tr:nth-child(even) {
     background: #000017;
}

#throttler input[type="text"] {
     width: 80px;
}

table {
     background: #000;
}

#tunnelMessages {
     padding: 0;
}

.required:not(old) {
     display: none;
}

input::-moz-placeholder {
     color: #f00;
     font-weight: bold;
     opacity: 1;
}

::-webkit-input-placeholder {
     color: #f00;
     font-weight: bold;
     opacity: 1;
}

input.tunnelName, input.tunnelDescription, #userAgents {
     width: 80%;
     min-width: 280px;
     text-overflow: ellipsis;
}

#websiteName, #privKeyFile, #targetHost, .host {
     width: 30%;
     min-width: 250px;
}

.port, .quantity, .period {
     width: 80px;
}

.username, .password {
     width: 200px;
}

.username {
     background: url(/themes/console/images/buttons/user.png) 3px center no-repeat, linear-gradient(to bottom, #001, #000) !important;
     padding-left: 22px;
}

.username:focus {
     background: #000 url(/themes/console/images/buttons/user.png) 3px center no-repeat !important;
     padding-left: 22px;
}

.password {
     background: url(/themes/console/images/buttons/password.png) 3px center no-repeat, linear-gradient(to bottom, #001, #000) !important;
     padding-left: 22px;
}


.password:focus {
     background: #000 url(/themes/console/images/buttons/password.png) 3px center no-repeat !important;
     padding-left: 22px;
}

.proxyList {
     width: 40%;
     min-width: 280px;
}

#notReady {
     border: 1px solid #900;
     padding: 30px;
     background: #002;
     margin: 30px auto;
     width: 400px;
     text-align: center;
     border-radius: 2px;
     box-shadow: inset 0 0 0 1px #000;
     font-size: 11pt;
     font-weight: bold;
}

/* wizard specifics */

#wizardPanel {
    font-size: 10pt;
}

#wizardTable {
     padding: 0;
}

#wizardTunnelTypes td:first-child, #wizardSummary td:first-child {
     font-weight: bold;
     width: 10%;
     min-width: 150px;
     text-align: right;
     white-space: nowrap;
}

#wizardTunnelTypes td:last-child {
     text-align: justify;
     padding: 5px 10px 5px 5px;
}

#wizardTunnelTypes select {
     margin-left: 0 !important;
}

#wizardTunnelTypes, #wizardSummary {
     border: none;
     margin-top: -1px;
}

#wizardTunnelTypes tr:nth-child(even), #wizardSummary tr:nth-child(even) {
     background: #001;
}

#wizardTunnelTypes tr:nth-child(odd), #wizardSummary tr:nth-child(odd) {
     background: #000017;
}

#wizardTunnelTypes tr:last-child {
     background: #000;
}

#wizardPanel #name, #wizardPanel #description {
     width: 300px !important;
}

#wizardPanel p {
     padding: 5px 15px;
     margin: 0;
     text-align: justify;
     line-height: 140%;
}

#wizardPanel input::-moz-placeholder {
     color: #449;
     font-weight: normal;
}

#wizardPanel ::-webkit-input-placeholder {
     color: #449;
     font-weight: normal;
}

#wizardPanel .options {
     padding: 10px;
}

#wizardPanel .tag {
     width: 10%;
     min-width: 150px;
     white-space: nowrap;
     display: inline-block;
     font-weight: bold;
     text-align: right;
     margin-right: 3px;
}

#wizardPanel select {
     min-width: 160px;
     margin-left: 0 !important;
}

#wizardPanel .infohelp p { /* wizard complete - advanced options info */
     margin: 0;
     padding: 0 10px 0 5px;
}

/* more space */

.tunnelConfig td, td {
     border-top: 1px inset #17142f;
     padding: 6px 5px;
}

input[type="checkbox"], input[type="radio"] {
     margin: 5px 3px 5px 5px;
}

.freetext, .tunnelConfig textarea, #customOptions, #userAgents, #hostField  {
     margin: 5px !important;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity, #leasesetKey {
     margin: 5px !important;
     width: calc(100% - 10px) !important;
}

.tunnelConfig select, select#profile select#connectionProfile, .selectbox {
     margin: 5px !important;
}

textarea[name="accessList"], #hostField, #localDestination, .authentication {
     width: calc(100% - 10px) !important;
     margin: 5px !important;
}

#customOptions, #userAgents, #leasesetKey {
     width: calc(100% - 10px) !important;
}

.tunnelConfig td > b {
     min-width: 30px;
     display: inline-block;
     margin-left: 5px;
}

.tunnelDestination {
     padding-bottom: 1px !important;
     border-bottom: 1px solid transparent !important;
}

#clientTunnels .tunnelDescription {
     padding-top: 1px !important;
}

.tunnelDestination b, .tunnelDescription b {
     color: #a8accf;
}

td.tunnelDestination, td.tunnelDescription {
     background: linear-gradient(to right, #000 50%, #000020);
}

/* end more space */


/* responsive layout */

@media screen and (min-width: 1300px) {
body, td, .control, select, input {
     font-size: 10pt !important;
}

td {
     padding: 7px 5px;
}

#localDestination, .authentication {
     height: 34px !important;
}
}
