<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
    <filter>
        <filter-name>XSSFilter</filter-name>
        <filter-class>net.i2p.servlet.filters.XSSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XSSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
     <servlet-name>org.klomp.snark.web.I2PSnarkServlet</servlet-name>
     <servlet-class>org.klomp.snark.web.I2PSnarkServlet</servlet-class>
     <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
      <servlet-name>net.i2p.servlet.ErrorServlet</servlet-name>
      <servlet-class>net.i2p.servlet.ErrorServlet</servlet-class>
      <init-param>
        <param-name>name</param-name>
        <param-value>I2PSnark</param-value>
      </init-param>
    </servlet>
     
    <!-- precompiled servlets -->
    
    <servlet-mapping> 
      <servlet-name>org.klomp.snark.web.I2PSnarkServlet</servlet-name>
      <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>net.i2p.servlet.ErrorServlet</servlet-name>
      <url-pattern>/.error</url-pattern>
    </servlet-mapping>
    
    <!-- this webapp doesn't actually use sessions or cookies -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/.error</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/.error</location>
    </error-page>
</web-app>
