#
# This is the Enclave configuration file.  Lines starting with # and blank lines
# are ignored.
#

# The DNS name or IP address of the SAM server you will be using
samhost=localhost

# The TCP port the SAM server is listening on
samport=7656

# The destination name of this program.  This can be anything.  If you run
# multiple copies of Enclave off the same SAM server then each one has to have a
# unique name.
samname=enclave

# The depth used for incoming and outgoing I2P tunnels.  Using a depth of 2 is
# the default and a good choice.  You can set it to 0 if you don't care about
# anonymity and just want speed.
tunneldepth=0

# The location of the peer references file.  You can use an absolute or relative
# path, but absolute paths are safer.
references=cfg/peers.ref

# Record every log message at or above this priority level
# debug = 0, minor = 1, info = 2, warn = 3, error = 4
loglevel=0

# The location of the Enclave log file.  You can use an absolute or relative
# path, but absolute paths are safer.
logfile=log/enclave.log
