.b_topnavUser {
   text-align: right;
   background-color: #CCCCDD;
}
.b_topnavHome {
   background-color: #CCCCDD;
   color: #000000;
   width: 50px;
   text-align: left;
}
.b_topnav {
   background-color: #CCCCDD;
}
.b_content {
}
.s_summary_overall {
}
.s_detail_overall {
}
.s_detail_subject {
    font-size: 0.8em;
    text-align: left;
    background-color: #BBBBFF;
}
.s_detail_quote {
    margin-left: 1em;
    border: 1px solid #DBDBDB;
    background-color: #E0E0E0;
}
.s_detail_italic {
    font-style: italic;
}
.s_detail_bold {
    font-style: normal;
    font-weight: bold;
}
.s_detail_underline {
    font-style: normal;
    text-decoration: underline;
}
.s_detail_meta {
   font-size: 0.8em;
   text-align: right;
   background-color: #BBBBFF;
}

.s_summary_subject {
   font-size: 0.8em;
   text-align: left;
   background-color: #BBBBFF;
}
.s_summary_meta {
   font-size: 0.8em;
   text-align: right;
   background-color: #BBBBFF;
}
.s_summary_quote {
    margin-left: 1em;
    border-width: 1px solid #DBDBDB;
    background-color: #E0E0E0;
}
.s_summary_italic {
    font-style: italic;
}
.s_summary_bold {
    font-style: normal;
    font-weight: bold;
}
.s_summary_underline {
    font-style: normal;
    text-decoration: underline;
}
.s_summary_summDetail {
   font-size: 0.8em;
}
.s_detail_summDetail {
}
.s_detail_summDetailBlog {
}
.s_detail_summDetailBlogLink {
}
td.s_detail_summDetail {
   background-color: #DDDDFF;
}
td.s_summary_summ {
   font-size: 0.8em;
   background-color: #DDDDFF;
}