body {
	margin : 0px;
	padding : 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color : #EEEEEE;
	color: #000000;
	font-size: 12px;
}
.b_topnavUser {
	text-align: right;
	background-color: #CCCCDD;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border: 0px;
}
.b_topnavHome {
	background-color: #CCCCDD;
	color: #000000;
	width: 50px;
	text-align: left;
}
.b_topnav {
	background-color: #CCCCDD;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border: 0px;
}
.b_content {
        border: 0px;
        border-spacing: 0px;
        margin: 0px;
}
.s_summary_overall {
        border: 0px;
        border-spacing: 0px;
        margin: 0px;
}
.s_detail_overall {
        border: 0px;
        border-spacing: 0px;
        margin: 0px;
}
.s_detail_subject {
	font-size: 10px;
	text-align: left;
	background-color: #BBBBFF;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border: 0px;
	border-style: none;
}
.s_detail_meta {
	font-size: 10px;
	text-align: right:
	background-color: #BBBBFF;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border: 0px;
	border-style: none;
}

.s_summary_subject {
	font-size: 10px;
	text-align: left;
	background-color: #BBBBFF;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border: 0px;
	border-style: none;
}
.s_summary_meta {
	font-size: 10px;
	text-align: right:
	background-color: #BBBBFF;
	border-spacing: 0px;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border: 0px;
	border-style: none;
}
.s_summary_summDetail {
	font-size: 10px;
}
.s_detail_summDetail {
}
.s_detail_summDetailBlog {
}
.s_detail_summDetailBlogLink {
}
td.s_detail_summDetail {
	background-color: #DDDDFF;
}
td.s_summary_summ {
	font-size: 10px;
	background-color: #DDDDFF;
}
