<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
    <servlet>
     <servlet-name>net.i2p.syndie.web.ArchiveServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.ArchiveServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.RSSServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.RSSServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.ViewThreadedServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.ViewThreadedServlet</servlet-class>
    </servlet>
    
    <servlet>
     <servlet-name>net.i2p.syndie.web.ProfileServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.ProfileServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.SwitchServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.SwitchServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.AddressesServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.AddressesServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.PostServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.PostServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.AdminServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.AdminServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.SyndicateServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.SyndicateServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.ImportFeedServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.ImportFeedServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.ExternalLinkServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.ExternalLinkServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.ThreadNavServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.ThreadNavServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.ViewBlogsServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.ViewBlogsServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.BlogConfigServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.BlogConfigServlet</servlet-class>
    </servlet>
     
    <servlet>
     <servlet-name>net.i2p.syndie.web.ViewBlogServlet</servlet-name>
     <servlet-class>net.i2p.syndie.web.ViewBlogServlet</servlet-class>
    </servlet>
     
    <servlet>
	 <servlet-name>net.i2p.syndie.UpdaterServlet</servlet-name>
	 <servlet-class>net.i2p.syndie.UpdaterServlet</servlet-class>
         <load-on-startup>1</load-on-startup>
    </servlet>
     
    <!-- precompiled servlets -->
    
    <!--
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.jsp.index_jsp</servlet-name>
      <url-pattern>/</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.ArchiveServlet</servlet-name>
      <url-pattern>/archive/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.RSSServlet</servlet-name>
      <url-pattern>/rss.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.ViewThreadedServlet</servlet-name>
      <url-pattern>/threads.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.ProfileServlet</servlet-name>
      <url-pattern>/profile.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.SwitchServlet</servlet-name>
      <url-pattern>/switchuser.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.AddressesServlet</servlet-name>
      <url-pattern>/addresses.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.PostServlet</servlet-name>
      <url-pattern>/post.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.AdminServlet</servlet-name>
      <url-pattern>/admin.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.SyndicateServlet</servlet-name>
      <url-pattern>/syndicate.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.ImportFeedServlet</servlet-name>
      <url-pattern>/importfeed.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.ExternalLinkServlet</servlet-name>
      <url-pattern>/externallink.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.ThreadNavServlet</servlet-name>
      <url-pattern>/threadnav/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.ViewBlogsServlet</servlet-name>
      <url-pattern>/blogs.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.BlogConfigServlet</servlet-name>
      <url-pattern>/configblog.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping> 
      <servlet-name>net.i2p.syndie.web.ViewBlogServlet</servlet-name>
      <url-pattern>/blog.jsp</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
