/* I2PSnark theme "Light" by dr|z3d, 2012 */
/* Cat That Got The Cream Edition */
/* Thanks to http://www.luxphile.com/2011/01/creative-commons-cat.html for the kitty image */

body {
     color: #000;
     font: 8pt "Lucida Sans Unicode","Bitstream Vera Sans",Verdana,Tahoma,Helvetica,sans-serif;
     background: #fff;
     background: #fff;
}

body.iframed {
     background: transparent url('../../console/dark/images/transparent.gif') !important;
     margin: 6px 0 0 !important;
}

.snarkTitle {
     font-size: 12pt;
     font-weight: bold;
     text-align: center;
}

.snarkRefresh:link,.snarkRefresh:visited {
     text-decoration: none !important;
     text-transform: uppercase !important;
     padding: 4px 16px 5px !important;
     margin: -5px -8px -5px 0 !important;
     letter-spacing: 0em;
     font-weight: bold;
     font-size: 9pt;
     color: #559;
     background: #fff url("../../console/light/images/header.png") repeat-x scroll center center;
     -moz-border-radius: 0px;
     -khtml-border-radius: 3px;
     border-radius: 0px;
     border: 1px outset #66f;
}

.snarkRefresh:hover {
     text-decoration: none !important;
     text-transform: uppercase !important;
     padding: 1px 16px;
     font-weight: bold;
     font-size: 9pt;
     color: #fff;
     background: #359;
     -moz-border-radius: 0;
     -khtml-border-radius: 0;
     border-radius: 0;
}

.snarkRefresh:active {
     text-decoration: none !important;
     text-transform: uppercase !important;
     padding: 0 16px;
     font-weight: bold;
     font-size: 9pt;
     color: #fff;
     background: #00d;
}

.snarkRefresh:last-child {
     -moz-border-radius: 0 3px 3px 0px;
     -khtml-border-radius: 0 3px 3px 0;
     border-radius: 0 3px 3px 0;
     border: 1px outset #66f;
}

.snarkRefresh:first-child {
     -moz-border-radius: 3px 0 0 3px;
     -khtml-border-radius: 3px 0 0 3px;
     border-radius: 3px 0 0 3px;
     border: 1px outset #66f;
}

.snarkMessages {
     font: normal 8pt "Lucida Console","DejaVu Sans Mono",Courier,mono !important;
     text-align: left;
     margin: 0 0 10px 0;
     padding: 3px 5px 3px 5px;
     border-spacing: 0px;
     overflow: auto;
     color: #44f;
     max-height: 50px;
     min-height: 50px;
     width: auto;
     background: #fff url('images/kitty.png') no-repeat scroll right center;
     border-bottom: 1px solid #66f;
}

.snarkMessages li {
     list-style: square;
}

.snarkMessages a:link, .snarkMessages a:visited {
     color: #69f !important;
}

.snarkMessages a:hover {
     color: #f90 !important;
}

.snarkMessages ul {
     margin: 0;
     padding: 0 0 0 16px;
}

.snarkMessages p {
     font-style: italic;
     margin: 0;
     text-align: right;
}

.snarkMessages img, .snarkMessages img:hover {
     float: right;
     margin: -4px -5px 4px 4px;
     opacity: 1;
     border: 1px solid #66f;
     border-right: 0 none;
     border-top: 0 none;
}

.logshim {
     margin-top: -10px !important;
}

pre {
     width: 100%;
     font: 8pt "Lucida Console","DejaVu Sans Mono",Courier,mono !important;
     padding: 0;
     text-align: left !important;
     height: 8px;
     color: #35f;
     font-weight: bold !important; 
}

table {
     margin: 0px 0px 10px 0px;
     border: 0px;
     padding: 0px;
     border-spacing: 0px;
     border-collapse: collapse;
     color: #323;
     width: 100%;
     opacity: 1 !important;
}

tr { 
     opacity: 1;
}

thead, tfoot {
     background: #fff;
}

thead a, tfoot a {
} 

thead {
     border-bottom: 1px solid #101;
}

th {
     padding: 3px 2px;
     font-size: 8pt;
     border-top: 1px solid #66f;
     border-bottom: 1px solid #66f;
     color: #001;
      whitespace: nowrap;
     background: #fff url("../../console/light/images/header.png") repeat-x scroll center center;
}

th:first-child {
     text-align: left !important;
     padding-left: 2px;
}

tfoot td:first-child {
     text-align: left !important;
     padding-left: 0px;
}

th:first-child img {
     margin: 1px -2px 3px 1px !important;
}

th:nth-child(2) img {
     margin: 1px 7px 3px 2px !important;
}

tfoot th {
     padding-bottom: 4px !important;
}

tfoot img, tfoot:nth-child(2) img, tfoot:nth-child(1) img, tfoot:nth-child(3) img, tfoot:nth-child(4) img {
     margin: 0px 2px 3px 0px !important;
     padding-right: 0 !important;
}

tfoot tr:nth-child(n+1) {
     text-align: left;
}

.headerstatus {
     text-align: left;
     padding-left: 15px;
}

.headerpriority {
     text-align: left;
     padding-left: 10px;
}

.ParentDir {
     background: #fff;
     font-size: 8pt;
     border: 0px inset #101 !important;
     border-left: 0 !important;
     border-right: 0 !important;
     text-align: left !important;
     padding: 4px 0;
}

.priority {
     font-size: 7pt;
     vertical-align: center;
     min-width: 160px;
}

.SnarkTorrents {
     margin: 0;
     border: 0px solid #66f;
     background: #fff;
}

.SnarkTorrents td {
     line-height: 90%;
}

.SnarkTorrents td:nth-child(1) {
     width: 24px !important;
}

.SnarkTorrents td:nth-child(3), .SnarkTorrents td:nth-child(4) {
     width: 20px !important;
}

td {
     padding: 1px;
     color: #001 !important;
      opacity: 1;
     font-size: 8pt;
}

.mainsection td {
     color: #001;
}

td:first-child {
     text-align: right;
     font-size: 8pt;
}

.center {
     text-align: center !important;
}

.snarkTorrentName {
     padding: 0;
     line-height: 90%;
     font-weight: bold !important;
}

.snarkTorrentAction {
     text-shadow: 1px 1px #550000;
     padding: 1px 1px 1px 1px !important;
     margin: 0 !important;
     text-align: center;
     width: 60px; 
}

.snarkTorrentAction img {
     margin: 0 2px !important;
     opacity: 1;
}

.snarkTorrentAction img:hover {
     -moz-box-shadow: 0 0 1px 1px #f90;
     opacity: 1;
}

.snarkTorrentEven {
     font-size: 8pt;
     background: #f5f5f5;
}

.snarkTorrentNoneLoaded {
     background: #fff;
     font-size: 8.5pt;
     font-weight: bold;
     text-align: center !important;
     color: #bbb !important;
}

.snarkTorrentStatus {
     padding: 2px 2px 2px 0;
     line-height: 90%;
}

.snarkTorrentStatus:first-child {
     text-align: left !important;
     padding-left: 0px;
     min-width: 48px;
     font-weight: bold;
     color: #dd9 !important;
     font-size: 8pt;
     padding: 1px !important;
}

.snarkTorrentStatus:first-child img {
     margin-right: 10px !important;
     margin-left: 6px;
}

.snarkTorrentRateUp, .snarkTorrentRateDown, .snarkTorrentDownloaded, .snarkTorrentUploaded {
     font-size: 8pt;
     padding: 0 3px;
     line-height: 90%;
}

.snarkTorrentDownloaded {
     color: #001 !important;
}

.snarkTorrentUploaded {
     color: #001 !important;
}

.snarkTorrentRateUp {
     color: #001 !important;
}

.snarkTorrentRateDown {
     color: #001 !important;
}

.snarkTorrentOdd {
     background: #f0f0f0;
     font-size: 8pt;
     border: 0px inset #101 !important;
     border-left: 0 !important;
     border-right: 0 !important;
}

.snarkTorrentOdd td, .snarkTorrentEven td {
     border-top: 1px dotted #66f !important;
}

.snarkFileIcon {
     width: 16px;
}

.snarkFileName {
     padding: 4px 0px !important; 
     text-align: left !important;
     font-size: 8pt !important;
}

.snarkFileSize {
     padding: 4px 2px;
     font-weight: normal;
}

.snarkFileStatus {
     padding: 4px 5px 4px 15px;
     text-align: center;
     font-style: italic;
     font-size: 8pt;
     text-align: left;
     min-width: 230px;
}

.snarkTorrentETA {
     font-style: italic;
}

.choked {
     color: #f00000 !important;
}

.unchoked {
     color: #00f000 !important;
}

.thumb {
     max-height: 64px;
     max-width: 96px;
}

.snarkNewTorrent {
     font-size: 9pt;
}

.snarkAddInfo {
     font-size: 8.5pt;
     line-height: 130% !important;
}

.snarkConfigTitle {
     font-size: 10.5pt;
     font-weight: bold;
     padding: 1px 15px 4px 12px;
     margin: 5px 0 10px 0 !important;
     letter-spacing: 0.02em;
     border: 1px solid #66f;
      -moz-border-radius: 0 0 5px 5px;
      -khtml-border-radius: 0 0 5px 5px;
      border-radius: 0 0 5px 5px;
     border-top: 0;
     text-shadow: 0px 2px 2px #999;
     background: #fff url("../../console/light/images/header.png") repeat-x scroll center center;
     font-variant: small-caps !important;
     box-shadow: 0 1px 3px #999;
}

div.newtorrentsection .snarkConfigTitle, div.addtorrentsection .snarkConfigTitle, div.configsectionpanel .snarkConfigTitle {
     padding-top: 0 !important;	
}

.snarkConfigTitle img {
     margin-right: -3px;
     padding-bottom: 3px;
}

.snarkConfig {
     font-size: 10pt;
     width: 100%;
}

table.snarkTorrentInfo, table.snarkDirInfo {
     margin: 0 !important;
}

.snarkTorrentInfo td {
     text-align: left !important;
}

.snarkTorrentInfo img {
     max-height: 16px;
}

.snarkDirInfo td {
     min-width: 0px !important;
}

.page {
     color: #310;
     min-width: 700px !important;
     margin: 5px 0 0 0;
     padding: 10px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #66f;
     font-size: 9pt !important;
     line-height: 160% !important;
     -moz-box-shadow: inset 0px 0px 1px 0px #212;
     -khtml-box-shadow: inset 0px 0px 1px 0px #002;
     box-shadow: inset 0px 0px 1px 0px #002;
     text-align: center;
     opacity: 1;
     background: #fff;
}

form {
     margin-bottom: 0;
}

p {
     line-height: 150%;
}

hr {
     color: #444;
     background: #444;
     height: 1px;
     border: 0px solid #444;
     width: 0%;
     margin: 5px 0 7px 0;
     text-align: center;
}

a:link {	
     color: #359;
     text-decoration: none;
     font-weight: bold;
     word-wrap: break-word;
}

a:visited {
     color: #249;
     text-decoration: none;
}

a:hover {
     color: #559;
}

a:active {
     color: #77b;
}

input {
     font-size: 9pt;
     font-weight: bold;
     text-align: left;
     padding: 3px 4px !important;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #66f;
     background: #fff;	 
     color: #559;
     margin: 2px 4px 2px 0;
     font: bold 8pt "Lucida Sans Unicode","Bitstream Vera Sans",Verdana,Tahoma,Helvetica,sans-serif;
}

input.r {
     text-align: right;
     background: #fff;
     border: 1px solid #66f;
}

input[type=submit] {
     text-shadow: 0px 0px #410;
     color: #359;
     background: #fff;
     border: 1px outset #191;
     padding: 2px;
     font: bold 8pt "Lucida Sans Unicode","Bitstream Vera Sans",Verdana,Tahoma,Helvetica,sans-serif;
     margin-top: 6px;
}

input[type=submit]:hover {
     border: 1px outset #559;
     background-color: #559;
     color: #fff;
}

input[type=submit]:active {
     background: #f60 !important;
     color: #fff !important;
     text-shadow: 0 !important;
}

input[type=image], thead img {
     padding: 0 !important;
     -moz-border-radius: 0px;
     -khtml-border-radius: 0px;
     border-radius: 0px;
     border: medium none;
     margin: 0 2px;
     opacity: 1;
}

input[type=image]:hover, thead img:hover {
     opacity: 1;
}

input[type=text]:active, input[type=text]:hover, input.r:hover {
     background: #fff;
     color: #009;
     border: 1px solid #66f;
     box-shadow: none !important;
}

input[type=text], input.r {
     min-width: 90px;
     box-shadow: 1px 1px 2px 1px #aaa inset;
}

input[type=radio] {
     padding: 2px;
     margin: 0 3px 0 8px;
     vertical-align: bottom;
}

input.default { width: 1px; height: 1px; visibility: hidden; }

select {
     background: #fff !important;
     color: #66f;
     font: 8pt "Lucida Sans Unicode","Bitstream Vera Sans",Verdana,Tahoma,Helvetica,sans-serif;
     font-weight: bold;
     padding: 2px 2px 2px 3px;
     -moz-border-radius: 4px 0 0 4px;
     -khtml-border-radius: 4px 0 0 4px;
     border-radius: 4px 0 0 4px;
     border: 1px solid #66f;
     margin: 2px 4px 2px 0;
     min-width: 90px;
}

select:hover, textarea:hover {
     background: #fff !important;
     color: #001 !important;
}

textarea:hover {
     color: #001 !important;
     box-shadow: none;
}

textarea {
     background: #fff;
     color: #66f;
     font-weight: bold;
     padding: 1px 4px 0px;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #66f;
     font-size: 8pt;
     box-shadow: 1px 1px 2px 1px #aaa inset;
}

img {
     border: none;
     margin: 0 3px 1px 3px;
     vertical-align: middle;
     opacity: 1.0;
     line-height: 100%;
}

img:hover {
     border: none;
     opacity: 1;
     line-height: 100%;
}

.infoz {
     margin: 0 -1px 0 0 !important;
     padding: 0 !important;
     line-height: 100%;
     float: left;
}

.infoz img {
     border: none;
     opacity: 1 !important;
}

.infoz img:hover {
     opacity: 1 !important;
}

div.newtorrentsection td:first-child, div.addtorrentsection td:first-child, div.configsectionpanel td:first-child {
     width: auto !important;
}

div.configsectionpanel td:first-child {
     padding-right: 5px;
}

div.section,div.mainsection div.section,div.mainsection {
     margin: 0;
     padding: 0px;
     border: 1px solid #66f;
     border-top: 2px solid #66f;
     border-bottom: 2px solid #66f;
     color: #001;
     word-wrap: break-word;
     text-align: center;
     background: #fff;
     opacity: 1 !important;
}

div.newtorrentsection {
     margin: 0 0 10px 0;
     padding: 0 10px 0px 10px;
     border: 1px solid #66f;
     text-align: center;
     color: #001;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     -moz-box-shadow: inset 0px 0px 1px 0px #101;
     -khtml-box-shadow: inset 0px 0px 1px 0px #101;
     box-shadow: inset 0px 0px 1px 0px #101;
     word-wrap: break-word;
     background: #f0f0f0 url('images/snark_create.png') no-repeat scroll right center;
}

div.addtorrentsection {
     margin: 10px 0;
     padding: 0 10px;
     border: 1px solid #66f;
     text-align: center;
     color: #001;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     -moz-box-shadow: inset 0px 0px 1px 0px #101;
     -khtml-box-shadow: inset 0px 0px 1px 0px #101;
     box-shadow: inset 0px 0px 1px 0px #101;
     word-wrap: break-word;
     background: #f0f0f0 url('images/snark_add.png') no-repeat scroll right center;
}

div.configsection {
     margin: 0;
     padding: 0 10px 15px 10px;
     border: 1px solid #66f;
     color: #001;
     -moz-border-radius: 4px;
     -khtml-border-radius: 4px;
     border-radius: 4px;
     -moz-box-shadow: inset 0px 0px 1px 0px #101;
     -khtml-box-shadow: inset 0px 0px 1px 0px #101;
     box-shadow: inset 0px 0px 1px 0px #101;
     word-wrap: break-word;
     text-align: center;
     background: #f0f0f0;
     font-weight: bold;
}

div.configsection .snarkConfigTitle {
     padding-top: 0px !important;
}

div.configsectionpanel {
     margin: -3px 0 0;
     padding: 0 10px;
     border: 1px solid #66f;
     color: #001;
     -moz-border-radius: 0 0 4px 4px;
     -khtml-border-radius: 0 0 4px 4px;
     border-radius: 0 0 4px 4px;
     -moz-box-shadow: inset 0px 0px 1px 0px #101;
     -khtml-box-shadow: inset 0px 0px 1px 0px #101;
     box-shadow: inset 0px 0px 1px 0px #101;
     word-wrap: break-word;
     text-align: center;
     background: #f0f0f0 url('images/configuration.png') no-repeat scroll right center;
     font-weight: bold;
}

.newtorrentsection form, .configsection form, .addtorrentsection form {
     color: #001 !important;
}

div.configsection table{
     color: #ffb;
     opacity: 1;
}

div.configsection a {
     color: #00a;
     font-weight: bold;
}

div.configsection a:hover {
     color: #00f;
     text-decoration: none;
}

code {
     font-size: 8pt;
     color: #009;
     padding: 0 2px;
     font-weight: bold;
     font-family: "Lucida Console", "DejaVu Sans Mono", Courier, mono;
}

.snarknavbar {
     margin: -10px 0 5px 0 !important;
     padding: 14px 10px 7px;
/*
     border: 1px solid #101;
     -moz-border-radius: 0 0 8px 8px;
     -khtml-border-radius: 0 0 8px 8px;
     border-radius: 0 0 8px 8px;
     -moz-box-shadow: inset 0px 0px 1px 0px #002;
     -khtml-box-shadow: inset 0px 0px 1px 0px #002;
     box-shadow: inset 0px 0px 1px 0px #002;
     background: #fff url('../../console/dark/images/header.png') repeat-x scroll center center !important;
*/
     background: none;
     text-transform: uppercase !important;
     letter-spacing: 0em !important;
     font-weight: bold;
     font-size: 11.5pt;
     color: #001;
     min-width: 600px;
     width: 70%;
     text-align: center;
 }

.iframed .snarknavbar {
     margin: -5px 0 8px !important;
}

.snarknavbar img {
     border: 0;
     margin: 1px -8px -1px -2px;
     padding: 1px 0 0px !important;
     vertical-align: top;
}

.routerdown {
     color: #001;
}

.trackerconfig {
     text-align: left !important;
}

.trackerconfig th:nth-child(n+4), .trackerconfig th:nth-child(n+5), .trackerconfig td:nth-child(n+4), .trackerconfig td:nth-child(n+5) {
     text-align: center !important;
}

.trackerconfig th, .trackerconfig td, .trackerconfig th:last-child, .trackerconfig td:last-child {
     text-align: left !important;
}

.trackerconfig td:first-child {
     text-align: right !important;
}

input.trackername {
     width: 100px;
}

input.trackerhome {
     width: 200px;
}

input.trackerannounce {
     width: 230px;
}
