/* I2PSnark theme "Light" aka Corporat */
/* Cat That Got The Cream Edition */
/* Author: dr|z3d */
/* Thanks to http://www.luxphile.com/2011/01/creative-commons-cat.html for the kitty image */

body {
     color: #272e3f;
     font: 9pt "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
     background: #a4a4cb url(/themes/console/light/images/tile2.png) center top fixed;
     background-size: 32px 32px;
     margin: 5px;
}

/* preload top navigation mouseovers */
body {
     background: url(images/tile2.png) fixed, 
     url(images/button_snark_hover.png) no-repeat,
     url(images/button_snark_active.png) no-repeat,
     url(images/button_tracker_hover.png) no-repeat,
     url(images/button_tracker_active.png) no-repeat,
     url(images/button_forum_hover.png) no-repeat,
     url(images/button_forum_active.png) no-repeat, #a4a4cb;
}

body.iframed {
     background: transparent url(/themes/console/images/transparent.gif) !important;
     margin: 6px 0 0 !important;
}

body.iframed {
     background: transparent url(/themes/console/images/transparent.gif), 
     url(images/button_snark_hover.png) no-repeat,
     url(images/button_snark_active.png) no-repeat,
     url(images/button_tracker_hover.png) no-repeat,
     url(images/button_tracker_active.png) no-repeat,
     url(images/button_forum_hover.png) no-repeat,
     url(images/button_forum_active.png) no-repeat !important;
}

* {
     outline: none !important;
}

a:focus img, input[type="image"]:focus, a.control:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, select:focus, input[type="text"]:focus, input.r:focus, input[name="nofilter_dataDir"]:focus, textarea:focus {
     filter: drop-shadow(0 0 1px #6f072b) !important;
     -webkit-filter: drop-shadow(0 0 1px #6f072b) !important;
}

button::-moz-focus-inner, input::-moz-focus-inner {
     outline: none;
     border: none;
}

.page {
     color: #310;
     min-width: 900px !important;
     margin: 5px 0 0 0;
     padding: 0;
     border-radius: 2px;
     border: 1px solid #7778bf;
     font-size: 9pt !important;
     line-height: 160% !important;
     box-shadow: 0 0 1px #fff;
     text-align: center;
     opacity: 1;
     background: #fff;
     background: linear-gradient(to right, #fff 0%, #dfe0ff, #fff 100%);
     background-size: 3px auto;
}

.iframed .page {
     box-shadow: none;
     border-radius: 0;
     border-left: none;
     border-right: none;
}

.snarknavbar {
     margin: 0 auto -6px !important;
     padding: 8px 10px;
     border: 1px solid #7778bf;
     box-shadow: inset 0 0 0 1px #fff, 0 0 1px #fff;
     border-radius: 2px 2px 0 0;
     min-width: 880px;
     width: auto;
     width: calc(100% - 22px);
     text-align: center;
     background: linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 51%, #eef 100%);
 }

.iframed .snarknavbar {
     margin: -6px 0 -6px !important;
     border-radius: 0;
     border: none;
     border-bottom: 1px solid #7778bf;
     box-shadow: none;
}

.snarkRefresh img {
     display: none;
}

.snarkRefresh:link,.snarkRefresh:visited {
     text-decoration: none !important;
     text-transform: uppercase !important;
     padding: 4px 10px 4px 24px !important;
     margin-right: -2px !important;
     letter-spacing: 0.08em;
     font-weight: bold;
     font-size: 9pt;
     color: #559;
     background: #fff url(images/button_tracker.png) 8px center no-repeat;
     background: url(images/button_tracker.png) 8px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 51%, #eef 100%);
     border-radius: 0;
     border: 1px solid #7778bf;
     box-shadow: inset 0 0 0 1px #fff;
     display: inline-block;
     outline: none;
     filter: drop-shadow(0 0 1px #bbb);
     -webkit-filter: drop-shadow(0 0 1px #bbb);
}

.snarkRefresh:hover, .snarkRefresh:focus {
     text-decoration: none !important;
     color: #f60;
     background: #eef url(images/button_tracker_hover.png) 8px center no-repeat;
     background: url(images/button_tracker_hover.png) 8px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #ffe8bf 50%, #efd9b3 100%);
     border-radius: 0;
     box-shadow: inset 0 0 0 1px #fff;
}

.snarkRefresh:active {
     text-decoration: none !important;
     background: #f60 url(images/button_tracker_active.png) 8px center no-repeat;
     color: #eee !important;
     box-shadow: inset 3px 3px 3px #333;
     box-shadow: inset 0 0 0 1px #fff, inset 3px 3px 3px #333;
}

.snarkRefresh:last-child {
     border-radius: 0 2px 2px 0;
}

.snarkRefresh:first-child {
     padding: 4px 10px 4px 19px !important;
     border-radius: 2px 0 0 2px;
     background: #fff url(images/button_snark.png) 10px center no-repeat;
     background: url(images/button_snark.png) 10px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 51%, #eef 100%);
}

.snarkRefresh:first-child:hover, .snarkRefresh:first-child:focus {
     background: #eef url(images/button_snark_hover.png) 10px center no-repeat;
     background: url(images/button_snark_hover.png) 10px center no-repeat, linear-gradient(#fff 0%, #fff 50%, #ffe8bf 50%, #efd9b3 100%);
     color: #f60;
}

.snarkRefresh:first-child:active {
     background: #f60 url(images/button_snark_active.png) 10px center no-repeat;
}

.snarkRefresh img {
     border: 0;
     margin: -2px -7px 0 -6px !important;
     padding: 0 !important;
     filter: none;
     -webkit-filter: none;
}

.snarkRefresh:first-child:hover img, .snarkRefresh:first-child:focus img {
     visibility: hidden;
}

.snarkRefresh:nth-child(2) {
     background: #fff url(images/button_forum.png) 8px center no-repeat;
     background: url(images/button_forum.png) 8px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 51%, #eef 100%);
}

.snarkRefresh:nth-child(2):hover, .snarkRefresh:nth-child(2):focus {
     background: #eef url(images/button_forum_hover.png) 8px center no-repeat;
     background: url(images/button_forum_hover.png) 8px center no-repeat, linear-gradient(#fff 0%, #fff 50%, #ffe8bf 50%, #efd9b3 100%);
}

.snarkRefresh:nth-child(2):active {
     background: #f60 url(images/button_forum_active.png) 8px center no-repeat;
     color: #fff;
}

.snarkRefresh:last-child[href="/i2psnark/"] {
     border-radius: 2px;
}

.snarkMessages {
     font-family: "Droid Sans Mono", "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     font-size: 8pt;
     text-align: left;
     margin: -2px 0 0;
     padding: 3px 5px 3px 5px;
     border-spacing: 0;
     overflow: auto;
     color: #339;
     height: 52px;
     width: auto;
     min-width: 810px;
     background: #eef url(images/kitty.png) no-repeat scroll right bottom;
     background: url('images/kitty.png') no-repeat right center, linear-gradient(to bottom, #fff, #eef);
     border-top: 1px solid #7778bf;
     border-bottom: 1px solid #7778bf;
     box-shadow: inset 0 0 1px #fff;
     background-size: auto 100%, 100% 100%;
}

.snarkMessages a:link, .snarkMessages a:visited {
     color: #505 !important;
     font-size: 8pt;
}

.snarkMessages a:hover {
     color: #f60 !important;
}

.snarkMessages ul {
     margin: -2px 0 2px 0;
     padding: 0 0 0 14px;
     list-style: none;
}

.snarkMessages li {
     margin-left: -15px;
     line-height: 120%;
}

.snarkMessages li::before {
     content: '';
     display: inline-block;
     background: url(images/bullet.png) left bottom no-repeat;
     width: 14px;
     height: 11px;
     background-size: 9px 9px;
}

.snarkMessages p {
     font-style: italic;
     margin: 0;
     text-align: right;
}

.snarkMessages img {
     float: right;
     margin: -4px -5px 4px 4px;
     opacity: 1;
     position: sticky;
     top: -4px;
     width: 8px;
     mix-blend-mode: luminosity;
     border: 1px solid #77b;
     padding: 2px;
     background: #fff;
}

.snarkMessages img:hover {
     border: 1px solid #77b;
     padding: 2px;
     filter: drop-shadow(0 0 1px #f60);
     -webkit-filter: drop-shadow(0 0 1px #f60);
     mix-blend-mode: normal; 
}

.logshim {
	margin-top: 11px !important;
}


a:link {	
     color: #359;
     text-decoration: none;
     font-weight: normal;
     word-wrap: break-word;
     font-size: 9pt;
}

a:visited {
     color: #218;
     text-decoration: none;
}

a:hover, a:focus {
     color: #f60;
}

a:active {
     color: #f30;
}

a.control, a.controld {
     background: #fff;
     border-radius: 2px;
     font-weight: bold;
     margin: 5px 4px !important;
     padding: 5px !important;	
     white-space: nowrap;
     display: inline-block;
     float: right;
     min-width: 0 !important;
}

a.controld {
     color: #459;
     font-weight: normal;
     display: none;
}

pre {
     width: 100%;
     font: 8pt "Droid Sans Mono", "Lucida Console", "DejaVu Sans Mono", Courier, mono;
     padding: 0;
     text-align: left !important;
     height: 8px;
     color: #35f;
     font-weight: bold !important; 
}

table {
     margin: 0 0 10px 0;
     border: 0;
     padding: 0;
     border-spacing: 0;
     border-collapse: collapse;
     color: #323;
     width: 100%;
     opacity: 1 !important;
}

tr { 
     opacity: 1;
}

td[onclick] {
     cursor: pointer;
}

td[onclick]:hover a {
     color: #f60;
}

td[onclick]:active a {
     color: #f30;
}

thead, tfoot {
     background: #fff;
}

thead {
     border-bottom: 1px solid #101;
}

th {
     padding: 3px 2px;
     font-size: 9pt;
     border-top: 1px solid #7778bf;
     border-bottom: 1px solid #7778bf;
     background: #fff url("../../console/light/images/header.png") repeat-x scroll center center;
     background: linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 51%, #eef 100%);
     color: #31334f;
}

th:first-child {
     text-align: left !important;
     padding-left: 2px;
}

tfoot td:first-child {
     text-align: left !important;
     padding-left: 0;
}

th:first-child img {
     margin: 1px -2px 3px 1px !important;
}

th:nth-child(2) img {
     margin: 1px 7px 3px 2px !important;
}

tfoot th {
     padding-bottom: 4px !important;
}

tfoot img, tfoot:nth-child(2) img, tfoot:nth-child(1) img, tfoot:nth-child(3) img, tfoot:nth-child(4) img {
     margin: 0 2px 3px 0 !important;
     padding-right: 0 !important;
}

tfoot tr:nth-child(n+1) {
     text-align: left;
}

#pagenav {
     font-size: 8.5pt;
     color: #272e3f;
}

#pagenav img {
     border: 1px solid #89f;
     border-radius: 2px;
     padding: 3px !important;
     opacity: 0.8;
     filter: drop-shadow(0 0 1px #bbb);
     -webkit-filter: drop-shadow(0 0 1px #bbb);
     width: 12px;
     background: linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 51%, #eef 100%);
     margin-right: -4px;
}

#pagenav img:hover, #pagenav a:focus img {
     background: linear-gradient(to bottom, #eef 0%, #eef 50%, #bbf 51%, #bbf 100%);
     opacity: 1;
     filter: drop-shadow(0 0 1px #f60);
     -webkit-filter: drop-shadow(0 0 1px #f60);
}

#pagenav a:active img {
     background: #f60;
     box-shadow: inset 3px 3px 3px #333;
     box-shadow: inset 0 0 0 1px #fff, inset 3px 3px 3px #333;
}

#pagenav img.disable, #pagenav img.disable:hover, #pagenav a:active img.disable {
     opacity: 0.2;
     margin-right: 0;
     background: none;
     filter: none;
     -webkit-filter: none;
}

.headerstatus {
     text-align: left;
     padding-left: 15px;
}

.headerpriority {
     text-align: left;
     padding-left: 10px;
}

.ParentDir {
     background: #fff;
     font-size: 8pt;
     border: none;
     text-align: left !important;
     padding: 4px 0;
}

.priority {
     font-size: 7pt;
     vertical-align: middle;
     min-width: 160px;
}

.snarkTorrents {
     margin: -1px 0;
     background: #fff;
}

.snarkTorrents thead th:nth-child(2) {
     text-align: left;
}

.snarkTorrents thead th:nth-child(3) {
     text-align: right !important;
}

.snarkTorrents thead th:nth-child(6), .snarkTorrents thead th:nth-child(7) {
     text-align: center !important;
}

.snarkTorrents td {
     line-height: 110%;
}

.snarkTorrents td:nth-child(1) {
     width: 20px !important;
     text-align: left;
     padding: 2px;   
}

.snarkTorrents td:nth-child(2) {
     word-spacing: -0.08em;
}

.snarkTorrents td:nth-child(3), .SnarkTorrents td:nth-child(4) {
     width: 16px !important;
     padding: 2px 1px 2px 0;
}

.SnarkTorrents td:nth-child(4) {
     text-align: left;
}

.snarkTorrents th[colspan="6"]::first-line {
     font-weight: bold;
}

.snarkTorrents th[colspan="6"] {
     font-weight: normal;
}

.snarkTorrents tfoot th {
     padding: 8px 4px !important;
     background: #fff;
     vertical-align: top;
}

.snarkTorrents td:nth-child(n+6), .snarkTorrents tfoot th:nth-child(n+2) {
     font-variant: all-small-caps !important;
     word-spacing: -0.2em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.snarkTorrents td:nth-child(n+6), .snarkTorrents tfoot th:nth-child(n+2) {
     font-variant: normal !important;
}
}

td {
     padding: 2px 4px;
     color: #272e3f !important;
     opacity: 1;
     font-size: 9pt;
}

.mainsection td {
     color: #272e3f;
}

td:first-child {
     text-align: right;
}

.center {
     text-align: center !important;
}

.snarkTorrentName {
     padding: 0;
     line-height: 90%;
}

.snarkTorrentAction {
     text-shadow: 1px 1px #550000;
     padding: 2px 1px !important;
     margin: 0 !important;
     text-align: center;
     width: 60px;
     white-space: nowrap;
}

.snarkTorrentAction img {
     margin: 0 2px !important;
     opacity: 1;
}

.snarkTorrentAction img:hover {
     box-shadow: 0 0 1px 1px #f90;
     opacity: 1;
}

.snarkTorrents th:last-child br { /* kill "start all/stop all" button wrapping in the header */
     display: none;
}

.snarkTorrentAction input[type="image"], .snarkTorrents th:last-child input[type="image"] {
     padding: 3px !important;
     background: #339;
     background: linear-gradient(to bottom, #fff 0%, #fff 50%, #ddf 51%, #ddf 100%);
     border-radius: 2px;
     border: 1px solid #89f;
     margin: 2px;
     filter: drop-shadow(0 0 1px #ddd);
     -webkit-filter: drop-shadow(0 0 1px #ddd);
     height: 10px;
}

.snarkTorrentAction input[type="image"]:hover, .snarkTorrentAction input[type="image"]:focus, .snarkTorrents th:last-child input[type="image"]:hover, .snarkTorrents th:last-child input[type="image"]:focus {
     filter: hue-rotate(110deg);
     -webkit-filter: hue-rotate(110deg);
}

.snarkTorrentAction input[type="image"]:active, .snarkTorrents th:last-child input[type="image"]:active {
     box-shadow: inset 3px 3px 3px #333;
     box-shadow: inset 0 0 0 1px #fff, inset 3px 3px 3px #333;
     filter: hue-rotate(110deg) !important;
     -webkit-filter: hue-rotate(110deg) !important;
}

.snarkTorrentEven {
     font-size: 8pt;
     background: #eef;
}

.snarkTorrentNoneLoaded {
     background: #fff;
     font-size: 8.5pt;
     font-weight: bold;
     text-align: center !important;
     color: #bbb !important;
}

.snarkTorrentStatus {
     padding: 2px 2px 2px 0;
     line-height: 90%;
}

.snarkTorrentStatus a:visited {
     color: #559;
}

.snarkTorrentStatus a:hover {
     color: #f60;
}

.snarkTorrentStatus:first-child {
     text-align: left !important;
     padding-left: 0;
     min-width: 48px;
     font-weight: bold;
     color: #dd9 !important;
     font-size: 8pt;
     padding: 1px !important;
}

.snarkTorrentStatus:first-child img {
     margin-right: 10px !important;
     margin-left: 6px;
}

.snarkTorrentRateUp, .snarkTorrentRateDown, .snarkTorrentDownloaded, .snarkTorrentUploaded {
     padding: 0 3px;
     line-height: 90%;
}


.snarkTorrentDownloaded, .snarkTorrents tfoot th:nth-last-child(5) {
     text-align: center;
}

.snarkTorrentOdd {
     background: #e0e0ff;
     font-size: 8pt;
}

.snarkTorrentOdd td, .snarkTorrentEven td {
     border-top: 1px solid #bbf !important;
}

.snarkTorrents tr:hover, .snarkTorrents tr:hover td, .snarkDirInfo tr:hover, .snarkDirInfo tr:hover td {
     background: #ffd;
     border-top: 1px solid #7778bf !important;
     border-bottom: 1px solid #7778bf !important;
     box-shadow: none !important;
     color: #0c111f !important;
}

.snarkTorrents tr:hover img {
     mix-blend-mode: normal;
}

.snarkTorrentEven + .snarkTorrentEven td:nth-child(2), .snarkTorrentOdd td + .snarkTorrentOdd td:nth-child(2) {
     padding: 4px 0;
     text-align: left;
}

.snarkTorrentEven + .snarkTorrentEven:nth-child(even), .snarkTorrentOdd + .snarkTorrentOdd:nth-child(even) {
     background: #e0e0ef;
}

.snarkTorrentEven + .snarkTorrentEven:nth-child(odd), .snarkTorrentOdd + .snarkTorrentOdd:nth-child(odd) {
     background: #d1d1ef;
}

.snarkFileName {
     padding: 4px 0 !important; 
     text-align: left !important;
     font-size: 8pt !important;
}

.snarkFileSize {
     padding: 4px 2px;
     font-weight: normal;
}

.snarkFileStatus {
     padding: 4px 5px 4px 15px;
     font-style: italic;
     text-align: left;
     min-width: 230px;
}

.snarkTorrentETA {
     font-style: italic;
}

.choked {
     color: #f00000 !important;
}

.unchoked {
     color: #070 !important;
}

.thumb {
     max-width: 16px;
     transition: ease all 0.3s 0s;
}

.thumb:hover {
     max-height: 80px;
     max-width: 80px;
     transition: ease all 0.3s 0s;
}

.snarkNewTorrent {
     font-size: 9pt;
}

.snarkAddInfo {
     font-size: 9pt;
     line-height: 130% !important;
}

.snarkConfigTitle:hover, .toggleview:hover {
     background: linear-gradient(#fff 0%, #fff 50%, #ffe8bf 50%, #efd9b3 100%);
}

.snarkConfigTitle a {
     font-size: 11pt !important;
}

.snarkConfigTitle:hover a, .snarkConfigTitle:focus a {
     color: #f60 !important;
}

.snarkConfigTitle, label.toggleview,
.configsectionpanel .snarkConfigTitle:hover {
     font-size: 11pt;
     font-weight: bold;
     padding: 2px 15px 2px 15px;
     margin: 0 0 -3px 0 !important;
     letter-spacing: 0.15em;
     border: 1px solid #7778bf;
     border-top: 0;
     background: #fff url("../../console/light/images/header.png") repeat-x scroll center center;
     background: linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 51%, #eef 100%);
     font-variant: small-caps !important;
     box-shadow: 0 1px 3px #999;
     display: inline-block;
     min-width: 220px;
     color: #559 !important;
}

.snarkConfigTitle img:hover { /* inert titles */
     color: #40404f;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.snarkConfigTitle a, label.toggleview {
     font-size: 14pt !important;
     padding: 1px 15px 4px;
}
}

.snarkConfigTitle a:visited {
     color: #559;
}

.snarkConfigTitle a:hover, .toggleview:hover {
     color: #f60 !important;
     cursor: pointer;
}

.snarkConfigTitle a:active, .toggleview:active {
     color: #f30 !important;
}

.snarkConfigTitle img, .toggleview img {
     margin: -2px -3px 0 0;
     vertical-align: middle;
}

.snarkConfigTitle:hover img, .toggleview:hover img {
     filter: drop-shadow(0 0 1px #f60);
     -webkit-filter: drop-shadow(0 0 1px #f60);
}

.snarkConfigTitle:active a img, .toggleview:active img {
     filter: drop-shadow(0 0 1px #f30) !important;
     -webkit-filter: drop-shadow(0 0 1px #f30) !important;
     transform: rotate(90deg);
     transition: ease transform 0.3s 0s;
}

.snarkConfigTitle {
     color: #446;
}

.snarkConfig {
     font-size: 10pt;
     width: 100%;
}

.snarkTorrentInfo, .snarkDirInfo {
     margin: 10px 0 0 0 !important;
     background: #fff;
}

.snarkTorrentInfo td:first-child, .snarkDirInfo td:first-child {
     width: 16px;
     padding-left: 2px !important;
     text-align: left;
}

.snarkTorrentInfo th {
     text-align: left;
     padding: 6px 1px;
}

.snarkTorrentInfo td {
     text-align: left !important;
     padding: 3px 0 3px 1px !important;
     border-top: 1px solid #bbf;
     vertical-align: middle;
}

.snarkTorrentInfo img {
     max-height: 16px;
}

.snarkTorrentInfo tr:nth-child(odd) {
     background: #e0e0ff; 
}

.snarkTorrentInfo tr:nth-child(even) {
     background: #eef; 
}

.snarkTorrentInfo tr:last-child td {
     border-bottom: 1px solid #7778bf; 
}

.snarkTorrentInfo input {
     float: right;
}

.snarkDirInfo thead img {
     margin: 0 !important;
     padding: 0 2px !important;
}

.snarkDirInfo td {
     min-width: 0 !important;
}

.snarkDirInfo .ParentDir a, .snarkDirInfo .snarkFileName a, .snarkTorrents .snarkTorrentName a {
     display: inline-block;
     width: 100%;
     padding: 2px 0;
}

table#trackerselect {
     width: 100% !important;
     border-collapse: separate;
     border-spacing: 5px;
     margin-bottom: 0;
}

#trackerselect tr:first-child td:last-child {
     width: 150px;
     display: inline-block;
     padding: 3px 5px;
}

#trackerselect tr:first-child td:nth-child(n+2) {
     border: 1px solid #89f !important;
     border-radius: 2px;
     background: linear-gradient(to bottom, #fff 0%, #fff 50%, #eef 51%, #eef 100%) #fff;
     box-shadow: inset 0 0 0 1px #fff;
     filter: drop-shadow(0 0 1px #999);
     -webkit-filter: drop-shadow(0 0 1px #ccc);
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

#trackerselect td {
     padding: 2px;
}

#trackerselect td:first-child {
     width: 100px !important;
     white-space: nowrap;
}

#trackerselect td:nth-child(2), #trackerselect td:nth-child(3) {
}

#trackerselect td:last-child {
     overflow: hidden;
     text-overflow: ellispis;
}

form {
     margin-bottom: 0;
}

p {
     line-height: 150%;
}

hr {
     color: #444;
     background: #444;
     height: 1px;
     border: 0 solid #444;
     width: 0;
     margin: 5px 0 7px 0;
     text-align: center;
}

hr.debug {
     width: 100%;
     margin: 3px 0;
}

hr.debug:nth-child(n+7) {
     margin-top: -10px;
     background: #339;
}

.headerpriority br {
     display: none;
}

input[name="savepri"] {
     float: right;
}

input {
     font-size: 9pt;
     font-weight: bold;
     text-align: left;
     padding: 4px !important;
     border-radius: 2px;
     border: 1px solid #7778bf;
     background: #fff;	 
     color: #272e3f;
     margin: 2px 4px 2px 0;
     font: bold 8pt "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
     box-shadow: inset 0 0 1px #fff, 0 0 1px #999;
}

input.r {
     text-align: right;
     background: #fff;
     border: 1px solid #7778bf;
}

input[type=submit], a.control {
     color: #227;
     background: #fff;
     background: linear-gradient(to bottom, #fff 0%, #fff 50%, #ddf 50%, #ddf 100%);
     border: 1px solid #7778bf;
     padding: 2px;
     font: bold 8pt "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
     margin: 6px 10px 6px 0;
     border-radius: 2px;
     min-width: 90px;
     text-align: center;
     box-shadow: inset 0 0 0 1px #fff;
}

input[type=submit] {
     padding: 5px !important;
}

input[type=submit]:hover, input[type=submit]:focus, a.control:hover, a.control:focus {
     color: #f60;
     border: 1px solid #559;
     background: #eef;
     background: linear-gradient(#fff 0%, #fff 50%, #ffe8bf 50%, #efd9b3 100%);
     box-shadow: inset 0 0 0 1px #fff;
}

input[type=submit]:active, a.control:active {
     background: #f60 !important;
     color: #fff !important;
     box-shadow: inset 3px 3px 4px #333;
     box-shadow: inset 0 0 0 1px #fff, inset 3px 3px 4px #333;
}

input[type=image], thead img {
     padding: 0 !important;
     border-radius: 0;
     border: none;
     margin: 0 2px;
     opacity: 1;
     filter: hue-rotate(45deg);
     -webkit-filter: hue-rotate(45deg);
}

.iframed thead img {
     max-height: 20px;
}

thead a:hover img {
     filter: drop-shadow(0 0 1px #f60);
     -webkit-filter: drop-shadow(0 0 1px #f60);
}

.addtorrentsection input[type="text"], .newtorrentsection input[type="text"] {
     width: 80%;
}

thead img.disable, img.disable:hover {
     opacity: 0.4;
}

input[type="text"]:focus, input.r:focus, textarea:focus, input[name="nofilter_dataDir"]:focus {
     background: #fff;
     color: #009;
     border: 1px solid #66f;
     transition: ease filter 0.3s 0s;
     box-shadow: none;
}

input[type="text"], input.r, input[name="nofilter_dataDir"], textarea, select {
     min-width: 120px;
     box-shadow: 1px 1px 1px #aaa inset;
     background: #eef;
     padding: 5px 4px !important;
}

input[type="radio"] {
     padding: 2px;
     margin: 0 3px 0 8px;
     vertical-align: bottom;
}

input[type="radio"], input[type="checkbox"], .optbox {
     border: none !important;
     width: 16px;
     height: 16px;
     box-shadow: none;
}

input.default {
     width: 1px; 
     height: 1px; 
     visibility: hidden;
     display: none;
}

input.disabled, input.disabled:hover, a.controld {
     background-color: #fff;
     border: 1px inset #191;
     color: #459;
     font-weight: normal;
     display: none;
}

select {
     background: #eef url(images/dropdown.png) right center no-repeat !important;
     font: 8pt "Droid Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
     font-weight: bold;
     padding: 5px 16px 5px 3px !important;
     border-radius: 2px;
     border: 1px solid #7778bf;
     margin: 2px 4px 2px 0;
     -moz-appearance: none;
     -webkit-appearance: none;
     color: #272e3f;
}

select:focus {
     color: #001 !important;
     background: #fff url(images/dropdown.png) right center no-repeat !important;
}

select:active, select option {
     background: #fff;
}

select + select {
     margin-left: -20px;
}

textarea {
     background: #eef;
     color: #272e3f;
     font-weight: bold;
     padding: 2px 4px;
     border-radius: 2px;
     border: 1px solid #66f;
     font-size: 8pt;
}

select:hover, input[type="checkbox"], input[type="radio"], input[type="submit"] {
     cursor: pointer;
}

.optbox[disabled], .optbox[disabled]:hover, .optbox[name^="ttype"], .optbox[name^="ttype"]:hover, .optbox[name^="ttype"]:checked  {
     cursor: default;
     opacity: 0.6 !important;
     filter: none !important;
}

img {
     border: none;
     margin: 0 3px 1px 3px;
     vertical-align: middle;
     opacity: 1.0;
     line-height: 100%;
     filter: drop-shadow(0 0 1px #999);
     -webkit-filter: drop-shadow(0 0 1px #999);
}

img:hover {
     border: none;
     opacity: 1;
     line-height: 100%;
}

img[src$="magnet.png"] {
     transform: rotate(-90deg);
}

img[src$="details.png"] {
     mix-blend-mode: luminosity;
}

.newtorrentsection td:first-child, .addtorrentsection td:first-child, .configsectionpanel td:first-child {
     width: auto !important;
}

.configsectionpanel td:first-child {
     padding-right: 5px;
}

.configsectionpanel .snarkConfigTitle:hover img {
     filter: drop-shadow(0 0 1px #999);
}

.section, .mainsection .section, .mainsection {
     margin: 0;
     padding: 0;
     color: #001;
     word-wrap: break-word;
     text-align: center;
     opacity: 1 !important;
}

.page > .mainsection {
     margin-top: 10px;
}

.newtorrentsection {
     margin: 0 0 10px 0;
     padding: 0 10px;
     border: 1px solid #7778bf;
     text-align: center;
     color: #001;
     box-shadow: inset 0 0 0 1px #fff, inset 0 0 8px 0 #bbf;
     word-wrap: break-word;
     background: #fff url(images/snark_create.png) no-repeat right center;
     background: url(images/snark_create.png) no-repeat right center, linear-gradient(to bottom, #fff, #e0e0ef);
     background-size: 80px 80px, 100%;
     background-blend-mode: luminosity;
}

.addtorrentsection {
     margin: 10px 0;
     padding: 0 10px;
     border: 1px solid #7778bf;
     text-align: center;
     color: #001;
     box-shadow: inset 0 0 0 1px #fff, inset 0 0 8px 0 #bbf;
     word-wrap: break-word;
     background: #fff url(images/snark_add.png) no-repeat right center;
     background: url(images/snark_add.png) no-repeat 99% center, linear-gradient(to bottom, #fff, #e0e0ef);
     background-size: 61px 61px, 100%;
     background-blend-mode: luminosity;
}

.configsection {
     margin: 0;
     padding: 0 10px 13px 10px;
     border: 1px solid #7778bf;
     color: #001;
     box-shadow: inset 0 0 0 1px #fff, inset 0 0 8px 0 #bbf;
     word-wrap: break-word;
     text-align: center;
     font-weight: bold;
     background: #fff url(images/configuration.png) 102% center no-repeat;
     background: url(images/configuration.png) 102% center no-repeat, linear-gradient(to bottom, #fff, #e0e0ef);     
     background-size: 84px 82px, 100%;
     background-blend-mode: luminosity;
}

.configsectionpanel {
     margin: -12px 0 0;
     padding: 0 10px;
     border: 1px solid #7778bf;
     color: #001;
     border-radius: 0 0 2px 2px;
     box-shadow: inset 0 0 0 1px #fff, inset 0 0 8px 0 #bbf;
     word-wrap: break-word;
     text-align: center;
     background: #fff url(images/configuration.png) no-repeat scroll right center;
     background: url(images/configuration.png) no-repeat scroll right center, linear-gradient(to bottom, #fff, #e0e0ef);
     background-size: 84px 82px, 100%;
     background-blend-mode: luminosity;
     font-weight: bold;
}

form:last-child .configsectionpanel {
     margin-top: 10px;
}

.configsectionpanel tr:nth-last-child(2) td {
     text-align: right !important;
     border-top: 1px solid #7778bf;
     padding: 8px 0 0 0;
}

.configsectionpanel tr:last-child {
     display: none;
}

.newtorrentsection, .addtorrentsection, .configsection, .configsectionpanel {
     margin-bottom: -1px;
     border-left: none;
     border-right: none;
}

.newtorrentsection form, .configsection form, .addtorrentsection form {
     color: #001 !important;
}

.newtorrentsection table, .addtorrentsection table {
     margin-top: -5px;
} 

.newtorrentsection td:first-child, .addtorrentsection td:first-child {
     min-width: 140px;
     font-weight: bold;
}

#trackerselect {
     margin-top: 0;
}

#trackerselect tr:first-child {
     font-weight: bold;
}

#trackerselect td:first-child {
     font-weight: normal;
}

.configsection a {
     color: #55a;
     font-weight: bold;
}

code, tt {
     font-size: 8.5pt;
     color: #0045ff;
     font-weight: bold;
     font-family: "Droid Sans Mono", "Lucida Console", "DejaVu Sans Mono", Courier, mono;
}

.routerdown {
     color: #001;
}

.trackerconfig {
     text-align: left !important;
     width: 100%;
     border-collapse: separate;
     border-spacing: 0;
}

.trackerconfig th:first-child {
     border-radius: 2px 0 0 2px;
     border-left: 1px solid #339;
}


.trackerconfig th:last-child {
     border-radius: 0 2px 2px 0;
     border-right: 1px solid #339;
}

.trackerconfig th:nth-child(n+4), .trackerconfig th:nth-child(n+5), .trackerconfig td:nth-child(n+4), .trackerconfig td:nth-child(n+5) {
     text-align: center !important;
}

.trackerconfig th, .trackerconfig td, .trackerconfig th:last-child, .trackerconfig td:last-child {
     text-align: left !important;
}

.trackerconfig td:first-child {
     text-align: right !important;
}

input.trackername {
     width: 100px;
}

input.trackerhome {
     width: 200px;
}

input.trackerannounce {
     width: 230px;
}

/* toggle create/add panel view */

input.toggle_input { /* hide checkbox and use label as faux panel heading */
     display: none;
}

input#toggle_addtorrent:not(checked) + label + hr + table, input#toggle_createtorrent:not(checked) + label + hr + table {
     display: none;
}

input#toggle_addtorrent:checked + label + hr + table, input#toggle_createtorrent:checked + label + hr + table {
     display: table;
}

 /* display panels by default on webkit based browsers (midori fix) */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
input#toggle_addtorrent:not(checked) + label + hr + table, input#toggle_createtorrent:not(checked) + label + hr + table {
     display: table;
}

input#toggle_addtorrent:checked + label + hr + table, input#toggle_createtorrent:checked + label + hr + table {
     display: none;
}
}
*/

/* display by default in iframe to avoid overflow issue */
.iframed input#toggle_addtorrent:not(checked) + label + hr + table, .iframed input#toggle_createtorrent:not(checked) + label + hr + table {
     display: table;
}

.iframed input#toggle_addtorrent:checked + label + hr + table, .iframed input#toggle_createtorrent:checked + label + hr + table {
     display: none;
}

/*responsive layout */

@media screen and (max-width: 1000px) {
body, td, .snarkMessages li, .snarkMessages a, button, input, select, .snarkAddInfo, code, tt, th, a, a:link, .snarkAddInfo, .snarkFileStatus {
     font-size: 8pt !important;
}

.snarkConfigTitle a {
     font-size: 10.5pt !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.snarkConfigTitle a, label.toggleview {
     font-size: 12pt !important;
}
}
}

/* enable to hide status text, upload speed + upload amount in main torrent table at 800px or less */
/*
@media screen and (max-width: 800px) {
.snarkTorrents th:nth-child(2), .snarkTorrents td:nth-child(2),
.snarkTorrents th:nth-child(7), .snarkTorrents tfoot th:nth-child(3), .snarkTorrents td.snarkTorrentUploaded,
.snarkTorrents th:nth-child(9), .snarkTorrents tfoot th:nth-child(5), .snarkTorrents td.snarkTorrentRateUp {
     max-width: 0 !important;
     overflow: hidden;
     white-space: nowrap;
     font-size: 0 !important;
     padding: 0 !important;
}

.snarkTorrents th:nth-child(7) img {
     display: none;
}
}
*/

@media screen and (min-width: 1400px) {
body, td, button, input, select, .snarkAddInfo, code, tt, th, a, a:link {
     font-size: 10pt !important;
}

.snarkMessages li, .snarkMessages a {
     font-size: 9pt !important;
     line-height: 130%;
}

a.snarkRefresh {
     font-size: 11pt !important;
}

a.snarkRefresh:first-child {
     padding-left: 16px !important;
}

.configsectionpanel .snarkConfigTitle:hover {
     font-size: 12pt !important;
     padding: 3px 15px !important;
}

.snarkConfigTitle a, label.toggleview {
     font-size: 12pt !important;
     padding: 1px 15px 4px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.snarkConfigTitle a, label.toggleview {
     font-size: 15pt !important;
     padding: 1px 15px 4px;
}
}

input[type="submit"] {
     min-width: 100px;
}

.snarkMessages {
     height: 58px;
}

.snarkConfigTitle, label.toggleview {
     font-size: 12pt;
     padding: 3px 15px;
}
}